.tag {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  height: map-get($space, x-lg);
  padding: 0 map-get($space, sm);
  border-radius: map-get($radius, xl);
  background-color: $tag-background;
  color: $tag-color;
  font-size: map-get($typography-font-size, xs);
  font-weight: map-get($typography-font-weight, bold);
  text-transform: uppercase;
  cursor: pointer;

  @each $key in $tag-keys {
    &--#{$key} {
      --tag-background: #{get-color(#{$key}, lighter)};
      --tag-color: #{get-color(#{$key})};
    }
  }
}
