@import "partials/variables";

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.72222;
    background: $grey-50;
}
p,a {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    line-height: 22px;
}

h1 {
    color: $color-white;
    font-weight: 300;
    font-size: 42px;
}

h2 {
    color: $color-secondary;
    font-size: 38px;
    font-weight: 100;
}

h3, h4, h5, h6 {
    color: $color-secondary;
}

.header {
    padding: 20px 0;
    display: block;
    width: 100%;
    background: #3a3b52;
    z-index: 9;
    overflow: hidden;

    .logo {
        display: block;
        max-width: 220px;
        padding: 10px 0px;
        img {
            width: 100%;
        }
    }

    ul.navigation__horizontal li {
        margin: 0 2px;
    }

    ul.navigation__horizontal li a {
        color: $color-white;
        font-weight: 500;
        font-size: 14px;
        border-radius: 2px;
    }

    ul.navigation__horizontal li a:hover {
        background: rgba(0,0,0,0.1);
    }

    ul.navigation__horizontal a.active {
        color: $color-primary;
        background: rgba(0,0,0,0.1);
    }
}

.header-description {
    padding: 30px 0 40px 0;
    background-color: $color-secondary;
    .button-large {
        margin: 10px 6px;
    }
    p {
        color: $color-white;
    }
}

.footer {
    width: 100%;
    background: $color-secondary;
    padding: 50px 0px;
    margin-top: 40px;
    p {
        color: $color-white;
    }
    a {
        text-decoration: none;
        color: $color-white;
        font-weight: 400;
    }
    ul  {
        li {
            a {
                text-decoration: none;
                color: $color-white;
            }
        }
    }
}


/** Get Started **/
.features {
    display: block;
    padding: 20px 0px;
    span {
        display: table;
        margin: auto;
        font-size: 52px;
    }
    h4 {
        text-align: center;
        color: #3A3B52;
    }
    p {
        text-align: center;
    }
}

/** CSS Components */
.css-components {
    background: #fb3c68;
    ul.navigation__horizontal {
        li {
            a {
                color: rgba(255,255,255, 0.6);
                font-weight: 400;
                border-top: 2px solid #fb3c68;
                border-bottom: 2px solid #fb3c68;
                text-transform: uppercase;
                &.active {
                    color: $color-white;
                    border-bottom: 2px solid $color-white;
                }
                &:hover {
                    background: #fb3c68;
                    color: $color-white;
                }
            }
        }
    }
}

/** Grid System */
.column {
    background-color: $bluegrey-500;
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 2%;
    color: $color-white;
    font-size: 16px;
    font-weight: 100;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.custom-hr {
    background: $bluegrey-500;
    height: 1px;
    border: 0px;
}

.syntaxhighlighter {
    background: $color-white!important;
}

code {
    background: $color-primary;
    color: $color-white;
    padding: 4px 6px;
    font-size: 0.9em;
    border-radius: 2px;
    margin: 4px 2px;
    display: inline-block;
}
