@use "sass:list";
@use "sass:string";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($separator-root) {
  margin: 0;
  margin-block: theme.get-var(margin-block);
  margin-inline: theme.get-var(margin-inline);
  background-color: theme.get-var(background-color);
  border: none;

  &--horizontal {
    width: 100%;
    height: 1px;
  }

  &--vertical {
    width: 1px;
  }

  // Skin
  @each $key, $value in $separator-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: $value,
        )
      );
    }
  }
  // Spacing
  @each $key, $value in $separator-spacing {
    &--space-inline-#{$key} {
      @include theme.define-var(
        (
          margin-inline: $value,
        )
      );
    }

    &--space-block-#{$key} {
      @include theme.define-var(
        (
          margin-block: $value,
        )
      );
    }
  }
}
