@use "@stewed/react/src/theme/src/styles" as theme;

$spinner-root: "spinner";

/// Sizes
$spinner-sizes: (
  "xxs": 10px,
  "xs": 14px,
  "sm": 16px,
  "md": 20px,
  "lg": 24px,
  "xl": 28px,
  "2xl": 36px,
  "3xl": 42px,
  "4xl": 50px,
  "5xl": 58px
);

/// Skins
$spinner-skins: ("primary", "secondary", "neutral");
