@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@include theme.scope($spinner-root) {
  position: relative;
  width: theme.get-var(width);
  height: theme.get-var(height);

  &__svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: theme.get-var(fill);
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  // Sizes
  @each $key, $value in $spinner-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          width: #{$value},
          height: #{$value},
        )
      );
    }
  }

  // Skins
  &--default {
    @include theme.define-var(
      (
        fill: currentColor,
      )
    );
  }

  &--white {
    @include theme.define-var(
      (
        fill: #{theme.get-color("white")},
      )
    );
  }

  @each $key, $value in $spinner-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          fill: #{theme.get-color($key, "500")},
        )
      );
    }
  }
}
