.form-field {
  display: inline-flex;
  align-items: center;
  font-family: $form-field-font-family;
  margin-bottom: $baseline * 2;

  label {
    display: inline-flex;
    align-items: center;
    padding-left: $form-field-padding-left;
    color: currentColor;
    cursor: pointer;

    @include get-typography(base);
  }

  &--column {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    label {
      margin-bottom: $baseline;
      font-weight: map-get($typography-font-weight, bold);
    }
  }
}
