@use "@stewed/react/src/theme/src/styles" as theme;

$button-root: "button";

/// Skins
$button-skins: ("primary", "secondary", "neutral", "critical", "success");

/// Sizes
$button-sizes: (
  "xs": 24px,
  "sm": 32px,
  "md": 40px,
  "lg": 48px,
  "xl": 56px
);
