@use 'sass:map';
@use '../theme' as theme;
@use './variables' as *;

@include theme.scope($radio-root) {
    --radio-color: #{theme.get-color(secondary, 300)};

    display: inline-block;
    position: relative;
    width: var(--radio-size);
    height: var(--radio-size);
    border-radius: 50%;

    @include theme.focus-styles();
    @include theme.disabled-styles();

    @include theme.hover {
        #{$radio-root}__background {
            --radio-color: #{theme.get-color(secondary, 400)};
        }
    }

    &__control {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        cursor: pointer;
        overflow: hidden;

        &:checked {
            + .radio__background {
                &::after {
                  scale: 1;
                }
            }
        }
    }

    &__background {
        pointer-events: none;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--radio-color);

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid currentColor;
            border-radius: 50%;
            content: '';
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: currentColor;
            border-radius: 50%;
            width: calc(var(--radio-size) / 2);
            height: calc(var(--radio-size) / 2);
            translate: -50% -50%;
            scale: 0;
            content: '';

            @include theme.transition(scale);
        }
    }

    @each $key, $value in $radio-skins {
        &--#{$key} {
            #{$radio-root} {
                &__control {
                    &:checked {
                        + .radio__background {
                            --radio-color: #{theme.get-color($value, 500)};
                        }
                    }
                }
            }
        }
    }

    @each $key, $value in $radio-sizes {
        &--#{$key} {
            --radio-size: #{$value};
        }
    }
}
