body {
  max-width: 1440px;
  margin: auto;
}

.demo-section {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  border: solid #f8f9fa;
  border-width: .2rem 0 0;
}

.demo-section .demo-title {
  color: var(--theme-color-accent);
}

.demo-radio {
  margin-right: 8px;
}

.demo-switch {
  margin-right: 16px;
}

.demo-head {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
}

.demo-link {
  position: relative;
}
