.radio {
  position: relative;

  [input] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  label {
    display: flex;
    align-items: flex-start;

    &::before {
      display: block;
      border-radius: 50%;
      border: 1px solid $grey300;
      transition: 100ms ease-in-out background-color, border-color;
      background-color: $white;
      flex-shrink: 0;
      content: "";
    }
  }

  [input]:checked ~ label::before {
    border: 1px solid transparent;
    background-color: $purple500;
  }

  [input]:checked ~ label::after {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: $white;
    content: "";
  }

  [input]:disabled:checked ~ label::before {
    border: 1px solid $grey300;
    background-color: #fff;
  }

  [input]:disabled:checked ~ label::after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    background-color: $grey200;
  }

  [input]:not(:disabled) ~ label {
    cursor: pointer;
  }

  [input]:not(:disabled):not(:checked) ~ label:hover::before {
    background-color: $grey000;
    border-color: $navy600;
  }

  &__label-group {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  &__label {
    margin-top: 2px;
    color: $navy900;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
  }

  &__hint {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: $navy800;
    margin-top: 4px;
  }

  &--small label::before {
    width: 14px;
    height: 14px;
  }

  &--small label::after {
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
  }

  &--medium label::before {
    width: 16px;
    height: 16px;
  }

  &--medium label::after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
  }
}
