$stw-radio-width: $theme-baseline * 5;
$stw-radio-height: $theme-baseline * 5;
$stw-radio-color-default: map-get($theme-color-grey, "darken");
$stw-radio-color-active: map-get($theme-color-pink, "base");
