@use "@stewed/react/src/theme/src/styles" as theme;

$progress-root: "progress";

/// Heights
$progress-heights: (
  "xs": theme.get-spacing("xs"),
  "sm": theme.get-spacing("sm"),
  "md": theme.get-spacing("md"),
  "lg": theme.get-spacing("lg"),
  "xl": theme.get-spacing("xl"),
);

/// Skins
$progress-skins: (
  "white",
  "primary",
  "secondary",
  "neutral",
  "critical",
  "success",
  "info",
  "warning"
);
