@use "@stewed/react/src/theme/src/styles" as theme;

$progress-root: "progress";
$progress-background: theme.get-color("gray", "50");
$progress-border-radius: theme.get-radius("xl");
$progress-sizes: (
  "xs": theme.get-spacing("xs"),
  "sm": theme.get-spacing("sm"),
  "md": theme.get-spacing("md"),
  "lg": theme.get-spacing("lg"),
  "xl": theme.get-spacing("xl"),
);
$progress-skins: (
  "primary": "primary",
  "secondary": "secondary",
  "info": "blue",
  "success": "green",
  "warning": "yellow",
  "error": "red",
);
