@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($progress-root) {
  @include theme.define-var(
    (
      radius: 0,
    )
  );

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__control {
    position: relative;
    width: 100%;
    height: theme.get-var(height);
    appearance: none;
    border: 0;

    &::-webkit-progress-bar {
      background-color: color-mix(in srgb, theme.get-var(background-color) 20%, transparent);
      border-radius: theme.get-var(radius);
      box-shadow: none;
    }

    &::-moz-progress-bar {
      background-color: color-mix(in srgb, theme.get-var(background-color) 20%, transparent);
      border-radius: theme.get-var(radius);
      box-shadow: none;
    }

    &::-webkit-progress-value {
      background-color: theme.get-var(background-color);
      border-radius: theme.get-var(radius);
      box-shadow: none;
    }
  }

  &__steps {
    position: absolute;
    inset: 0;
  }

  &__dot {
    position: absolute;
    top: 50%;
    width: theme.get-var(height);
    height: theme.get-var(height);
    background-color: color-mix(in srgb, theme.get-var(background-color) 20%, transparent);
    border-radius: 50%;
    scale: 0.5;
    translate: -100% -50%;

    &:first-child {
      translate: 0% -50%;
    }
  }

  // Height
  @each $key, $value in $progress-heights {
    &--#{$key} {
      @include theme.define-var(
        (
          height: #{$value},
        )
      );
    }
  }

  // Skins
  @each $key, $value in $progress-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: #{theme.get-color($key)},
        )
      );
    }
  }

  &--rounded {
    @include theme.define-var(
      (
        radius: theme.get-radius("xl"),
      )
    );
  }
}
