@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "./variables" as *;

@include theme.scope($progress-root) {
  --progress-radius: 0;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__control {
    width: 100%;
    height: var(--progress-size);
    appearance: none;
    border: 0;

    &::-webkit-progress-bar {
      background-color: $progress-background;
      border-radius: var(--progress-radius);
      box-shadow: none;
    }

    &::-moz-progress-bar {
      background-color: $progress-background;
      border-radius: var(--progress-radius);
      box-shadow: none;
    }

    &::-webkit-progress-value {
      background-color: var(--progress-background);
      border-radius: var(--progress-radius);
      box-shadow: none;
    }
  }

  @each $key, $value in $progress-sizes {
    &--#{$key} {
      --progress-size: #{map.get($progress-sizes, $key)};
    }
  }

  @each $key, $value in $progress-skins {
    &--#{$key} {
      --progress-background: #{theme.get-color($value, "500")};
    }
  }

  &--rounded {
    --progress-radius: #{$progress-border-radius};
  }
}
