@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($progress-root) {
  @include theme.define-var(
    (
      radius: 0,
    )
  );

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__control {
    width: 100%;
    height: theme.get-var(height);
    appearance: none;
    border: 0;

    &::-webkit-progress-bar {
      background-color: theme.get-color("neutral", "faded");
      border-radius: theme.get-var(radius);
      box-shadow: none;
    }

    &::-moz-progress-bar {
      background-color: theme.get-color("neutral", "faded");
      border-radius: theme.get-var(radius);
      box-shadow: none;
    }

    &::-webkit-progress-value {
      background-color: theme.get-var(background-color);
      border-radius: theme.get-var(radius);
      box-shadow: none;
    }
  }

  @each $key, $value in $progress-heights {
    &--#{$key} {
      @include theme.define-var(
        (
          height: #{$value},
        )
      );
    }
  }

  @each $value in $progress-skins {
    &--#{$value} {
      @include theme.define-var(
        (
          background-color: #{theme.get-color($value)},
        )
      );
    }
  }

  &--rounded {
    @include theme.define-var(
      (
        radius: theme.get-radius("xl"),
      )
    );
  }
}
