@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($toggle-root) {
  @include theme.define-var(
    (
      background-color: transparent,
      border-color: currentColor,
      border-width: 1px,
      border-radius: theme.get-var(radius),
    )
  );

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  gap: theme.get-spacing("sm");
  align-items: center;
  justify-content: center;
  min-width: theme.get-var(size);
  height: theme.get-var(size);
  padding-block: theme.get-var(padding-block);
  padding-inline: theme.get-var(padding-inline);
  overflow: hidden;
  color: theme.get-var(color);
  text-overflow: ellipsis;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: theme.get-var(background-color);
  border: theme.get-var(border-width) solid theme.get-var(border-color);
  border-radius: theme.get-var(border-radius);

  @include theme.focus-styles {
    position: relative;
    z-index: 0;
  }

  @include theme.disabled-styles;

  &:hover {
    @include theme.define-var(
      (
        color: theme.get-color("neutral"),
      )
    );
  }

  &:active {
    @include theme.define-var(
      (
        color: theme.get-color("neutral", "pressed"),
      )
    );
  }

  &__left {
    display: flex;
    font-size: inherit;
  }

  &__text {
    @include text.typography(
      base,
      $overrides: (color: currentColor, font-size: theme.get-var(text-font-size), line-height: 1)
    );
  }

  &__group {
    display: flex;

    .#{$toggle-root} {
      border-radius: 0;

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:first-child {
        border-top-left-radius: theme.get-var(border-radius);
        border-bottom-left-radius: theme.get-var(border-radius);
      }

      &:last-child {
        border-top-right-radius: theme.get-var(border-radius);
        border-bottom-right-radius: theme.get-var(border-radius);
      }
    }
  }

  @each $value in $toggle-skins {
    &--#{$value} {
      @include theme.define-var(
        (
          color: theme.get-color($value),
        )
      );

      &:hover:not([aria-selected="true"]) {
        @include theme.define-var(
          (
            background-color: theme.get-color($value, "faded"),
            color: theme.get-color($value),
          )
        );
      }

      &-selected {
        @include theme.define-var(
          (
            background-color: theme.get-color($value),
            border-color: theme.get-color($value),
            color: #fff,
          )
        );
      }
    }
  }

  &--sm {
    @include theme.define-var(
      (
        padding-inline: theme.get-spacing("md"),
        padding-block: theme.get-spacing("sm"),
        text-font-size: theme.get-font-size("xs"),
      )
    );
  }

  &--md {
    @include theme.define-var(
      (
        padding-inline: theme.get-spacing("lg"),
        padding-block: theme.get-spacing("md"),
        text-font-size: theme.get-font-size("sm"),
      )
    );
  }

  &--lg {
    @include theme.define-var(
      (
        padding-inline: theme.get-spacing("xl"),
        padding-block: theme.get-spacing("lg"),
        text-font-size: theme.get-font-size("sm"),
      )
    );
  }
}
