@use 'sass:map';
@use '../theme' as theme;

$input-root: '.input';

// Appearance
$input-border-radius: map.get(theme.$radius, 'md');

$input-skins-default: (
    'border': theme.get-color(secondary, 300),
    'border-hover': theme.get-color(secondary, 400),
);

$input-skins: (
    'success': (
        'border': theme.get-color(green, 500),
        'border-hover': theme.get-color(green, 600),
    ),
    'error': (
        'border': theme.get-color(red, 500),
        'border-hover': theme.get-color(red, 600),
    ),
);

// Font
$input-font-weight: map.get(theme.$font-weight, 'normal');
$input-font-size: map.get(theme.$font-size, 'md');

// Spacing's
$input-sizes: map.get(theme.$spacings, 'md') * 5;
$input-spacings: map.get(theme.$spacings, 'md') * 2;
