@use 'sass:map';
@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($input-root) {
    --input-border: #{map.get($input-skins-default, border)};
    --input-border-hover: #{map.get($input-skins-default, border-hover)};

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $input-sizes;
    padding: 0 $input-spacings;
    border: 1px solid var(--input-border);
    border-radius: $input-border-radius;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    touch-action: manipulation;

    &:hover {
        border-color: var(--input-border-hover);
    }

    &:focus-within {
        outline: 0px solid transparent;
        box-shadow: #fff 0 0 0 2px, #{theme.get-color("primary")} 0 0 0 4px;
    }

    &:disabled,
    &--disabled {
        opacity: $input-disabled;
        pointer-events: none;
    }

    @each $key, $value in $input-skins {
        &--#{$key} {
            --input-border: #{map.get($value, border)};
            --input-border-hover: #{map.get($value, border-hover)};
        }
    }
}
