@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';


$font-family: 'Source Sans Pro', sans-serif;
/**	theme **/
$color-primary: #FB3C68;
$color-secondary: #3A3B52;

/** grey **/
$grey-50: #FAFAFA; 
$grey-300: #E0E0E0; 

/** blue grey **/
$bluegrey-500: #607D8B; 

/** grean **/
$grean: #009688;

/** default **/
$color-white: #FFFFFF; 
$color-black: #000000; 