@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($group-root) {
  display: inline-flex;
  align-items: center;

  @include theme.define-var(
    (
      border-radius: theme.get-var(radius),
    )
  );

  &--full-width {
    width: 100%;
  }

  :not(:first-child) {
    margin-left: -1px;
    border-radius: 0;
  }

  :first-child {
    border-radius: 0;
    border-top-left-radius: theme.get-var(border-radius);
    border-bottom-left-radius: theme.get-var(border-radius);
  }

  :last-child {
    border-top-right-radius: theme.get-var(border-radius);
    border-bottom-right-radius: theme.get-var(border-radius);
  }
}
