/* stylelint-disable selector-max-type, order/order */
select,
.select {
  position: relative;
  display: flex;
  width: 100%;

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    color: currentColor;
    pointer-events: none;

    svg {
      width: 18px;
      fill: currentColor;
    }
  }

  &__control {
    width: 100%;
    padding: map-get($space, sm) map-get($space, lg);
    padding-right: map-get($space, x-hg);
    border: 1px solid var(--color-grayscale-lighter);
    border-radius: map-get($radius, sm);
    outline: none;
    background-color: transparent;
    color: $color-base;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-appearance: button;
    appearance: none;
    overflow: hidden;

    @include get-typography(base);

    &:focus {
      border-color: $color-primary;
    }

    &:disabled {
      @include disabled;
    }
  }

  &--textarea {
    .select__control {
      resize: none;
    }
  }

  &--required {
    .select__control {
      padding-right: 32px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 8px;
      height: 8px;
      transform: translate(-16px, -50%);
      border-radius: 50%;
      background-color: $color-primary;
      content: "";
    }
  }

  &--error {
    color: get-color(danger);

    .select__control {
      padding-right: 32px;
      border-color: currentColor;
      color: inherit;
    }
  }
}
