@import 'partials/variables';

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-size: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-areas:
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;

	.logo {
		display: block;
		margin: auto;
		max-width: 180px;

		img {
			width: 100%;
		}
	}
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
	flex-direction: column;
}

.footer {
	grid-area: footer;
}

code {
	background: rgba(251, 60, 104, 0.10);
	border-radius: 2px;
	color: $color-primary;
	display: inline;
	font-family: courier new, monospace;
	font-size: inherit;
	padding: 2px 4px;
}
