.bg-white {
  background-color: $color-white;
}

.text-white {
  color: $color-white;
}

.border-white {
  border-color: $color-white;
}

.bg-black {
  background-color: $color-black;
}

.text-black {
  color: $color-black;
}

.border-black {
  border-color: $color-black;
}

@each $color-name, $color in $global-colors {
  @each $color-type, $color-value in $color {
    @if $color-type == "base" {
      .bg-#{$color-name} {
        background-color: $color-value;
      }

      .text-#{$color-name} {
        color: $color-value;
      }

      .border-#{$color-name} {
        border-color: $color-value;
      }
    }

    @else {
      .bg-#{$color-name}--#{$color-type} {
        background-color: $color-value;
      }

      .text-#{$color-name}--#{$color-type} {
        color: $color-value;
      }

      .border-#{$color-name}--#{$color-type} {
        border-color: $color-value;
      }
    }
  }
}
