 @for $i from 0 through 9 {
  @if $i == 0 {
    .m-0 {
      margin: 0;
    }

    .mx-0 {
      margin-right: 0;
      margin-left: 0;
    }

    .my-0 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .mt-0 {
      margin-top: 0;
    }

    .mr-0 {
      margin-right: 0;
    }

    .mb-0 {
      margin-bottom: 0;
    }

    .ml-0 {
      margin-left: 0;
    }

    .p-0 {
      padding: 0;
    }

    .px-0 {
      padding-right: 0;
      padding-left: 0;
    }

    .py-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    .pt-0 {
      padding-top: 0;
    }

    .pr-0 {
      padding-right: 0;
    }

    .pb-0 {
      padding-bottom: 0;
    }

    .pl-0 {
      padding-left: 0;
    }
  } @else {
    .m-#{$i}0 {
      margin: unquote(($i) + "0px");
    }

    .mx-#{$i}0 {
      margin-right: unquote(($i) + "0px");
      margin-left: unquote(($i) + "0px");
    }

    .my-#{$i}0 {
      margin-top: unquote(($i) + "0px");
      margin-bottom: unquote(($i) + "0px");
    }

    .mt-#{$i}0 {
      margin-top: unquote(($i) + "0px");
    }

    .mr-#{$i}0 {
      margin-right: unquote(($i) + "0px");
    }

    .mb-#{$i}0 {
      margin-bottom: unquote(($i) + "0px");
    }

    .ml-#{$i}0 {
      margin-left: unquote(($i) + "0px");
    }

    .p-#{$i}0 {
      padding: unquote(($i) + "0px");
    }

    .px-#{$i}0 {
      padding-right: unquote(($i) + "0px");
      padding-left: unquote(($i) + "0px");
    }

    .py-#{$i}0 {
      padding-top: unquote(($i) + "0px");
      padding-bottom: unquote(($i) + "0px");
    }

    .pt-#{$i}0 {
      padding-top: unquote(($i) + "0px");
    }

    .pr-#{$i}0 {
      padding-right: unquote(($i) + "0px");
    }

    .pb-#{$i}0 {
      padding-bottom: unquote(($i) + "0px");
    }

    .pl-#{$i}0 {
      padding-left: unquote(($i) + "0px");
    }
  }
}
