@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@mixin typography-base {
  font-size: theme.get-var(font-size);
  font-weight: theme.get-var(font-weight);
  line-height: theme.get-var(line-height, calc(theme.get-var(font-size) * 1.5));
  color: theme.get-var(color);
}

@mixin typography($key, $overrides: ()) {
  @if not map.has-key($typography-styles, $key) {
    @error "Invalid typography specified! #{$key} doesn't exist. Choose one of #{map.keys($typography-styles)}";
  }

  $style-props: map.get($typography-styles, $key);
  $merge-props: map.deep-merge($style-props, $overrides);

  @each $key, $value in $merge-props {
    @if $value {
      @include theme.define-var(
        (
          $key: $value,
        )
      );
    }
  }

  @include typography-base;
}
