@use "sass:map";
@use "@stewed/react/src/theme" as theme;

$typography-root: "typography";
$typography-styles: (
  "base": (
    "font-size": map.get(theme.$font-size, "sm"),
    "font-weight": map.get(theme.$font-weight, "normal"),
    "color": theme.get-color("gray", "900"),
  ),
  "link": (
    "font-size": map.get(theme.$font-size, "sm"),
    "font-weight": map.get(theme.$font-weight, "normal"),
    "color": theme.get-color("primary"),
  ),
  "display-1": (
    "font-size": map.get(theme.$font-size, "5xl"),
    "font-weight": map.get(theme.$font-weight, "bold"),
    "line-height": map.get(theme.$line-height, "4xl"),
    "color": theme.get-color("gray", "900"),
  ),
  "display-2": (
    "font-size": map.get(theme.$font-size, "4xl"),
    "font-weight": map.get(theme.$font-weight, "bold"),
    "line-height": map.get(theme.$line-height, "3xl"),
    "color": theme.get-color("gray", "900"),
  ),
  "display-3": (
    "font-size": map.get(theme.$font-size, "3xl"),
    "font-weight": map.get(theme.$font-weight, "bold"),
    "line-height": map.get(theme.$line-height, "2xl"),
    "color": theme.get-color("gray", "900"),
  ),
  "display-4": (
    "font-size": map.get(theme.$font-size, "2xl"),
    "font-weight": map.get(theme.$font-weight, "bold"),
    "line-height": map.get(theme.$line-height, "xl"),
    "color": theme.get-color("gray", "900"),
  ),
  "display-5": (
    "font-size": map.get(theme.$font-size, "xl"),
    "font-weight": map.get(theme.$font-weight, "bold"),
    "line-height": map.get(theme.$line-height, "lg"),
    "color": theme.get-color("gray", "900"),
  ),
  "display-6": (
    "font-size": map.get(theme.$font-size, "lg"),
    "font-weight": map.get(theme.$font-weight, "bold"),
    "line-height": map.get(theme.$line-height, "md"),
    "color": theme.get-color("gray", "900"),
  ),
);
$typography-sizes: theme.$font-size;
$typography-weights: theme.$font-weight;
$typography-skins: (
  "primary": theme.get-color("primary"),
  "secondary": theme.get-color("secondary"),
  "error": theme.get-color("red"),
);
