@use "@stewed/react/src/theme/src/styles" as *;

$typography-root: "typography";

/// Styles
$typography-styles: (
  "base": (
    "font-size": get-font-size("md"),
    "font-weight": get-font-weight("normal"),
    "line-height": get-line-heigh("lg"),
    "color": get-color("gray", "900"),
  ),
  "link": (
    "font-size": get-font-size("md"),
    "font-weight": get-font-weight("normal"),
    "line-height": get-line-heigh("lg"),
    "color": get-color("primary"),
  ),
  "display-1": (
    "font-size": get-font-size("5xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-heigh("6xl"),
    "color": get-color("gray", "900"),
  ),
  "display-2": (
    "font-size": get-font-size("4xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-heigh("5xl"),
    "color": get-color("gray", "900"),
  ),
  "display-3": (
    "font-size": get-font-size("3xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-heigh("4xl"),
    "color": get-color("gray", "900"),
  ),
  "display-4": (
    "font-size": get-font-size("2xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-heigh("3xl"),
    "color": get-color("gray", "900"),
  ),
  "display-5": (
    "font-size": get-font-size("xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-heigh("2xl"),
    "color": get-color("gray", "900"),
  ),
  "display-6": (
    "font-size": get-font-size("lg"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-heigh("xl"),
    "color": get-color("gray", "900"),
  ),
);

/// Sizes
$typography-sizes: get-font-size();

/// Weights
$typography-weights: get-font-weight();

/// Skins
$typography-skins: (
  "primary": get-color("primary"),
  "secondary": get-color("secondary"),
  "error": get-color("red"),
);
