@use "@stewed/react/src/theme/src/styles" as *;

$typography-root: "typography";

/// Styles
$typography-styles: (
  "base": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("md"),
    "font-weight": get-font-weight("normal"),
    "color": get-color("text"),
  ),
  "link": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("md"),
    "font-weight": get-font-weight("normal"),
    "color": get-color("primary"),
  ),
  "label": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("sm"),
    "font-weight": get-font-weight("medium"),
    "color": get-color("text"),
  ),
  "display-1": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("5xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-height("5xl"),
    "color": get-color("text"),
  ),
  "display-2": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("4xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-height("4xl"),
    "color": get-color("text"),
  ),
  "display-3": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("3xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-height("3xl"),
    "color": get-color("text"),
  ),
  "display-4": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("2xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-height("2xl"),
    "color": get-color("text"),
  ),
  "display-5": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("xl"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-height("xl"),
    "color": get-color("text"),
  ),
  "display-6": (
    "font-family": get-font-family("base"),
    "font-size": get-font-size("lg"),
    "font-weight": get-font-weight("bold"),
    "line-height": get-line-height("lg"),
    "color": get-color("text"),
  ),
);

/// Family
$typography-family: get-font-family();

/// Sizes
$typography-sizes: get-font-size();

/// Weights
$typography-weights: get-font-weight();

/// Skins
$typography-skins: (
  "primary": get-color("primary"),
  "neutral": get-color("neutral"),
  "critical": get-color("critical"),
);
