@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;
@use "./mixins" as mix;

@include theme.scope($typography-root) {
  all: unset;
  display: block;

  &[href] {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @include theme.focus-styles;
  }

  @each $key, $value in $typography-styles {
    &--#{$key} {
      @include mix.typography($key);
    }
  }

  &--normal {
    font-style: normal;
  }

  &--italic {
    font-style: italic;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--line-through {
    text-decoration: line-through;
  }

  &--overline {
    text-decoration: overline;
  }

  &--underline {
    text-decoration: underline;
  }

  &--alignment-start {
    text-align: start;
  }

  &--alignment-center {
    text-align: center;
  }

  &--alignment-end {
    text-align: end;
  }

  &--alignment-justify {
    text-align: justify;
  }

  &--whitespace-nowrap {
    white-space: nowrap;
  }

  &--whitespace-normal {
    white-space: normal;
  }

  @each $key, $value in $typography-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          color: $value,
        )
      );
    }
  }

  @each $key, $value in $typography-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          font-size: $value,
        )
      );
    }
  }

  @each $key, $value in $typography-weights {
    &--#{$key} {
      @include theme.define-var(
        (
          font-weight: $value,
        )
      );
    }
  }
}
