@use "@stewed/react/src/theme/src/styles" as theme;

$box-root: "box";

/// Padding
$box-padding: theme.get-spacing();

/// Space
$box-space: theme.get-spacing();

/// Skins
$box-skins: (
  "default": theme.get-color("background-default"),
  "primary-faded": theme.get-color("primary", "background-faded"),
  "secondary-faded": theme.get-color("secondary", "background-faded"),
  "neutral-faded": theme.get-color("neutral", "background-faded"),
  "white": theme.get-color("white"),
);

/// Radius
$box-radius: theme.get-radius();

/// Border Colors
$box-border-color: (
  "neutral": theme.get-color("neutral", "border"),
  "neutral-faded": theme.get-color("neutral", "border-faded"),
  "primary": theme.get-color("primary", "border"),
  "primary-faded": theme.get-color("primary", "border-faded"),
  "secondary": theme.get-color("secondary", "border"),
  "secondary-faded": theme.get-color("secondary", "border-faded"),
  "critical": theme.get-color("critical", "border"),
  "critical-faded": theme.get-color("critical", "border-faded"),
  "success": theme.get-color("success", "border"),
  "success-faded": theme.get-color("success", "border-faded"),
  "info": theme.get-color("info", "border"),
  "info-faded": theme.get-color("info", "border-faded"),
  "warning": theme.get-color("warning", "border"),
  "warning-faded": theme.get-color("warning", "border-faded"),
);
