@use "@stewed/react/src/theme/src/styles" as theme;

$box-root: "box";

/// Padding
$box-padding: theme.get-spacing();

/// Space
$box-space: theme.get-spacing();

/// Skins
$box-skins: (
  "default": theme.get-color("background-base"),
  "neutral": theme.get-color("neutral", "500"),
  "neutral-faded": theme.get-color("neutral", "100"),
  "primary": theme.get-color("primary", "500"),
  "primary-faded": theme.get-color("primary", "100"),
  "white": theme.get-color("white"),
);

/// Radius
$box-radius: theme.get-radius();

/// Border Colors
$box-border-color: (
  "neutral": theme.get-color("neutral", "500"),
  "neutral-faded": theme.get-color("neutral", "300"),
  "primary": theme.get-color("primary", "500"),
  "secondary": theme.get-color("secondary", "500"),
  "critical": theme.get-color("critical", "500"),
  "success": theme.get-color("success", "500"),
  "info": theme.get-color("info", "500"),
  "warning": theme.get-color("warning", "500"),
);
