@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($box-root) {
  position: relative;
  box-sizing: border-box;
  display: block;
  background-color: theme.get-var(background-color);
  border-color: theme.get-var(border-color);
  border-style: theme.get-var(border-style);
  border-width: theme.get-var(border-width);
  border-radius: theme.get-var(border-radius);
  box-shadow: theme.get-var(box-shadow);

  @include theme.define-var(
    (
      display: block,
      background-color: transparent,
      border-color: transparent,
      border-width: inherit,
      border-radius: inherit,
      box-shadow: none,
    )
  );

  &--hidden {
    @include theme.define-var(
      (
        display: none,
      )
    );
  }

  // Radius
  @each $key, $value in $box-radius {
    &--radius-#{$key} {
      @include theme.define-var(
        (
          border-radius: $value,
        )
      );
    }
  }

  // Skins
  @each $key, $value in $box-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: $value,
        )
      );
    }
  }

  // Border Width
  @for $i from 1 through 12 {
    &--border-width-#{$i} {
      @include theme.define-var(
        (
          border-width: #{$i}px,
        )
      );
    }
  }

  // Border Style
  &--border-style-solid {
    @include theme.define-var(
      (
        border-style: solid,
      )
    );
  }

  &--border-style-dashed {
    @include theme.define-var(
      (
        border-style: dashed,
      )
    );
  }

  // Border Color
  @each $key, $value in $box-border-color {
    &--border-color-#{$key} {
      @include theme.define-var(
        (
          border-color: $value,
        )
      );
    }
  }

  // Padding Block
  @each $key, $value in $box-padding {
    &--padding-block-#{$key} {
      padding-block: #{$value};
    }
  }

  // Padding Inline
  @each $key, $value in $box-padding {
    &--padding-inline-#{$key} {
      padding-inline: #{$value};
    }
  }

  // Space
  @each $key, $value in $box-space {
    &--space-x-#{$key} ~ :not([hidden]) {
      margin-left: #{$value};
    }

    &--space-y-#{$key}:not([hidden]) ~ :not([hidden]) {
      margin-top: #{$value};
    }
  }

  &--full-width {
    width: 100%;
  }

  &--full-screen {
    min-height: 100vh;
  }
}
