@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($box-root) {
  @include theme.define-var(
    (
      display: block,
      screen: auto,
      background-color: transparent,
    )
  );

  display: block;
  box-sizing: border-box;
  height: theme.get-var(screen);
  background-color: theme.get-var(background-color);

  &--hidden {
  @include theme.define-var(
    (
      display: none,
    )
  );
  }

  // Skins
  @each $key, $value in $box-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: $value,
        )
      );
    }
  }

  // Screen (Height)
  @each $key, $value in $box-screen {
    &--screen-#{$key} {
      @include theme.define-var(
        (
          screen: #{$value},
        )
      );
    }
  }

  // Padding Block
  @each $key, $value in $box-padding {
    &--padding-block-#{$key} {
      padding-block: #{$value};
    }
  }

  // Padding Inline
  @each $key, $value in $box-padding {
    &--padding-inline-#{$key} {
      padding-inline: #{$value};
    }
  }

  // Space
  @each $key, $value in $box-space {
    &--space-x-#{$key} ~ :not([hidden]) {
      margin-left: #{$value};
    }

    &--space-y-#{$key}:not([hidden]) ~ :not([hidden]) {
      margin-top: #{$value};
    }
  }
}
