@use "sass:map";
@use "@stewed/react/src/theme" as theme;

$checkbox-root: "checkbox";
$checkbox-font-size: (
  "sm": 16px,
  "md": 20px,
  "lg": 24px,
);
$checkbox-sizes: (
  "sm": map.get(theme.$spacings, "xxs") * 8,
  "md": map.get(theme.$spacings, "xxs") * 10,
  "lg": map.get(theme.$spacings, "xxs") * 12,
);
$checkbox-border-radius: map.get(theme.$radius, "sm");
$checkbox-skins: (
  "primary": "primary",
  "error": "red",
);
