@use "@stewed/react/src/theme/src/styles" as theme;

$checkbox-root: "checkbox";

/// Skins
$checkbox-skins: (
  "primary": "primary",
  "critical": "critical",
  "success": "success"
);

/// Sizes
$checkbox-sizes: (
  "sm": 16px,
  "md": 20px,
  "lg": 24px
);
