@use "@stewed/react/src/theme/src/styles" as theme;

$checkbox-root: "checkbox";
$checkbox-font-size: (
  "sm": 16px,
  "md": 20px,
  "lg": 24px,
);
$checkbox-sizes: (
  "sm": theme.get-spacing("xxs"),
  "md": theme.get-spacing("xxs"),
  "lg": theme.get-spacing("xxs"),
);
$checkbox-border-radius: theme.get-radius("sm");
$checkbox-skins: (
  "primary": "primary",
  "error": "red",
);
