@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($checkbox-root) {
  --checkbox-color: #{theme.get-color("primary", "500")};

  position: relative;
  display: inline-block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: $checkbox-border-radius;

  @include theme.focus-styles;
  @include theme.disabled-styles;

  @include theme.hover {
    #{$checkbox-root}__background {
      --checkbox-color: #{theme.get-color("primary", "600")};
    }
  }

  &__control {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;

    &:checked {
      + .checkbox__background {
        &::before {
          background-color: #fff;
        }

        #{$checkbox-root}__svg {
          scale: 1;
        }
      }
    }
  }

  &__background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--checkbox-color);
    pointer-events: none;

    #{$checkbox-root}__svg {
      @include theme.transition(scale);

      z-index: 1;
      width: var(--checkbox-size);
      margin: auto;
      fill: #fff;
      scale: 0;
    }

    &::before {
      position: absolute;
      inset: 0;
      content: "";
      border: 2px solid currentcolor;
      border-radius: $checkbox-border-radius;
    }
  }

  @each $key, $value in $checkbox-skins {
    &--#{$key} {
      #{$checkbox-root}__control:checked {
        + .checkbox__background {
          --checkbox-color: #{theme.get-color($value, "500")};
        }
      }
    }
  }

  @each $key, $value in $checkbox-sizes {
    &--#{$key} {
      --checkbox-size: #{$value};
    }
  }
}
