.stw-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  border: 2px solid map-get($theme-color-pink, "base");
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
  font-size: .875rem;
  -webkit-font-smoothing: antialiased;
  transition: background .3s ease-out, color .2s ease-out;
  background-color: #fff;
  color: map-get($theme-color-pink, "base");
}
