.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $baseline $baseline * 2;
  border: 2px solid transparent;
  border-radius: $border-radius;
  color: $color-base;
  line-height: 1.4;
  cursor: pointer;
  overflow: hidden;

  @include get-typography(button);

  &:hover {
    border-color: get-color("gray", lighter);
    background-color: get-color("gray", lighter);
  }

  &--sm {
    padding: $baseline;
    font-size: $button-font-size-small;
  }

  &--lg {
    padding: $baseline * 2 $baseline * 3;
  }

  &--primary {
    border-color: currentColor;
    color: $color-primary;

    &:hover {
      border-color: $color-primary;
      background-color: $color-primary;
      color: #fff;
    }
  }

  &--accent {
    border-color: currentColor;
    color: $color-accent;

    &:hover {
      border-color: $color-accent;
      background-color: $color-accent;
      color: #fff;
    }
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}
