.button {
  --button: #{$button-height};

  position: relative;
  display: inline-block;
  height: var(--button);
  margin: 0;
  padding: 0 $button-horizontal-padding;
  border: 1px solid;
  border-radius: $button-border-radius;
  background: none;
  color: inherit;
  font-family: $global-font-family-serif;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: var(--button);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: middle;
  z-index: 0;

  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    opacity: .7;
    pointer-events: none;
  }

  &--large {
    --button-large: calc(#{$button-height} + 8px);

    height: var(--button-large);
    padding: 0 $button-horizontal-padding * 3;
    line-height: var(--button-large);
  }

  &--medium {
    --button-medium: calc(#{$button-height} + 4px);

    height: var(--button-medium);
    padding: 0 $button-horizontal-padding * 2;
    line-height: var(--button-medium);
  }

  &--small {
    --button-small: calc(#{$button-height} - 4px);

    height: var(--button-small);
    padding: 0 $button-horizontal-padding - 2;
    line-height: var(--button-small);
  }

  &--icon {
    width: var(--button);
    padding: 0;
    border-radius: 50%;
    font-weight: $button-font-weight;

    .icon {
      pointer-events: none;
    }

    &.button--large {
      width: var(--button-large);
    }

    &.button--medium {
      width: var(--button-medium);
    }

    &.button--small {
      width: var(--button-small);
    }
  }
}

@each $key, $values in $buttons {
  .button--#{$key} {
    transition: border-color .3s, color .3s;
    background-color: nth($values, 1);
    color: nth($values, 2);
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      transform: rotate3d(0, 0, 1, -90deg);
      transform-origin: left bottom;
      transition: transform $button-transition-duration $button-transition-timing, background-color $button-transition-duration $button-transition-timing;
      background-color: nth($values, 3);
      content: "";
      will-change: transform;
      z-index: -1;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: nth($values, 4);

      &::before {
        transform: rotate3d(0, 0, 1, 0deg);
        transition-timing-function: $button-transition-timing;
        background-color: nth($values, 3);
        opacity: 1;
      }
    }
  }
}
