$button-font-size: $theme-font-size; // 14px
$button-font-weight: $theme-font-weight; // 400
// Button Size
$button-height: 40px;
// Button Horizontal Padding
$button-horizontal-padding: 16px;
// Border Radius
$button-border-radius: 2px;
// Button Danger
$button-color-danger: map-get($theme-color-red, "base");
$button-color-danger-hover: map-get($theme-color-red, "darken");
// Button Success
$button-color-success: map-get($theme-color-green, "base");
$button-color-success-hover: map-get($theme-color-green, "darken");
// Button Info
$button-color-info: map-get($theme-color-blue, "base");
$button-color-info-hover: map-get($theme-color-blue, "darken");
// Button Default
$button-color-default: map-get($theme-color-grey, "base");
$button-color-default-hover: map-get($theme-color-grey, "darken");
// Button Animation Transition
$button-transition-timing: cubic-bezier(.2, 1, .3, 1);
$button-transition-duration: .4s;
$buttons: (
  "danger": ($button-color-danger, $theme-color-white, $button-color-danger-hover, $theme-color-white),
  "success": ($button-color-success, $theme-color-white, $button-color-success-hover, $theme-color-white),
  "info": ($button-color-info, $theme-color-white, $button-color-info-hover, $theme-color-white),
  "default": ($button-color-default, $theme-color-white, $button-color-default-hover, $theme-color-white)
);
