$button-root: ".button" !default;
$button-font-size-small: map-get($typography-font-size, x-sm);

$buttons: (
  primary: (
    var(--color-primary-base),
    var(--color-primary-light)
  ),
  accent: (
    var(--color-accent-base),
    var(--color-accent-light)
  )
);
