@use 'sass:map';
@use '@stewed/theme/scss' as theme;

$button-root: '.button';

$button-color: #fff;
$button-border-radius: map.get(theme.$radius, 'md');

$button-appearances: (
    'primary': primary,
    'secondary': secondary,
    'success': green,
    'warning': yellow,
    'danger': red
);

$button-font-sizes: theme.$font-size;
$button-font-weight: map.get(theme.$font-weight, 'regular');

$button-disabled: theme.$disabled;

$button-sizes: (
    sm: theme.$spacing * 4,
    md: theme.$spacing * 5,
    lg: theme.$spacing * 6,
);

$button-spacings: (
    sm: theme.$spacing,
    md: theme.$spacing * 2,
    lg: theme.$spacing * 3,
);
