.breadcrumbs {
	display: block;
	width: 100%;
	padding: 1em;
	border-radius: 2px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			font-size: 14px;
			font-weight: $weight-medium;
			cursor: default;
			a {
				text-decoration: none;
				font-weight: $weight-light;
				color: currentColor;
			}
			a::after {
				padding-left: 5px;
				content: '/';
			}
		}
	}
}