.label {
    display: inline-block;
    padding: .2em .6em .3em;
    line-height: normal;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    background-color: $grey;
    margin: 0.175em 0;
}

.label--success {
    background-color: $success;
}

.label--info {
    background-color: $info;
}

.label--warning {
    background-color: $warning;
}

.label--danger {
    background-color: $danger;
}