@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($drawer-root) {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;

  @include theme.define-var(
    (
      opacity: 0,
      background: theme.get-color("background-elevated")
    )
  );

  &__surface {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    background-color: theme.get-var(background);
    box-shadow: theme.get-var(shadow);
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__content {
      flex: 1;
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
  }

  &__header,
  &__body,
  &__footer {
    padding-block: theme.get-var(padding-block);
    padding-inline: theme.get-var(padding-inline);
  }

  &--open {
    @include theme.define-var(
      (
        opacity: 1
      )
    );
  }

  // Placement
  &--right,
  &--left {
    .#{$drawer-root}__surface {
      inset-block: 0;
      width: calc(100% - calc(theme.get-var(safe-margin) * 2));
      max-width: theme.get-var(width);
      height: calc(100% - calc(theme.get-var(safe-margin) * 2));
    }
  }

  &--right {
    .#{$drawer-root}__surface {
      right: theme.get-var(safe-margin);
      border-top-left-radius: theme.get-var(radius);
      border-bottom-left-radius: theme.get-var(radius);
    }
  }

  &--left {
    .#{$drawer-root}__surface {
      left: theme.get-var(safe-margin);
      border-top-right-radius: theme.get-var(radius);
      border-bottom-right-radius: theme.get-var(radius);
    }
  }

  &--bottom {
    .#{$drawer-root}__surface {
      inset-inline: 0;
      bottom: theme.get-var(safe-margin);
      width: calc(100% - calc(theme.get-var(safe-margin) * 2));
      max-height: calc(theme.get-var(height) - calc(theme.get-var(safe-margin) * 2));
      border-top-left-radius: theme.get-var(radius);
      border-top-right-radius: theme.get-var(radius);
    }
  }

  &:not(.#{$drawer-root}--safe-margin-none) {
    .#{$drawer-root}__surface {
      border-radius: theme.get-var(radius);
    }
  }

  // Safe Margin
  @each $key, $value in $drawer-space {
    &--safe-margin-#{$key} {
      @include theme.define-var(
        (
          safe-margin: $value
        )
      );
    }
  }

  // Padding
  @each $key, $value in $drawer-padding {
    &--padding-block-#{$key} {
      @include theme.define-var(
        (
          padding-block: #{$value}
        )
      );
    }

    &--padding-inline-#{$key} {
      @include theme.define-var(
        (
          padding-inline: #{$value}
        )
      );
    }
  }

  // Sizes
  &--sm {
    @include theme.define-var(
      (
        width: 320px,
        height: 320px
      )
    );
  }

  &--md {
    @include theme.define-var(
      (
        width: 640px,
        height: 640px
      )
    );
  }
}
