/*
================================================================================
Stewed   2.0.1
Author:    Mauro Vieira
License:   Open Source
Homepage:  
================================================================================
*/

@import 'flexslider.css';
@import 'fontello.css';
@import 'fontello-ie7.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.jump-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.jump-left {
    float: left;
}
.jump-right {
    float: right;
}
.hide {
    display: none !important;
}
.visible {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.f10 {
    font-size: 10px!important;
}
.f12 {
    font-size: 12px!important;
}
.f14 {
    font-size: 14px!important;
}
.f16 {
    font-size: 16px!important;
}
.f18 {
    font-size: 18px!important;
}
.f20 {
    font-size: 20px!important;
}
.f22 {
    font-size: 22px!important;
}
.f24 {
    font-size: 24px!important;
}
.f26 {
    font-size: 26px!important;
}
.f28 {
    font-size: 28px!important;
}
.f30 {
    font-size: 30px!important;
}
.f34 {
    font-size: 34px!important;
}
.f36 {
    font-size: 36px!important;
}
.f40 {
    font-size: 40px!important;
}
.f44 {
    font-size: 44px!important;
}
.f48 {
    font-size: 48px!important;
}
.f52 {
    font-size: 52px!important;
}
.f56 {
    font-size: 56px!important;
}
.f60 {
    font-size: 60px!important;
}
.f70 {
    font-size: 70px!important;
}
.f80 {
    font-size: 80px!important;
}
.f90 {
    font-size: 90px!important;
}
.f100 {
    font-size: 100px!important;
}
.f120 {
    font-size: 120px!important;
}
.f140 {
    font-size: 140px!important;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-hide {
    font: 0px;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    padding: 0;
}
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.text-success {
    color: #3c763d;
}
.text-success:hover {
    color: #2b542c;
}
.text-info {
    color: #31708f;
}
.text-info:hover {
    color: #245269;
}
.text-warning {
    color: #8a6d3b;
}
.text-warning:hover {
    color: #66512c;
}
.text-danger {
    color: #a94442;
}
.text-danger:hover {
    color: #843534;
}
.bg-info {
    color: #fff;
    background-color: #428bca;
    border: 1px solid #377cba;
}
.bg-success {
    background-color: #01a185;
    color: #fff;
}
.bg-warning {
    background-color: #740ba6;
    color: #fff;
}
.bg-danger {
    background-color: #fb6969;
    color: #fff;
}
.alert {
    width: 96%;
    padding: 2% 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert-round {
    border-radius: 5px;
}
.alert-squad {
    border-radius: 0px;
}
.alert button {
    background: transparent;
    color: rgba(220, 220, 220, 0.5);
    float: right;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    margin-top: -2px;
}
.alert button:hover {
    background: transparent;
    color: rgba(220, 220, 220, 0.9);
}
.btn-round a {
    text-decoration: none;
    color: inherit;
}
.btn {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
.btn-round {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #aaa7a7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    color: #fff;
    background-color: #afaaaa;
    border-color: #989595;
}
.btn-success {
    color: #fff;
    background-color: #01a185;
    border-color: #009077;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    color: #fff;
    background-color: #018970;
    border-color: #007c66;
}
.btn-info {
    background-color: #23aae2;
    border-color: #1c9ed4;
    color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
    background-color: #428bca;
    border: 1px solid #377cba;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
.btn-danger {
    color: #fff;
    background-color: #fb6969;
    border-color: #e35555;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
    color: #fff;
    background-color: #d94848;
    border-color: #cc4c4c;
}
.btn-inverse {
    color: #fff;
    background-color: #afaaaa;
    border-color: #989595;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
    color: #000;
    background-color: #fff;
    border-color: #aaa7a7;
}
.pagination {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination li {
    display: block;
    float: left;
    background: #fff;
    border: 1px solid #aaa7a7;
    border-right: 0px;
}
.pagination li:first-child {
    border-right: 0px;
}
.pagination li:last-child {
    border: 1px solid #aaa7a7;
}
.pagination-round li:first-child {
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}
.pagination-round li:last-child {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #aaa7a7;
}
.pagination li:hover {
    background: #dbdbdb;
}
.pagination li a {
    text-decoration: none;
    color: #000;
}
.pagination > .active {
    background: #aaa!important;
    color: #fff!important;

}
.pagination > .active a {
    text-decoration: none;
    color: #fff;
}
.pagination-sm li {
    display: block;
    float: left;
    padding: 10px;
    background: #fff;
    border: 1px solid #aaa7a7;
    border-right: 0px;
}
.pagination-md li {
    display: block;
    float: left;
    padding: 15px;
    background: #fff;
    border: 1px solid #aaa7a7;
    border-right: 0px;
}
.pagination-lg li {
    display: block;
    float: left;
    padding: 20px;
    background: #fff;
    border: 1px solid #aaa7a7;
    border-right: 0px;
}
[class*="fixed-"] {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1111;
}
.fixed-top {
    top: 0;
}
.fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
}
[class*="go-to"]:after,
[class*="menu-toggle"]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em
}
.go-toTop:after {
    content: '\e9ea';
    font-size: 16px;
    margin-left: 5px;
}
.icon-level-up {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe9ea;&nbsp;')
}
.menu-toggle {
    background: transparent;
    border: 0px;
    font-size: 22px;
    height: 50px;
    position: relative;
    float: right;
    display: none;
}
.menu-toggle:before {
    content: '\e803';
}
.container {
    display: block;
    position: relative;
    top: 20px;
}
.modal {
    display: none;
    width: 60%;
    height: auto;
    position: relative;
    top: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: #fff;
    z-index: 99999;
    overflow: hidden;
}
.modal-round {
    border-radius: 5px;
}
.modal-screen {
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(20, 19, 19, 0.83);
    z-index: 99999;
}
.modal-header {
    width: 96%;
    padding: 2%;
    border-bottom: 1px solid #dbd9d9;
}
.modal-header a {
    float: right;
}
.modal-header h4 {
    font-size: 20px;
}
.modal-container {
    width: 96%;
    padding: 2%;
    min-height: 200px;
    height: auto;
}
.modal-container h5 {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 10px;
}
.modal-container p {
    font-size: 14px;
    line-height: 16px;
}
.modal-footer {
    width: 96%;
    padding: 2%;
    min-height: 50px;
    border-top: 1px solid #dbd9d9;
}
.modal-footer a {
    float: left;
    margin-right: 10px;
}
.close-modal {
    display: block;
    font-size: 22px;
    color: #aaa7a7;
}
.close-modal:hover {
    color: #000;
}
/* Accordion */

.toggle-default {
    width: 100%;
    height: auto;
    border: 1px solid #dbd9d9;
    margin-bottom: 10px;
}
.toggle-default a {
    text-decoration: none;
    color: inherit;
}
.toggle-default-round {
    width: 100%;
    height: auto;
    border: 1px solid #dbd9d9;
    margin-bottom: 10px;
    border-radius: 5px;
}
.toggle-default-round a {
    text-decoration: none;
    color: inherit;
}
.header-accordion {
    width: 96%;
    padding: 1% 2%;
    background: #dbd9d9;
    height: 30px;
    line-height: 30px;
    color: #000;
}
.container-accordion {
    display: none;
    width: 96%;
    padding: 2%;
}
.container-accordion p {
    font-size: 14px;
    line-height: 16px;
}
/* Nav Tabs */

.nav-button {
    display: none;
}

.nav-tabs ul {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 999;
}
.nav-tabs ul li {
    padding: 2% 3%;
    display: block;
    float: left;
    background: #dbd9d9;
    margin-right: 3px;
    border: 1px solid #dbd9d9;
    cursor: pointer;
}
.nav-tabs ul li a {
    text-decoration: none;
    color: inherit
}
.nav-tabs ul li:hover {
    background: #aaa7a7;
    color: #fff;
}
.nav-tabs ul .tab-active {
    background: #fff!important;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    color: #000!important;
}
.tab-container {
    width: 98%;
    display: block;
    padding: 2% 1%;
    border: 1px solid #dbd9d9;
    position: relative;
    top: -1px;
    z-index: 99;
    overflow: hidden;
}
.tab-container h5 {
    text-align: justify;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.tab-container p {
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
}
.tab-container .tab-div {
    display: none;
}
.tab-container .tab-div:first-child {
    display: block;
}
.menu-toggle {
    color: #13a583!important;
}
.navigation {
    overflow: visible;
}
.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation ul li {
    margin: 0;
}
.navigation ul {
    *height: 100%;
}
.navigation ul.menu li {
    *height: 100%;
}
.navigation ul.menu li a {
    text-decoration: none;
    font-size: 15px;
}
.navigation ul.menu li:hover ul.menu-down {
    display: block;
}
.navigation ul.menu li ul.menu-down {
    display: none;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
.navigation ul.menu li ul.menu-down li {
    overflow: hidden;
    padding: 0px;
}
.navigation ul.menu li ul.menu-down li:first-child {
    border-top: 0px;
}
.navigation ul.menu li ul.menu-down li a {
    padding: 7px;
    display: block;
    float: none;
    text-decoration: none;
}
.navigation ul.menu:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
.navigation ul.menu.horizontal li {
    float: left;
    position: relative;
}
.navigation ul.menu.horizontal li a {
    padding: 0.5em 2em;
    display: block;
    line-height: 1.7;
}
.navigation ul.menu.horizontal li .control {
    margin-top: .3em;
}
.navigation ul.menu.horizontal li ul.menu-down {
    width: 100%;
    left: 0;
    z-index: 50;
}
.navigation ul.menu.horizontal li ul.menu-down li {
    float: none;
}
.navigation ul.menu.horizontal .last-link {
    display: block;
    float: right;
}
.navigation ul.menu.vertical li {
    line-height: 1.7;
    position: relative;
}
.navigation ul.menu.vertical li a {
    padding: 0.5em 1em;
    display: block;
}
.navigation ul.menu.vertical li ul.menu-down {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: relative;
}
.navigation ul.menu li:hover ul.menu-right {
    display: block;
}
.navigation ul.menu li ul.menu-right {
    display: none;
    position: absolute;
    z-index: 10;
}
.navigation ul.menu li ul.menu-right li {
    overflow: hidden;
}
.navigation ul.menu li ul.menu-right li a {
    padding: 0.5em 1em;
    display: block;
    float: none;
}
.navigation ul.menu.vertical li {
    line-height: 1.7;
    position: relative;
}
.navigation ul.menu.vertical li a {
    padding: 0.5em 1em;
    display: block;
}
.navigation ul.menu.vertical li ul.menu-right {
    top: 0;
    left: 100%;
    min-width: 10em;
}
.navigation ul.menu.vertical li ul.menu-right li {
    line-height: 1.7;
    float: none;
    position: static;
}
.nav-bar {
    display: block!important;
}
.nav-button {
    display: none;
    border: 0px;
    border-radius: 4px;
    position: absolute;
    right: 25px;
    top: 20px;
    float: right;
    border: 0px;
    width: 40px;
    height: 25px;
}

.nav-button span {
    position: relative;
    top: 10px;
    right: -10px;
    width: 100%;
    height: 2px;
    background: #fb6969;
    display: block;
    margin-bottom: 4px;
}
.nav-toggle {
    display: block;
}
.nav-toggle ul li ul {
    display: block!important;
}

.nav-toggle ul li ul li {
    display: block;
    width: 100%;
}

#nav-toggle { 
    position: absolute; 
    right: 15px; 
    top: 0; 
}

#nav-toggle { 
    cursor: pointer; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { 
    cursor: pointer; 
    border-radius: 1px; 
    -moz-border-radius: 1px; 
    -webkit-border-radius: 1px;    
    -o-border-radius: 1px; 
    height: 4px; 
    width: 32px; 
    background: #333; 
    position: absolute; 
    display: block; 
    content: ''; 
}
#nav-toggle span:before { 
    top: -8px; 
}

#nav-toggle span:after { 
    bottom: -8px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { 
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out; 
    -moz-transition: all 500ms ease-in-out; 
    -o-transition: all 500ms ease-in-out;
}

#nav-toggle.active span { 
    background-color: transparent; 
}
#nav-toggle.active span:before, #nav-toggle.active span:after { 
    top: 0; 
}
#nav-toggle.active span:before { 
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
}

#nav-toggle.active span:after { 
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg); 
    top: 10px; 
}

/* Grid */
.row {
    margin: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    top: 0px;
}
.row .row {
    display: inline-block;
}
[class*="grid-"] {
    margin: auto;
}
.column-responsive {
    overflow: hidden;
}

/* Grid */
.grid-1  {width: 100px;}
.grid-2  {width: 200px;}
.grid-3  {width: 300px;}
.grid-4  {width: 400px;}
.grid-5  {width: 500px;}
.grid-6  {width: 600px;}
.grid-7  {width: 700px;}
.grid-8  {width: 800px;}
.grid-9  {width: 900px;}
.grid-10 {width: 1000px;}
.grid-11 {width: 1100px;}
.grid-12 {width: 1200px;}
.grid-90 {width: 90%;}

/* Medium */
[class*="medium-"] {float: left;width: auto;}

/* Small */
[class*="small-"] {float: left;width: auto;}

/* Large */
[class*="large-"] {float: left;}
.large-100 {width: 100.00%;}
.large-90  {width: 90.000%;}
.large-80  {width: 80.000%;}
.large-75  {width: 75.000%;}
.large-70  {width: 70.000%;}
.large-66  {width: 66.669%;}
.large-60  {width: 60.000%;}
.large-50  {width: 50.000%;}
.large-40  {width: 40.000%;}
.large-33  {width: 33.333%;}
.large-30  {width: 30.000%;}
.large-25  {width: 25.000%;}
.large-20  {width: 20.000%;}
.large-16  {width: 16.666%;}
.large-12  {width: 12.500%;}
.large-10  {width: 10.000%;}
.large-8  {width: 8.333%;}

@media only screen and (min-width: 1110px){

    .nav-toggle {
        display: block!important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1110px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90 {
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Small */
    [class*="small-"] {float: left;width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;}
    .medium-100 {width: 100.00%;}
    .medium-90  {width: 90.000%;}
    .medium-80  {width: 80.000%;}
    .medium-75  {width: 75.000%;}
    .medium-70  {width: 70.000%;}
    .medium-60  {width: 60.000%;}
    .medium-50  {width: 50.000%;}
    .medium-40  {width: 40.000%;}
    .medium-33  {width: 33.333%;}
    .medium-30  {width: 30.000%;}
    .medium-25  {width: 25.000%;}
    .medium-20  {width: 20.000%;}
    .medium-16  {width: 16.666%;}
    .medium-12  {width: 12.500%;}
    .medium-10  {width: 10.000%;}
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90{
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Small */
    [class*="small-"] {float: left;width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;}
    .medium-100 {width: 100.00%;}
    .medium-90  {width: 90.000%;}
    .medium-80  {width: 80.000%;}
    .medium-75  {width: 75.000%;}
    .medium-70  {width: 70.000%;}
    .medium-60  {width: 60.000%;}
    .medium-50  {width: 50.000%;}
    .medium-40  {width: 40.000%;}
    .medium-33  {width: 33.333%;}
    .medium-30  {width: 30.000%;}
    .medium-25  {width: 25.000%;}
    .medium-20  {width: 20.000%;}
    .medium-16  {width: 16.666%;}
    .medium-12  {width: 12.500%;}
    .medium-10  {width: 10.000%;}

    .modal {
        display: block;
        width: 90%;
    }


    .nav-bar {
        display: none;
    }
    .nav ul {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 51px;
        left: 0px;
    }
    .nav ul li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        border-bottom: 1px solid #ececec;
    }
    .nav-buttom {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        width: 100%;
    }
    .nav-button {
        display: block;
    }
    .nav-toggle {
        float: right;
        width: 100%;
        display: none;
    }

    .nav-toggle ul li .menu-down {
        position: relative!important;  
    }

    .nav-toggle ul {
        float: left;
        width: 100%;
        display: block;
    }
    .nav-toggle ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle ul li a {
        padding: 0.5em 0.5em!important;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 1.7;
    }
}
@media only screen and (min-width: 180px) and (max-width: 480px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90{
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;width: auto;}

    /* Small */
    [class*="small-"] {float: left;}
    .small-100 {width: 100.00%;}
    .small-90  {width: 90.000%;}
    .small-80  {width: 80.000%;}
    .small-75  {width: 75.000%;}
    .small-70  {width: 70.000%;}
    .small-60  {width: 60.000%;}
    .small-50  {width: 50.000%;}
    .small-40  {width: 40.000%;}
    .small-33  {width: 33.333%;}
    .small-30  {width: 30.000%;}
    .small-25  {width: 25.000%;}
    .small-20  {width: 20.000%;}
    .small-16  {width: 16.666%;}
    .small-12  {width: 12.500%;}
    .small-10  {width: 10.000%;}

    .modal {
        display: block;
        width: 90%;
    }

    .nav-bar {
        display: none;
    }
    .nav ul {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 51px;
        left: 0px;
    }
    .nav ul li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        border-bottom: 1px solid #ececec;
    }
    .nav-buttom {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        width: 100%;
    }
    .nav-button {
        display: block;
    }
    .nav-toggle {
        float: right;
        width: 100%;
        display: none;
    }

    .nav-toggle ul li .menu-down {
        position: relative!important;  
    }

    .nav-toggle ul {
        float: left;
        width: 100%;
        display: block;
    }
    .nav-toggle ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle ul li a {
        padding: 0.5em 0.5em!important;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 1.7;
    }

}


