.form {
  &__switch {
    display: none;

    + .form__label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      text-align: left;
      padding-left: 50px;
      padding-bottom: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        margin: 0;
        transform: translate(0, -50%);
        transition: all 0.3s ease;
        outline: 0;
      }

      &::before {
        left: 2px;
        width: 34px;
        height: 14px;
        background-color: $form-bg-color;
        border-radius: 8px;
      }

      &::after {
        left: 2px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgba(#000, .14), 0 2px 2px 0 rgba(#000, .098), 0 1px 5px 0 rgba(#000, .084);
      }
    }

    &:checked {
      + .form__label {
        &::before {
          background-color: currentColor;
          opacity: .5;
        }

        &::after {
          background-color: currentColor;
          transform: translate(80%, -50%);
        }
      }
    }

    &:disabled {
      + .form__label {
        &::after {
          background-color: #fff;
        }

        &::before {
          background-color: #efefef;
        }
      }
    }
  }
}

