.form {
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 12px;
    resize: none;
    border: 1px solid $form-bg-color;
    background-color: $form-bg-color;

    &:focus {
      outline: none;
      background-color: #fff;
    }

    &--resize {
      resize: auto;
    }
  }
}
