.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;

  &__field {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: baseline;
    margin: 8px 0;
  }

  &--horizontal {
    .form {
      &__field {
        flex-direction: row;
      }

      &__label {
        flex: 1;
      }

      &__input,
      &__textarea {
        flex: 2;
      }
    }
  }

  &__label {
    display: block;
    margin-top: 10px;
    padding-bottom: 8px;
    color: currentColor;
    font-family: $form-family;
    font-weight: $form-weight;
    letter-spacing: .4px;
  }

  &__actions {
    display: flex;
    margin: 10px 0;
  }
}

