.form-field {
  display: inline-flex;
  align-items: center;
  letter-spacing: .01786em;
  text-decoration: inherit;
  text-transform: inherit;
  vertical-align: middle;

  label {
    display: inline-flex;
    align-items: center;
    padding-left: $global-baseline;
    color: currentColor;
    font-size: .875rem;
    font-family: $form-family;
    font-weight: $form-weight;
    letter-spacing: .01786em;
    line-height: 1.25rem;
  }
}
