@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($date-picker-root) {
  display: block;

  &__dropdown {
    padding: 12px;
    background: red;
  }
}
