@use '@stewed/theme/scss' as theme;
@use 'variables' as *;

#{theme.$scope} {
    #{$alert-root} {
        --alert-border-radius: #{$alert-border-radius};

        position: relative;
        display: flex;
        width: 100%;
        color: var(--alert-color);
        padding: $alert-spacing;
        border-radius: var(--alert-border-radius);
        background-color: var(--alert-bg);

        @each $key, $value in $alert-appearances {
            @debug($value);
            &--#{$key} {
                --alert-bg: #{theme.get-color($value, 300)};
                --alert-color: #{theme.get-color($value, 900)};
            }
        }
    }
}
