@use 'sass:map';
@use '@stewed/theme/scss' as theme;

$alert-root: '.alert';

$alert-color: #fff;
$alert-border-radius: map.get(theme.$radius, 'md');

$alert-title-font-weight: map.get(theme.$font-weight, 'semibold');
$alert-body-font-size: map.get(theme.$font-size, 'sm');

$alert-appearances: (
    'info': blue,
    'success': green,
    'warning': yellow,
    'danger': red
);

$alert-inner-spacing-x: theme.$spacing * 2;
$alert-inner-spacing-y: theme.$spacing * 2;

$alert-gap: theme.$spacing;

$alert-sizes: (
    sm: theme.$spacing * 4,
    md: theme.$spacing * 5,
    lg: theme.$spacing * 6
);
