@use "@stewed/react/src/theme/src/styles" as theme;

// Avatar
$avatar-root: "avatar";

/// Skins
$avatar-skins: ("primary", "secondary", "neutral", "critical", "success", "info", "warning");

/// Sizes
$avatar-sizes: (
  "xs": 24px,
  "sm": 32px,
  "md": 40px,
  "lg": 48px,
  "xl": 56px,
  "2xl": 64px,
  "3xl": 72px,
  "4xl": 80px,
  "5xl": 88px,
);
