@use "@stewed/react/src/theme/src/styles" as theme;

// Avatar
$avatar-root: "avatar";

/// Appearance
$avatar-border-radius: (
  "square": theme.get-radius("md"),
  "round": theme.get-radius("full"),
);

/// Skins
$avatar-skins: (
  "primary": primary,
  "secondary": secondary,
);

/// Sizes
$avatar-sizes: (
  "xs": calc(theme.get-spacing("sm") * 3),
  "sm": calc(theme.get-spacing("sm") * 4),
  "md": calc(theme.get-spacing("sm") * 5),
  "lg": calc(theme.get-spacing("sm") * 6),
  "xl": calc(theme.get-spacing("sm") * 8),
  "2xl": calc(theme.get-spacing("sm") * 9),
  "3xl": calc(theme.get-spacing("sm") * 10),
  "4xl": calc(theme.get-spacing("sm") * 11),
  "5xl": calc(theme.get-spacing("sm") * 12),
);
