@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "./variables" as *;

@include theme.scope($avatar-root) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: theme.get-var(avatar-size);
  height: theme.get-var(avatar-size);
  overflow: hidden;
  font-size: calc(theme.get-var(avatar-size) / 3);
  font-weight: map.get(theme.$font-weight, medium);
  color: #fff;
  user-select: none;
  background-color: theme.get-var(avatar-background);
  border-radius: var(--avatar-border-radius);

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  @each $key, $value in $avatar-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          avatar-size: map.get($avatar-sizes, $key),
        )
      );
    }
  }

  @each $key, $value in $avatar-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          avatar-background: theme.get-color($value),
        )
      );
    }
  }

  &--circle {
    @include theme.define-var(
      (
        avatar-border-radius: map.get($avatar-border-radius, "round"),
      )
    );
  }

  &--square {
    @include theme.define-var(
      (
        avatar-border-radius: map.get($avatar-border-radius, "square"),
      )
    );
  }
}

@include theme.scope($avatar-group-root) {
  display: flex;

  > #{$avatar-root} + #{$avatar-root} {
    margin-left: calc(var(--avatar-size) / -3);
    box-shadow: 0 0 0 2px #fff;
  }
}
