@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($avatar-root) {
  all: unset;
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: theme.get-var(size);
  height: theme.get-var(size);
  overflow: hidden;
  user-select: none;
  border-radius: theme.get-var(border-radius);

  @include theme.focus-styles;

  @include text.typography(
    base,
    $overrides: (
      color: theme.get-var("color"),
      font-weight: theme.get-font-weight("medium"),
      font-size: calc(theme.get-var(size) / 3)
    )
  );

  &-group {
    display: flex;

    > .#{$avatar-root} {
      + .#{$avatar-root} {
        margin-left: calc(theme.get-var(size) / -3);
      }

      &--filled {
        box-shadow: 0 0 0 1px theme.get-color("background-surface");
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  @each $key, $value in $avatar-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          size: $value,
        )
      );
    }
  }

  @each $key, $value in $avatar-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: map.get($value, "background-color"),
          color-on-background: map.get($value, "color-on-background"),
          border-color: map.get($value, "border-color"),
          color: map.get($value, "color"),
        )
      );
    }
  }

  &--filled {
    background-color: theme.get-var(background-color);

    @include theme.define-var(
      (
        color: theme.get-var(color-on-background),
      )
    );
  }

  &--outline {
    background-color: theme.get-color("background-surface");
    border: 1px solid theme.get-var(border-color);
  }

  &--circle {
    @include theme.define-var(
      (
        border-radius: theme.get-radius("full"),
      )
    );
  }

  &--square {
    @include theme.define-var(
      (
        border-radius: theme.get-var(radius),
      )
    );
  }
}
