@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($avatar-root) {
  @include theme.define-var(
    (
      color: theme.get-theme-var(text-color),
    )
  );

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: theme.get-var(size);
  height: theme.get-var(size);
  overflow: hidden;
  font-size: calc(theme.get-var(size) / 3);
  font-weight: map.get(theme.$font-weight, medium);
  color: theme.get-var(color);
  user-select: none;
  background-color: theme.get-var(background-color);
  border-radius: theme.get-var(border-radius);

  &-group {
    display: flex;

    > .#{$avatar-root} {
      box-shadow: 0 0 0 1px currentcolor;

      + .#{$avatar-root} {
        margin-left: calc(theme.get-var(size) / -3);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  @each $key, $value in $avatar-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          size: map.get($avatar-sizes, $key),
        )
      );
    }
  }

  @each $key, $value in $avatar-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: theme.get-color($value),
        )
      );
    }
  }

  &--circle {
    @include theme.define-var(
      (
        border-radius: map.get($avatar-border-radius, "round"),
      )
    );
  }

  &--square {
    @include theme.define-var(
      (
        border-radius: map.get($avatar-border-radius, "square"),
      )
    );
  }
}
