/* stylelint-disable selector-max-type, order/order */
ul,
.list {
  width: 100%;
  margin: 0 0 map-get($space, lg);
  padding: 0 0 0 map-get($space, lg);

  ul {
    margin-left: map-get($space, lg);
    padding: 0;
  }

  li {
    padding-left: map-get($space, xs);

    @include get-typography(base);
  }

  &--check {
    list-style-type: none;
    padding-left: 0;

    li {
      &::before {
        position: relative;
        right: map-get($space, x-sm);
        content: "✔";
      }
    }
  }
}
