@use 'sass:map';
@use '../theme/scss' as theme;

$menu-root: '.menu';

$menu-inner-spacing-block: map.get(theme.$spacings, 'md');

// Menu Item
$menu-item-inner-spacing-inline: map.get(theme.$spacings, 'xl');
$menu-item-inner-spacing-block: map.get(theme.$spacings, 'md');
$menu-item-outer-spacing-bottom: map.get(theme.$spacings, 'xs');

$menu-item-border-radius: map.get(theme.$radius, 'md');

$menu-item-color-hover: #{theme.get-color(gray, 900)};

$menu-item-background-hover: #{theme.get-color(gray, 50)};
$menu-item-background-active: #{theme.get-color(gray, 100)};

$menu-item-skins: (
    'selected': primary,
    'danger': red,
);

// Menu Section
$menu-section-title-color: #{theme.get-color(gray, 400)};
$menu-section-title-font-size: map.get(theme.$font-size, 'xs');
$menu-section-title-font-weight: map.get(theme.$font-weight, 'medium');
