@use 'sass:map';
@use '../theme' as theme;
@use '../typography' as text;
@use './variables' as *;

@include theme.scope($menu-root) {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__item {
        @include text.typography(
            base,
            $overrides: (--typography-color: var(--menu-item-color))
        );
        --menu-item-background: transparent;
        --menu-item-color: inherit;

        position: relative;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-block: $menu-item-inner-spacing-block;
        padding-inline: $menu-item-inner-spacing-inline;
        background-color: var(--menu-item-background);
        border-radius: $menu-item-border-radius;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-bottom: $menu-item-outer-spacing-bottom;
        }

        @include theme.focus-styles();
        @include theme.disabled-styles();

        &:hover {
            --menu-item-background: #{$menu-item-background-hover};
        }

        &:active {
            --menu-item-background: #{$menu-item-background-active};
        }

        &__text {
            flex-grow: 1;
        }

        &__left,
        &__right {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            position: relative;
        }

        @each $key, $value in $menu-item-skins {
            &--#{$key} {
                --menu-item-background: transparent;
                --menu-item-color: #{theme.get-color($value, 600)};

                &:hover {
                    --menu-item-background: #{theme.get-color($value, 50)};
                }

                &:active {
                    --menu-item-background: #{theme.get-color($value, 100)};
                }

                &#{$menu-root}__item--selected {
                    --menu-item-background: #{theme.get-color($value, 50)};
                }
            }
        }

        @include theme.disabled-styles();
    }

    &__group {
        padding-block: 4px;

        &:not(:last-child) {
            border-bottom: 1px solid #{theme.get-color(gray, 200)};
            margin-bottom: $menu-item-outer-spacing-bottom;
        }

        &__title {
            @include text.typography(
                base,
                $overrides: (
                    --typography-color: theme.get-color(gray, 400),
                    --typography-font-size: $menu-section-title-font-size
                )
            );
            margin-bottom: 8px;
        }
    }
}
