@use 'sass:map';
@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($menu-root) {
    --menu-item-background: transparent;
    --menu-item-color: inherit;

    width: 100%;
    padding: $menu-inner-spacing-block 0px;
    position: relative;

    &__item {
        @include theme.reset();

        position: relative;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: $menu-item-inner-spacing-block $menu-item-inner-spacing-inline;
        background-color: var(--menu-item-background);
        border-radius: $menu-item-border-radius;
        color: var(--menu-item-color);
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-bottom: $menu-item-outer-spacing-bottom;
        }

        @include theme.focus-styles();

        @include theme.disabled-styles();

        &:hover {
            --menu-item-background: #{$menu-item-background-hover};
            --menu-item-color: #{$menu-item-color-hover};
        }

        &:active {
            --menu-item-background: #{$menu-item-background-active};
        }

        &__text {
          flex-grow: 1;
        }

        &__left,
        &__right {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            position: relative;
        }

        @each $key, $value in $menu-item-skins {
            &--#{$key} {
                --menu-item-background: #{theme.get-color($value, 50)};
                --menu-item-color: #{theme.get-color($value, 600)};

                &:hover {
                    --menu-item-background: #{theme.get-color($value, 100)};
                    --menu-item-color: #{theme.get-color($value, 600)};
                }

                &:active {
                    --menu-item-background: #{theme.get-color($value, 200)};
                }
            }
        }

        @include theme.disabled-styles();
    }

    &__group {
        border-bottom: 1px solid red;
    }
}
