@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?69279183');
  src: url('../font/fontello.eot?69279183#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?69279183') format('woff'),
       url('../font/fontello.ttf?69279183') format('truetype'),
       url('../font/fontello.svg?69279183#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?69279183#fontello') format('svg');
  }
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;

}
 
.icon-glass:before { content: '\ea27'; } /* '' */
.icon-windy-inv:before { content: '\e8d2'; } /* '' */
.icon-mail-alt:before { content: '\ea2b'; } /* '' */
.icon-male:before { content: '\ea79'; } /* '' */
.icon-female:before { content: '\ea7a'; } /* '' */
.icon-video:before { content: '\ea7b'; } /* '' */
.icon-videocam:before { content: '\ea7c'; } /* '' */
.icon-picture:before { content: '\ea89'; } /* '' */
.icon-camera:before { content: '\e869'; } /* '' */
.icon-camera-alt:before { content: '\e868'; } /* '' */
.icon-plus-squared-1:before { content: '\e804'; } /* '' */
.icon-help-1:before { content: '\e86b'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\ea3e'; } /* '' */
.icon-link:before { content: '\ea3f'; } /* '' */
.icon-unlink:before { content: '\ea40'; } /* '' */
.icon-link-ext:before { content: '\ea41'; } /* '' */
.icon-link-ext-alt:before { content: '\ea42'; } /* '' */
.icon-attach-1:before { content: '\ea43'; } /* '' */
.icon-lock:before { content: '\ea44'; } /* '' */
.icon-lock-open:before { content: '\ea45'; } /* '' */
.icon-lock-open-alt:before { content: '\ea46'; } /* '' */
.icon-pin:before { content: '\ea77'; } /* '' */
.icon-eye-1:before { content: '\ea81'; } /* '' */
.icon-eye-off:before { content: '\ea82'; } /* '' */
.icon-tag:before { content: '\ea83'; } /* '' */
.icon-tags:before { content: '\ea84'; } /* '' */
.icon-bookmark:before { content: '\e86d'; } /* '' */
.icon-bookmark-empty:before { content: '\e86c'; } /* '' */
.icon-flag-1:before { content: '\e867'; } /* '' */
.icon-flag-empty:before { content: '\ea47'; } /* '' */
.icon-download-1:before { content: '\ea4d'; } /* '' */
.icon-upload-1:before { content: '\ea4e'; } /* '' */
.icon-download-cloud:before { content: '\ea4f'; } /* '' */
.icon-upload-cloud:before { content: '\ea50'; } /* '' */
.icon-reply-1:before { content: '\ea51'; } /* '' */
.icon-reply-all-1:before { content: '\ea52'; } /* '' */
.icon-forward-1:before { content: '\ea78'; } /* '' */
.icon-quote-left:before { content: '\ea85'; } /* '' */
.icon-quote-right:before { content: '\ea86'; } /* '' */
.icon-code-1:before { content: '\ea87'; } /* '' */
.icon-export-1:before { content: '\ea88'; } /* '' */
.icon-export-alt:before { content: '\e86e'; } /* '' */
.icon-pencil-1:before { content: '\e86f'; } /* '' */
.icon-pencil-squared:before { content: '\e866'; } /* '' */
.icon-edit:before { content: '\ea53'; } /* '' */
.icon-print-1:before { content: '\ea54'; } /* '' */
.icon-retweet-1:before { content: '\ea55'; } /* '' */
.icon-keyboard-1:before { content: '\ea56'; } /* '' */
.icon-gamepad:before { content: '\ea57'; } /* '' */
.icon-comment-1:before { content: '\ea58'; } /* '' */
.icon-chat-1:before { content: '\ea59'; } /* '' */
.icon-comment-empty:before { content: '\ea5a'; } /* '' */
.icon-chat-empty:before { content: '\ea5b'; } /* '' */
.icon-bell-1:before { content: '\ea5c'; } /* '' */
.icon-bell-alt:before { content: '\ea5d'; } /* '' */
.icon-attention-alt:before { content: '\ea5e'; } /* '' */
.icon-attention-1:before { content: '\e802'; } /* '' */
.icon-attention-circled:before { content: '\ea25'; } /* '' */
.icon-location-1:before { content: '\ea26'; } /* '' */
.icon-direction:before { content: '\e876'; } /* '' */
.icon-compass-2:before { content: '\e875'; } /* '' */
.icon-trash:before { content: '\e871'; } /* '' */
.icon-doc:before { content: '\e870'; } /* '' */
.icon-docs:before { content: '\e865'; } /* '' */
.icon-doc-text-1:before { content: '\ea5f'; } /* '' */
.icon-doc-inv:before { content: '\ea60'; } /* '' */
.icon-doc-text-inv-1:before { content: '\ea61'; } /* '' */
.icon-folder-1:before { content: '\ea62'; } /* '' */
.icon-folder-open:before { content: '\ea63'; } /* '' */
.icon-folder-empty:before { content: '\ea64'; } /* '' */
.icon-folder-open-empty:before { content: '\ea65'; } /* '' */
.icon-box-1:before { content: '\ea66'; } /* '' */
.icon-rss-1:before { content: '\ea67'; } /* '' */
.icon-rss-squared:before { content: '\ea68'; } /* '' */
.icon-phone-1:before { content: '\ea69'; } /* '' */
.icon-phone-squared:before { content: '\ea6a'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-cog-1:before { content: '\ea24'; } /* '' */
.icon-cog-alt:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e877'; } /* '' */
.icon-basket:before { content: '\e874'; } /* '' */
.icon-calendar:before { content: '\e872'; } /* '' */
.icon-calendar-empty:before { content: '\e873'; } /* '' */
.icon-login:before { content: '\e864'; } /* '' */
.icon-logout-1:before { content: '\ea6b'; } /* '' */
.icon-mic-1:before { content: '\ea6c'; } /* '' */
.icon-mute-1:before { content: '\ea6d'; } /* '' */
.icon-volume-off:before { content: '\ea6e'; } /* '' */
.icon-volume-down:before { content: '\ea6f'; } /* '' */
.icon-volume-up:before { content: '\ea70'; } /* '' */
.icon-headphones:before { content: '\ea71'; } /* '' */
.icon-clock-1:before { content: '\ea72'; } /* '' */
.icon-lightbulb:before { content: '\ea73'; } /* '' */
.icon-block-1:before { content: '\ea74'; } /* '' */
.icon-resize-full:before { content: '\ea75'; } /* '' */
.icon-resize-full-alt:before { content: '\ea76'; } /* '' */
.icon-resize-small:before { content: '\ea23'; } /* '' */
.icon-resize-vertical:before { content: '\ea22'; } /* '' */
.icon-resize-horizontal:before { content: '\ea21'; } /* '' */
.icon-move:before { content: '\e858'; } /* '' */
.icon-zoom-in:before { content: '\e857'; } /* '' */
.icon-zoom-out:before { content: '\e856'; } /* '' */
.icon-down-circled:before { content: '\e855'; } /* '' */
.icon-up-circled2:before { content: '\e854'; } /* '' */
.icon-left-circled:before { content: '\e807'; } /* '' */
.icon-right-circled2:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-left-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-angle-circled-left:before { content: '\ea1e'; } /* '' */
.icon-angle-circled-right:before { content: '\e85f'; } /* '' */
.icon-angle-circled-up:before { content: '\e860'; } /* '' */
.icon-angle-circled-down:before { content: '\e861'; } /* '' */
.icon-angle-double-left:before { content: '\e862'; } /* '' */
.icon-angle-double-right:before { content: '\e863'; } /* '' */
.icon-angle-double-up:before { content: '\e9e7'; } /* '' */
.icon-angle-double-down:before { content: '\e9e9'; } /* '' */
.icon-down-big:before { content: '\e9f1'; } /* '' */
.icon-left-big:before { content: '\e9f2'; } /* '' */
.icon-right-big:before { content: '\e9f3'; } /* '' */
.icon-up-big:before { content: '\e9f4'; } /* '' */
.icon-left-circled-1:before { content: '\e9f9'; } /* '' */
.icon-right-circled:before { content: '\e813'; } /* '' */
.icon-up-circled:before { content: '\e814'; } /* '' */
.icon-down-circled-2:before { content: '\e815'; } /* '' */
.icon-cw:before { content: '\e816'; } /* '' */
.icon-ccw:before { content: '\e817'; } /* '' */
.icon-arrows-cw:before { content: '\e9e8'; } /* '' */
.icon-level-up:before { content: '\e9ea'; } /* '' */
.icon-level-down:before { content: '\e9ec'; } /* '' */
.icon-shuffle:before { content: '\e9fa'; } /* '' */
.icon-exchange:before { content: '\e9fb'; } /* '' */
.icon-target-1:before { content: '\e9e5'; } /* '' */
.icon-signal-1:before { content: '\e9e6'; } /* '' */
.icon-award:before { content: '\ea06'; } /* '' */
.icon-desktop:before { content: '\ea07'; } /* '' */
.icon-laptop:before { content: '\ea08'; } /* '' */
.icon-tablet:before { content: '\ea09'; } /* '' */
.icon-mobile:before { content: '\ea0a'; } /* '' */
.icon-inbox-1:before { content: '\ea0b'; } /* '' */
.icon-globe-1:before { content: '\ea0c'; } /* '' */
.icon-sun:before { content: '\ea0d'; } /* '' */
.icon-flash-1:before { content: '\ea0f'; } /* '' */
.icon-umbrella:before { content: '\ea11'; } /* '' */
.icon-flight-1:before { content: '\e81d'; } /* '' */
.icon-fighter-jet:before { content: '\e81e'; } /* '' */
.icon-leaf-1:before { content: '\e81f'; } /* '' */
.icon-font:before { content: '\e820'; } /* '' */
.icon-bold:before { content: '\e821'; } /* '' */
.icon-italic:before { content: '\e822'; } /* '' */
.icon-text-height:before { content: '\e9e4'; } /* '' */
.icon-text-width:before { content: '\e9ed'; } /* '' */
.icon-align-left:before { content: '\ea12'; } /* '' */
.icon-align-center:before { content: '\ea13'; } /* '' */
.icon-align-right:before { content: '\ea14'; } /* '' */
.icon-align-justify:before { content: '\ea15'; } /* '' */
.icon-list-1:before { content: '\ea16'; } /* '' */
.icon-indent-left:before { content: '\ea17'; } /* '' */
.icon-indent-right:before { content: '\ea18'; } /* '' */
.icon-list-bullet:before { content: '\ea19'; } /* '' */
.icon-list-numbered:before { content: '\ea1a'; } /* '' */
.icon-strike:before { content: '\ea1b'; } /* '' */
.icon-underline:before { content: '\ea1c'; } /* '' */
.icon-superscript:before { content: '\ea1d'; } /* '' */
.icon-subscript:before { content: '\e823'; } /* '' */
.icon-table:before { content: '\e824'; } /* '' */
.icon-columns:before { content: '\e825'; } /* '' */
.icon-crop:before { content: '\e826'; } /* '' */
.icon-scissors:before { content: '\e827'; } /* '' */
.icon-paste:before { content: '\e962'; } /* '' */
.icon-briefcase-1:before { content: '\e963'; } /* '' */
.icon-suitcase-1:before { content: '\e964'; } /* '' */
.icon-ellipsis:before { content: '\e965'; } /* '' */
.icon-ellipsis-vert:before { content: '\e966'; } /* '' */
.icon-off:before { content: '\e967'; } /* '' */
.icon-road:before { content: '\e968'; } /* '' */
.icon-list-alt:before { content: '\e969'; } /* '' */
.icon-qrcode:before { content: '\e96a'; } /* '' */
.icon-barcode:before { content: '\e96b'; } /* '' */
.icon-book-1:before { content: '\e96c'; } /* '' */
.icon-ajust:before { content: '\e96d'; } /* '' */
.icon-tint:before { content: '\e96e'; } /* '' */
.icon-check-1:before { content: '\e96f'; } /* '' */
.icon-check-empty:before { content: '\e970'; } /* '' */
.icon-circle:before { content: '\e971'; } /* '' */
.icon-circle-empty:before { content: '\e972'; } /* '' */
.icon-dot-circled:before { content: '\e973'; } /* '' */
.icon-asterisk:before { content: '\e974'; } /* '' */
.icon-gift:before { content: '\e975'; } /* '' */
.icon-fire:before { content: '\e976'; } /* '' */
.icon-magnet:before { content: '\e977'; } /* '' */
.icon-chart-bar-1:before { content: '\e978'; } /* '' */
.icon-ticket-1:before { content: '\e979'; } /* '' */
.icon-credit-card-1:before { content: '\e97a'; } /* '' */
.icon-floppy-1:before { content: '\e97b'; } /* '' */
.icon-megaphone-1:before { content: '\e97c'; } /* '' */
.icon-hdd:before { content: '\e97d'; } /* '' */
.icon-key-1:before { content: '\e97e'; } /* '' */
.icon-fork:before { content: '\e97f'; } /* '' */
.icon-rocket-1:before { content: '\e980'; } /* '' */
.icon-bug:before { content: '\e981'; } /* '' */
.icon-certificate:before { content: '\e982'; } /* '' */
.icon-tasks:before { content: '\e983'; } /* '' */
.icon-filter:before { content: '\e984'; } /* '' */
.icon-beaker:before { content: '\e985'; } /* '' */
.icon-magic:before { content: '\e986'; } /* '' */
.icon-truck:before { content: '\e987'; } /* '' */
.icon-money:before { content: '\e988'; } /* '' */
.icon-dollar:before { content: '\e98b'; } /* '' */
.icon-sort:before { content: '\e992'; } /* '' */
.icon-sort-down:before { content: '\e993'; } /* '' */
.icon-sort-up:before { content: '\e994'; } /* '' */
.icon-sort-alt-up:before { content: '\e995'; } /* '' */
.icon-sort-alt-down:before { content: '\e996'; } /* '' */
.icon-sort-name-up:before { content: '\e997'; } /* '' */
.icon-sort-name-down:before { content: '\e998'; } /* '' */
.icon-sort-number-up:before { content: '\e999'; } /* '' */
.icon-sort-number-down:before { content: '\e99a'; } /* '' */
.icon-hammer:before { content: '\e99b'; } /* '' */
.icon-gauge-1:before { content: '\e99c'; } /* '' */
.icon-sitemap:before { content: '\e99d'; } /* '' */
.icon-spinner:before { content: '\e99e'; } /* '' */
.icon-coffee:before { content: '\e99f'; } /* '' */
.icon-food:before { content: '\e9a0'; } /* '' */
.icon-beer:before { content: '\e9a1'; } /* '' */
.icon-user-md:before { content: '\e9a2'; } /* '' */
.icon-stethoscope:before { content: '\e9a3'; } /* '' */
.icon-ambulance:before { content: '\e9a4'; } /* '' */
.icon-medkit:before { content: '\e9a5'; } /* '' */
.icon-h-sigh:before { content: '\e9a6'; } /* '' */
.icon-hospital:before { content: '\e9a7'; } /* '' */
.icon-building:before { content: '\e9a8'; } /* '' */
.icon-smile:before { content: '\e9a9'; } /* '' */
.icon-frown:before { content: '\e9aa'; } /* '' */
.icon-meh:before { content: '\e9ab'; } /* '' */
.icon-anchor:before { content: '\e9ac'; } /* '' */
.icon-terminal:before { content: '\e9ad'; } /* '' */
.icon-eraser:before { content: '\e9ae'; } /* '' */
.icon-puzzle:before { content: '\e9af'; } /* '' */
.icon-shield:before { content: '\e9b0'; } /* '' */
.icon-extinguisher:before { content: '\e9b1'; } /* '' */
.icon-note:before { content: '\e828'; } /* '' */
.icon-note-beamed:before { content: '\e829'; } /* '' */
.icon-music:before { content: '\e82a'; } /* '' */
.icon-search:before { content: '\e82b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-star-empty:before { content: '\e80a'; } /* '' */
.icon-user-1:before { content: '\e832'; } /* '' */
.icon-users-1:before { content: '\e833'; } /* '' */
.icon-user-add:before { content: '\e834'; } /* '' */
.icon-video-1:before { content: '\e835'; } /* '' */
.icon-picture-1:before { content: '\e836'; } /* '' */
.icon-camera-1:before { content: '\e837'; } /* '' */
.icon-layout:before { content: '\e838'; } /* '' */
.icon-menu-1:before { content: '\e839'; } /* '' */
.icon-check:before { content: '\e83a'; } /* '' */
.icon-mail:before { content: '\ea2a'; } /* '' */
.icon-cancel-circled:before { content: '\e83c'; } /* '' */
.icon-cancel-squared:before { content: '\e83d'; } /* '' */
.icon-plus:before { content: '\e83e'; } /* '' */
.icon-plus-circled:before { content: '\e83f'; } /* '' */
.icon-plus-squared:before { content: '\e840'; } /* '' */
.icon-minus:before { content: '\e841'; } /* '' */
.icon-minus-circled:before { content: '\e842'; } /* '' */
.icon-minus-squared:before { content: '\e843'; } /* '' */
.icon-help:before { content: '\e844'; } /* '' */
.icon-help-circled-1:before { content: '\e845'; } /* '' */
.icon-info:before { content: '\e846'; } /* '' */
.icon-info-circled:before { content: '\e847'; } /* '' */
.icon-back:before { content: '\e848'; } /* '' */
.icon-home-1:before { content: '\e849'; } /* '' */
.icon-link-1:before { content: '\e84a'; } /* '' */
.icon-attach:before { content: '\e84b'; } /* '' */
.icon-tag-1:before { content: '\e84f'; } /* '' */
.icon-bookmark-1:before { content: '\e850'; } /* '' */
.icon-bookmarks:before { content: '\e851'; } /* '' */
.icon-flag:before { content: '\e852'; } /* '' */
.icon-thumbs-up:before { content: '\e853'; } /* '' */
.icon-thumbs-down:before { content: '\e859'; } /* '' */
.icon-download:before { content: '\e85a'; } /* '' */
.icon-upload:before { content: '\e85b'; } /* '' */
.icon-upload-cloud-1:before { content: '\e85c'; } /* '' */
.icon-reply:before { content: '\e85d'; } /* '' */
.icon-reply-all:before { content: '\e85e'; } /* '' */
.icon-forward:before { content: '\e878'; } /* '' */
.icon-quote:before { content: '\e879'; } /* '' */
.icon-code:before { content: '\e87a'; } /* '' */
.icon-export:before { content: '\e87b'; } /* '' */
.icon-pencil:before { content: '\e87c'; } /* '' */
.icon-feather:before { content: '\e87d'; } /* '' */
.icon-print:before { content: '\e87e'; } /* '' */
.icon-retweet:before { content: '\e87f'; } /* '' */
.icon-keyboard:before { content: '\e880'; } /* '' */
.icon-comment:before { content: '\e881'; } /* '' */
.icon-chat:before { content: '\e882'; } /* '' */
.icon-bell:before { content: '\e883'; } /* '' */
.icon-attention:before { content: '\e884'; } /* '' */
.icon-alert:before { content: '\e885'; } /* '' */
.icon-vcard:before { content: '\e886'; } /* '' */
.icon-address:before { content: '\e887'; } /* '' */
.icon-location:before { content: '\e888'; } /* '' */
.icon-map:before { content: '\e889'; } /* '' */
.icon-direction-1:before { content: '\e88a'; } /* '' */
.icon-compass-1:before { content: '\e88b'; } /* '' */
.icon-cup:before { content: '\e88c'; } /* '' */
.icon-trash-1:before { content: '\e88d'; } /* '' */
.icon-doc-1:before { content: '\e88e'; } /* '' */
.icon-docs-1:before { content: '\e88f'; } /* '' */
.icon-doc-landscape:before { content: '\e890'; } /* '' */
.icon-doc-text:before { content: '\e891'; } /* '' */
.icon-doc-text-inv:before { content: '\e892'; } /* '' */
.icon-newspaper:before { content: '\e893'; } /* '' */
.icon-book-open:before { content: '\e894'; } /* '' */
.icon-book:before { content: '\e895'; } /* '' */
.icon-folder:before { content: '\e896'; } /* '' */
.icon-archive:before { content: '\e897'; } /* '' */
.icon-box:before { content: '\e898'; } /* '' */
.icon-rss:before { content: '\e899'; } /* '' */
.icon-phone:before { content: '\e89a'; } /* '' */
.icon-cog:before { content: '\e89b'; } /* '' */
.icon-tools:before { content: '\e89c'; } /* '' */
.icon-share:before { content: '\e89d'; } /* '' */
.icon-shareable:before { content: '\e89e'; } /* '' */
.icon-basket-1:before { content: '\e89f'; } /* '' */
.icon-bag:before { content: '\e8a0'; } /* '' */
.icon-calendar-1:before { content: '\e8a1'; } /* '' */
.icon-login-1:before { content: '\e8a2'; } /* '' */
.icon-logout:before { content: '\e8a3'; } /* '' */
.icon-mic:before { content: '\e8a4'; } /* '' */
.icon-mute:before { content: '\e8a5'; } /* '' */
.icon-sound:before { content: '\e8a6'; } /* '' */
.icon-volume:before { content: '\e8a7'; } /* '' */
.icon-clock:before { content: '\e8a8'; } /* '' */
.icon-hourglass:before { content: '\e8a9'; } /* '' */
.icon-lamp:before { content: '\e8aa'; } /* '' */
.icon-light-down:before { content: '\e8ab'; } /* '' */
.icon-light-up:before { content: '\e8ac'; } /* '' */
.icon-adjust:before { content: '\e8ad'; } /* '' */
.icon-block:before { content: '\e8ae'; } /* '' */
.icon-resize-full-1:before { content: '\e8af'; } /* '' */
.icon-resize-small-1:before { content: '\e8b0'; } /* '' */
.icon-popup:before { content: '\e8b1'; } /* '' */
.icon-publish:before { content: '\e8b2'; } /* '' */
.icon-window:before { content: '\e8b3'; } /* '' */
.icon-arrow-combo:before { content: '\e8b4'; } /* '' */
.icon-down-circled-1:before { content: '\e8b5'; } /* '' */
.icon-left-circled-2:before { content: '\e8b6'; } /* '' */
.icon-right-circled-1:before { content: '\e8b7'; } /* '' */
.icon-up-circled-1:before { content: '\e8b8'; } /* '' */
.icon-down-open-big:before { content: '\e86a'; } /* '' */
.icon-left-open-big:before { content: '\e84d'; } /* '' */
.icon-right-open-big:before { content: '\e84c'; } /* '' */
.icon-up-open-big:before { content: '\e8c5'; } /* '' */
.icon-down-dir-1:before { content: '\e8c9'; } /* '' */
.icon-left-dir-1:before { content: '\e8ca'; } /* '' */
.icon-right-dir-1:before { content: '\e8cb'; } /* '' */
.icon-up-dir-1:before { content: '\e8cc'; } /* '' */
.icon-down-bold:before { content: '\e8cd'; } /* '' */
.icon-left-bold:before { content: '\e8ce'; } /* '' */
.icon-right-bold:before { content: '\e8cf'; } /* '' */
.icon-up-bold:before { content: '\e8d0'; } /* '' */
.icon-ccw-1:before { content: '\e8d5'; } /* '' */
.icon-cw-1:before { content: '\e8d6'; } /* '' */
.icon-arrows-ccw:before { content: '\e8d7'; } /* '' */
.icon-level-down-1:before { content: '\e8d8'; } /* '' */
.icon-level-up-1:before { content: '\e8d9'; } /* '' */
.icon-shuffle-1:before { content: '\e8da'; } /* '' */
.icon-loop:before { content: '\e8db'; } /* '' */
.icon-switch:before { content: '\e8dc'; } /* '' */
.icon-play:before { content: '\e8dd'; } /* '' */
.icon-stop:before { content: '\e8de'; } /* '' */
.icon-pause:before { content: '\e8df'; } /* '' */
.icon-record:before { content: '\e8e0'; } /* '' */
.icon-to-end:before { content: '\e8e1'; } /* '' */
.icon-to-start-1:before { content: '\e8e2'; } /* '' */
.icon-fast-forward:before { content: '\e8e3'; } /* '' */
.icon-fast-backward:before { content: '\e8e4'; } /* '' */
.icon-progress-0:before { content: '\e8e5'; } /* '' */
.icon-progress-1:before { content: '\e8e6'; } /* '' */
.icon-progress-2:before { content: '\e8e7'; } /* '' */
.icon-progress-3:before { content: '\e8e8'; } /* '' */
.icon-target:before { content: '\e8e9'; } /* '' */
.icon-palette:before { content: '\e8ea'; } /* '' */
.icon-signal:before { content: '\e8ed'; } /* '' */
.icon-trophy:before { content: '\e8ee'; } /* '' */
.icon-battery:before { content: '\e8ef'; } /* '' */
.icon-back-in-time:before { content: '\e8f0'; } /* '' */
.icon-network:before { content: '\e8f3'; } /* '' */
.icon-cd:before { content: '\e8f4'; } /* '' */
.icon-inbox:before { content: '\e8f5'; } /* '' */
.icon-install:before { content: '\e8f6'; } /* '' */
.icon-globe:before { content: '\e8f7'; } /* '' */
.icon-cloud-thunder:before { content: '\e800'; } /* '' */
.icon-flash:before { content: '\e8fa'; } /* '' */
.icon-moon:before { content: '\e8fb'; } /* '' */
.icon-flight:before { content: '\e8fc'; } /* '' */
.icon-paper-plane:before { content: '\e8fd'; } /* '' */
.icon-leaf:before { content: '\e8fe'; } /* '' */
.icon-lifebuoy:before { content: '\e8ff'; } /* '' */
.icon-mouse:before { content: '\e900'; } /* '' */
.icon-briefcase:before { content: '\e901'; } /* '' */
.icon-suitcase:before { content: '\e902'; } /* '' */
.icon-dot-1:before { content: '\e903'; } /* '' */
.icon-dot-2:before { content: '\e904'; } /* '' */
.icon-dot-3:before { content: '\e905'; } /* '' */
.icon-brush:before { content: '\e906'; } /* '' */
.icon-magnet-1:before { content: '\e907'; } /* '' */
.icon-infinity:before { content: '\e908'; } /* '' */
.icon-erase:before { content: '\e909'; } /* '' */
.icon-chart-pie:before { content: '\e90a'; } /* '' */
.icon-chart-line:before { content: '\e90b'; } /* '' */
.icon-chart-bar:before { content: '\e90c'; } /* '' */
.icon-chart-area:before { content: '\e90d'; } /* '' */
.icon-tape:before { content: '\e90e'; } /* '' */
.icon-graduation-cap:before { content: '\e90f'; } /* '' */
.icon-ticket:before { content: '\e911'; } /* '' */
.icon-water:before { content: '\e912'; } /* '' */
.icon-droplet:before { content: '\e913'; } /* '' */
.icon-air:before { content: '\e914'; } /* '' */
.icon-credit-card:before { content: '\e915'; } /* '' */
.icon-floppy:before { content: '\e916'; } /* '' */
.icon-clipboard:before { content: '\e917'; } /* '' */
.icon-megaphone:before { content: '\e918'; } /* '' */
.icon-database:before { content: '\e919'; } /* '' */
.icon-drive:before { content: '\e91a'; } /* '' */
.icon-bucket:before { content: '\e91b'; } /* '' */
.icon-thermometer:before { content: '\e91c'; } /* '' */
.icon-key:before { content: '\e91d'; } /* '' */
.icon-flow-cascade:before { content: '\e91e'; } /* '' */
.icon-flow-branch:before { content: '\e91f'; } /* '' */
.icon-flow-tree:before { content: '\e920'; } /* '' */
.icon-flow-line:before { content: '\e921'; } /* '' */
.icon-flow-parallel:before { content: '\e922'; } /* '' */
.icon-rocket:before { content: '\e923'; } /* '' */
.icon-gauge:before { content: '\e924'; } /* '' */
.icon-traffic-cone:before { content: '\e925'; } /* '' */
.icon-cc:before { content: '\e926'; } /* '' */
.icon-cc-by:before { content: '\e927'; } /* '' */
.icon-cc-nc:before { content: '\e928'; } /* '' */
.icon-cc-nc-eu:before { content: '\e929'; } /* '' */
.icon-cc-nc-jp:before { content: '\e92a'; } /* '' */
.icon-cc-sa:before { content: '\e92b'; } /* '' */
.icon-cc-nd:before { content: '\e92c'; } /* '' */
.icon-cc-pd:before { content: '\e92d'; } /* '' */
.icon-cc-zero:before { content: '\e92e'; } /* '' */
.icon-cc-share:before { content: '\e92f'; } /* '' */
.icon-cc-remix:before { content: '\e930'; } /* '' */
.icon-github:before { content: '\e931'; } /* '' */
.icon-github-circled:before { content: '\e932'; } /* '' */
.icon-flickr:before { content: '\e933'; } /* '' */
.icon-flickr-circled:before { content: '\e934'; } /* '' */
.icon-vimeo:before { content: '\e935'; } /* '' */
.icon-vimeo-circled:before { content: '\e936'; } /* '' */
.icon-twitter:before { content: '\e937'; } /* '' */
.icon-twitter-circled:before { content: '\e938'; } /* '' */
.icon-facebook:before { content: '\e939'; } /* '' */
.icon-facebook-circled:before { content: '\e93a'; } /* '' */
.icon-facebook-squared:before { content: '\e93b'; } /* '' */
.icon-gplus:before { content: '\e93c'; } /* '' */
.icon-gplus-circled:before { content: '\e93d'; } /* '' */
.icon-pinterest:before { content: '\e93e'; } /* '' */
.icon-pinterest-circled:before { content: '\e93f'; } /* '' */
.icon-tumblr:before { content: '\e940'; } /* '' */
.icon-tumblr-circled:before { content: '\e941'; } /* '' */
.icon-linkedin:before { content: '\e942'; } /* '' */
.icon-linkedin-circled:before { content: '\e943'; } /* '' */
.icon-dribbble:before { content: '\e944'; } /* '' */
.icon-dribbble-circled:before { content: '\e945'; } /* '' */
.icon-stumbleupon:before { content: '\e946'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e947'; } /* '' */
.icon-lastfm-circled:before { content: '\e949'; } /* '' */
.icon-rdio:before { content: '\e94a'; } /* '' */
.icon-rdio-circled:before { content: '\e94b'; } /* '' */
.icon-spotify:before { content: '\e94c'; } /* '' */
.icon-spotify-circled:before { content: '\e94d'; } /* '' */
.icon-qq:before { content: '\e94e'; } /* '' */
.icon-instagram:before { content: '\e94f'; } /* '' */
.icon-dropbox:before { content: '\e950'; } /* '' */
.icon-evernote:before { content: '\e951'; } /* '' */
.icon-flattr:before { content: '\e952'; } /* '' */
.icon-skype:before { content: '\e953'; } /* '' */
.icon-skype-circled:before { content: '\e954'; } /* '' */
.icon-renren:before { content: '\e955'; } /* '' */
.icon-sina-weibo:before { content: '\e956'; } /* '' */
.icon-paypal:before { content: '\e957'; } /* '' */
.icon-picasa:before { content: '\e958'; } /* '' */
.icon-soundcloud:before { content: '\e959'; } /* '' */
.icon-mixi:before { content: '\e95a'; } /* '' */
.icon-behance:before { content: '\e95b'; } /* '' */
.icon-google-circles:before { content: '\e95c'; } /* '' */
.icon-vkontakte:before { content: '\e95d'; } /* '' */
.icon-smashing:before { content: '\e95e'; } /* '' */
.icon-sweden:before { content: '\e95f'; } /* '' */
.icon-db-shape:before { content: '\e960'; } /* '' */
.icon-logo-db:before { content: '\e961'; } /* '' */
.icon-windy-rain-inv:before { content: '\e805'; } /* '' */
.icon-snow-inv:before { content: '\e82c'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e82d'; } /* '' */
.icon-hail-inv:before { content: '\e82e'; } /* '' */
.icon-clouds-inv:before { content: '\e82f'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e830'; } /* '' */
.icon-temperature:before { content: '\e831'; } /* '' */
.icon-compass:before { content: '\e8b9'; } /* '' */
.icon-na:before { content: '\e8ba'; } /* '' */
.icon-celcius:before { content: '\e8bb'; } /* '' */
.icon-fahrenheit:before { content: '\e8bc'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e8bd'; } /* '' */
.icon-sun-inv:before { content: '\e8be'; } /* '' */
.icon-moon-inv:before { content: '\e8bf'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e8c0'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e8c1'; } /* '' */
.icon-cloud-inv:before { content: '\e8c2'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e8c3'; } /* '' */
.icon-drizzle-inv:before { content: '\e8c4'; } /* '' */
.icon-rain-inv:before { content: '\e8d1'; } /* '' */
.icon-cancel:before { content: '\e83b'; } /* '' */


