@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Light.ttf');
    src: url('../font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Light.ttf');
    src: url('../font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Capsuula';
    src: url('../font/Capsuula.ttf');
}
@font-face {
    font-family: 'Aaargh';
    src: url('../font/Aaargh.ttf');
}
@font-face {
    font-family: 'Colaborate';
    src: url('../font/ColabLig.otf');
}
@font-face {
    font-family: 'JosefinSans';
    src: url('../font/JosefinSans-Light.ttf');
    src: url('../font/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../font/ProximaNova-Light.otf');
}
