/* Grid */
.row {
    margin: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    top: 0px;
}
.row .row {
    display: inline-block;
}
[class*="grid-"] {
    margin: auto;
}
.column-responsive {
    overflow: hidden;
}

/* Grid */
.grid-1  {width: 100px;}
.grid-2  {width: 200px;}
.grid-3  {width: 300px;}
.grid-4  {width: 400px;}
.grid-5  {width: 500px;}
.grid-6  {width: 600px;}
.grid-7  {width: 700px;}
.grid-8  {width: 800px;}
.grid-9  {width: 900px;}
.grid-10 {width: 1000px;}
.grid-11 {width: 1100px;}
.grid-12 {width: 1200px;}
.grid-90 {width: 90%;}

/* Medium */
[class*="medium-"] {float: left;width: auto;}

/* Small */
[class*="small-"] {float: left;width: auto;}

/* Large */
[class*="large-"] {float: left;}
.large-100 {width: 100.00%;}
.large-90  {width: 90.000%;}
.large-80  {width: 80.000%;}
.large-75  {width: 75.000%;}
.large-70  {width: 70.000%;}
.large-66  {width: 66.669%;}
.large-60  {width: 60.000%;}
.large-50  {width: 50.000%;}
.large-40  {width: 40.000%;}
.large-33  {width: 33.333%;}
.large-30  {width: 30.000%;}
.large-25  {width: 25.000%;}
.large-20  {width: 20.000%;}
.large-16  {width: 16.666%;}
.large-12  {width: 12.500%;}
.large-10  {width: 10.000%;}
.large-8  {width: 8.333%;}

@media only screen and (min-width: 1110px){

    .nav-toggle {
        display: block!important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1110px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90 {
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Small */
    [class*="small-"] {float: left;width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;}
    .medium-100 {width: 100.00%;}
    .medium-90  {width: 90.000%;}
    .medium-80  {width: 80.000%;}
    .medium-75  {width: 75.000%;}
    .medium-70  {width: 70.000%;}
    .medium-60  {width: 60.000%;}
    .medium-50  {width: 50.000%;}
    .medium-40  {width: 40.000%;}
    .medium-33  {width: 33.333%;}
    .medium-30  {width: 30.000%;}
    .medium-25  {width: 25.000%;}
    .medium-20  {width: 20.000%;}
    .medium-16  {width: 16.666%;}
    .medium-12  {width: 12.500%;}
    .medium-10  {width: 10.000%;}
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90{
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Small */
    [class*="small-"] {float: left;width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;}
    .medium-100 {width: 100.00%;}
    .medium-90  {width: 90.000%;}
    .medium-80  {width: 80.000%;}
    .medium-75  {width: 75.000%;}
    .medium-70  {width: 70.000%;}
    .medium-60  {width: 60.000%;}
    .medium-50  {width: 50.000%;}
    .medium-40  {width: 40.000%;}
    .medium-33  {width: 33.333%;}
    .medium-30  {width: 30.000%;}
    .medium-25  {width: 25.000%;}
    .medium-20  {width: 20.000%;}
    .medium-16  {width: 16.666%;}
    .medium-12  {width: 12.500%;}
    .medium-10  {width: 10.000%;}

    .modal {
        display: block;
        width: 90%;
    }


    .nav-bar {
        display: none;
    }
    .nav ul {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 51px;
        left: 0px;
    }
    .nav ul li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        border-bottom: 1px solid #ececec;
    }
    .nav-buttom {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        width: 100%;
    }
    .nav-button {
        display: block;
    }
    .nav-toggle {
        float: right;
        width: 100%;
        display: none;
    }

    .nav-toggle ul li .menu-down {
        position: relative!important;  
    }

    .nav-toggle ul {
        float: left;
        width: 100%;
        display: block;
    }
    .nav-toggle ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle ul li a {
        padding: 0.5em 0.5em!important;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 1.7;
    }
}
@media only screen and (min-width: 180px) and (max-width: 480px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90{
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;width: auto;}

    /* Small */
    [class*="small-"] {float: left;}
    .small-100 {width: 100.00%;}
    .small-90  {width: 90.000%;}
    .small-80  {width: 80.000%;}
    .small-75  {width: 75.000%;}
    .small-70  {width: 70.000%;}
    .small-60  {width: 60.000%;}
    .small-50  {width: 50.000%;}
    .small-40  {width: 40.000%;}
    .small-33  {width: 33.333%;}
    .small-30  {width: 30.000%;}
    .small-25  {width: 25.000%;}
    .small-20  {width: 20.000%;}
    .small-16  {width: 16.666%;}
    .small-12  {width: 12.500%;}
    .small-10  {width: 10.000%;}

    .modal {
        display: block;
        width: 90%;
    }

    .nav-bar {
        display: none;
    }
    .nav ul {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 51px;
        left: 0px;
    }
    .nav ul li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        border-bottom: 1px solid #ececec;
    }
    .nav-buttom {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        width: 100%;
    }
    .nav-button {
        display: block;
    }
    .nav-toggle {
        float: right;
        width: 100%;
        display: none;
    }

    .nav-toggle ul li .menu-down {
        position: relative!important;  
    }

    .nav-toggle ul {
        float: left;
        width: 100%;
        display: block;
    }
    .nav-toggle ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle ul li a {
        padding: 0.5em 0.5em!important;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 1.7;
    }

}