@import 'reset.css';
@import 'fontello.css';
@import 'fontello-ie7.css';
@import 'responsive.css';
@import 'owl.carousel.css';

/*
================================================================================
Stewed     0.1.1v
Author:    Mauro Reis Vieira
License:   Open Source
Homepage:  mauroreisvieira.pt
================================================================================
*/

/* HEADING */
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }
/* FLOAT */
.jump-left	 { display: block; float: left; }
.jump-right	 { display: block; float: right; }
.jump-center { display: block; float: none; margin:auto; }
/* DISPLAY */
.none 			{ display: none !important; }
.block			{ display: block !important; }
.table			{ display: table; !important }
.inline 		{ display: inline !important; }
.inline-block 	{ display: inline-block!important; }
/* ALIGN */
.text-left  	{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center	{ text-align: center; }
.text-justify 	{ text-align: justify; }
.text-hide {visibility: hidden; }
/* TYPE POSITION */
.fixed 		{position: fixed;}
.relative 	{ position: relative;}
.absolute 	{position: absolute;}
/* FONT SIZE */
.fz-2 	{font-size: 2px!important; }
.fz-4 	{font-size: 4px!important; }
.fz-6 	{font-size: 6px!important; }
.fz-8 	{font-size: 8px!important; }
.fz-10 	{font-size: 10px!important; }
.fz-12 	{font-size: 12px!important; }
.fz-14 	{font-size: 14px!important; }
.fz-16 	{font-size: 16px!important; }
.fz-18	{font-size: 18px!important; }
.fz-20 	{font-size: 20px!important; }
.fz-22 	{font-size: 22px!important; }
.fz-24 	{font-size: 24px!important; }
.fz-26 	{font-size: 26px!important; }
.fz-28 	{font-size: 28px!important; }
.fz-30 	{font-size: 30px!important; }
.fz-32 	{font-size: 32px!important; }
.fz-34 	{font-size: 34px!important; }
.fz-36 	{font-size: 36px!important; }
.fz-38 	{font-size: 38px!important; }
.fz-40 	{font-size: 40px!important; }
.fz-50 	{font-size: 50px!important; }
.fz-60 	{font-size: 60px!important; }
.fz-70 	{font-size: 70px!important; }
.fz-80 	{font-size: 80px!important; }
.fz-90 	{font-size: 90px!important; }
.fz-100 {font-size: 100px!important;}
/* SPACE */
.space-10  {display: block; height: 10px; }
.space-20  {display: block; height: 20px; }
.space-30  {display: block; height: 30px; }
.space-40  {display: block; height: 40px; }
.space-50  {display: block; height: 50px; }
.space-60  {display: block; height: 60px; }
.space-70  {display: block; height: 70px; }
.space-80  {display: block; height: 80px; }
.space-90  {display: block; height: 90px; }
.space-100 {display: block; height: 100px; }
/* BUTTONS */
.btn 		{ display: inline-block; padding: 10px 15px; margin-bottom: 10px; border-radius: 4px; white-space: nowrap; cursor: pointer; border: 1px solid transparent; }
.stw-btn 	{ display: inline-block; padding: 10px 15px; margin-bottom: 10px; border-radius: 30px;}
.stw-rect 	{ display: inline-block; padding: 10px 15px; margin-bottom: 10px; border-radius: 0px;}
.stw-round 	{ display: inline-block; padding: 10px 14px; margin-bottom: 10px; border-radius: 500px;}
/* ALERT */
.alert {width: 96%;padding: 10px;margin-top: 10px;margin-bottom: 10px;}
.alert-round {border-radius: 5px;}
.alert-squad {border-radius: 0px;}
.alert button {background: transparent;color: rgba(220, 220, 220, 0.5);float: right;border: 0px;cursor: pointer;font-size: 20px;position: relative;top: -22px;}
.alert button:hover {background: transparent;color: rgba(220, 220, 220, 0.9);}
/* MODAL */
.modal {display: none;width: 60%;height: auto;position: relative;top: 50px;left: 0px;right: 0px;margin: auto;background: #fff;z-index: 99999;overflow: hidden;}
.modal-round {border-radius: 5px;}
.modal-screen {display: none;overflow: auto;position: fixed;top: 0;right: 0;bottom: 0;left: 0;background: rgba(20, 19, 19, 0.83);z-index: 99999;}
.modal-header {width: 96%;padding: 2%;border-bottom: 1px solid #dbd9d9;}
.modal-header a {float: right;}
.modal-header h4 {font-size: 20px;}
.modal-container {width: 96%;padding: 2%;min-height: 200px;height: auto;}
.modal-container h5 {font-size: 18px;line-height: 16px;margin-bottom: 10px;}
.modal-container p {font-size: 14px;line-height: 16px;}
.modal-footer {width: 96%;padding: 2%;min-height: 50px;border-top: 1px solid #dbd9d9;}
.modal-footer a {float: left;margin-right: 10px;}
.close-modal {display: block;font-size: 22px;color: #aaa7a7;}
.close-modal:hover {color: #000;}
/* ACCORDION */
.toggle-default {width: 100%;height: auto;margin-bottom: 10px;}
.toggle-default a {text-decoration: none;color: inherit;overflow: hidden;width: 100%;display: block;}
.toggle-default-round {width: 100%;height: auto;margin-bottom: 10px;border-radius: 5px;}
.toggle-default-round a {text-decoration: none;color: inherit;}
.header-accordion {width: 100%;padding: 5px 10px;height: 30px;line-height: 30px;}
.container-accordion {display: none;width: 96%;padding: 2%;}
.container-accordion p {font-size: 14px;line-height: 16px;}
/* NAV TABS */
.nav-button {display: none;}
.nav-tabs ul {display: inline-block;width: 100%;position: relative;z-index: 999;}
.nav-tabs ul li {padding: 2% 3%;display: block;float: left;margin-right: 3px;cursor: pointer;}
.nav-tabs ul li a {text-decoration: none;color: inherit; }
.tab-container {width: 98%;display: block;padding: 2% 1%;position: relative;top: -1px;z-index: 99;overflow: hidden;}
.tab-container .tab-div {display: none;}
.tab-container .tab-div:first-child {display: block;}
/* PAGINATIONS */
.pagination {display: block;margin-top: 10px;margin-bottom: 10px;}
.pagination li {display: block;float: left; text-align: center;margin-left: -2px;}
.pagination li a {padding: 10px;}
/* NAVIGATION */
.navigation {overflow: visible;}
.navigation ul {list-style-type: none;padding: 0;margin: 0;}
.navigation ul li {margin: 0;}
.navigation ul {*height: 100%;}
.navigation ul.menu li {*height: 100%;}
.navigation ul.menu li a {text-decoration: none;}
.navigation ul.menu li:hover ul.menu-down {display: block;}
.navigation ul.menu li ul.menu-down {display: none;position: absolute;z-index: 10;overflow: hidden;}
.navigation ul.menu li ul.menu-down li {overflow: hidden;padding: 0px;}
.navigation ul.menu li ul.menu-down li:first-child {border-top: 0px;}
.navigation ul.menu li ul.menu-down li a {padding: 7px;display: block;float: none;text-decoration: none;}
.navigation ul.menu:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;zoom: 1;}
.navigation ul.menu.horizontal li {float: left;position: relative;}
.navigation ul.menu.horizontal li a {padding: 0.4em 2em;display: block;line-height: 1.7;}
.navigation ul.menu.horizontal li .control {margin-top: .3em;}
.navigation ul.menu.horizontal li ul.menu-down {width: 100%;left: 0;z-index: 50;}
.navigation ul.menu.horizontal li ul.menu-down li {float: none;}
.navigation ul.menu.horizontal .last-link {display: block;float: right;}
.navigation ul.menu.vertical li {line-height: 1.7;position: relative;}
.navigation ul.menu.vertical li a {padding: 0.5em 1em;display: block;}
.navigation ul.menu.vertical li ul.menu-down {top: 0;left: 0;width: 100%;height: auto;position: relative;}
.navigation ul.menu li:hover ul.menu-right {display: block;}
.navigation ul.menu li ul.menu-right {display: none;position: absolute;z-index: 10;}
.navigation ul.menu li ul.menu-right li {overflow: hidden;}
.navigation ul.menu li ul.menu-right li a {padding: 0.5em 1em;display: block;float: none;}
.navigation ul.menu.vertical li {line-height: 1.7;position: relative;}
.navigation ul.menu.vertical li a {padding: 0.5em 1em;display: block;}
.navigation ul.menu.vertical li ul.menu-right {top: 0;left: 100%;min-width: 10em;}
.navigation ul.menu.vertical li ul.menu-right li {line-height: 1.7;float: none;position: static;}





