.radio {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: $radio-width;
  height: $radio-height;
  border-radius: 50%;
  outline: 0;
  color: $radio-color-active;
  cursor: pointer;
  overflow: hidden;
  will-change: transform, opacity;

  &::before {
    @include transition((opacity, transform));

    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0, 0);
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0;
    content: "";
  }

  &:hover,
  &:active,
  &:focus {
    &::before {
      transform: none;
      opacity: 0.05;
    }
  }

  &__control {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &:checked {
      + .radio__background {
        color: $radio-color-active;

        &::before {
          border-color: currentColor;
        }

        &::after {
          transform: none;
          background-color: currentColor;
        }
      }
    }

    &:disabled {
      + .radio__background {
        @include disabled;
      }
    }
  }

  &__background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $radio-color-default;
    cursor: pointer;
    z-index: 0;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: auto;
      border: 2px solid currentColor;
      border-radius: 50%;
      content: "";
    }

    &::after {
      @include transition(transform);

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 10px;
      height: 10px;
      margin: auto;
      transform: scale(0, 0);
      border-radius: 50%;
      background: white;
      content: "";
    }
  }
}
