#{$card} {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;

  &--small {
    max-width: $card-small;
  }

  &--medium {
    max-width: $card-medium;
  }

  &--large {
    max-width: $card-large;
  }

  &__header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: $card-padding-y $card-padding-x;
  }

  &__media {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: $card-padding-y $card-padding-x;
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
    padding: $card-padding-y $card-padding-x $card-padding-x;
  }

  &__footer {
    display: flex;
    box-sizing: border-box;
    padding: $card-padding-y $card-padding-x;
  }
}

