.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

  &--center {
    align-items: center;
  }

  &--small {
    max-width: 400px;
  }

  &--medium {
    max-width: 740px;
  }

  &--large {
    max-width: 960px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  &__content {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
  }
}

