@import '../../utilities/variables';
@import '../../utilities/mixins';

$card: ".card";

// Card Padding
$card-padding-x: 16px;
$card-padding-y: 12px;

// Card Width
$card-large: $global-width-media-desktop;
$card-medium: $global-width-media-tablet-min;
$card-small: $global-width-media-mobile-min;


@import 'card';
