<header class="header navbar navbar--spacebetween bg-grey--darken text-white">
    <div class="navbar__brand">
        <a href="index.html" title="Stewed Framework">
            <span class="monospace uppercase thin text-white large">Stewed Framework</span>
        </a>
    </div>
    <div class="navbar__menu">
        <ul class="menu menu--horizontal menu--inherit">
            <li class="menu__item">
                <a class="menu__link uppercase" href="index.html" title="Home">Home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link uppercase" href="instal.html" title="Documentation">Documentation</a>
            </li>
            <li class="menu__item">
                <a class="menu__link uppercase" href="https://github.com/maurovieirareis/stewed" title="Github">Github</a>
            </li>
        </ul>
    </div>
</header>

<div class="sidebar text-grey--darken">
    <div class="flex flex--column flex--item-center flex--content-center h-3 mb-40 bg-white">
        <img src="assets/images/logo/stewed_dark.svg" alt="Stewed Framework" title="Stewed Framework" class="logo">
        <p class="text-center"><span class="mb-40 semibold">⏤  <!-- build:version --> v0.9.50 <!-- endbuild --> ⏤</span></p>
    </div>
    <input type="hidden" id="sidebarSelected" value="@@selected">
    <ul class="menu menu--vertical menu--inherit p-20">
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('instal')}" class="menu__link" href="instal.html" class="">Instal</a> </li>
        <li class="menu__separator"></li>
        <!-- <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="colors.html" class="">Color & Shadow</a> </li> -->
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('typography')}" class="menu__link" href="typography.html" class="">Typography</a> </li>
<!--         <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="utilities.html" class="">Utilities</a> </li>
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="badges.html">Badges & Labels</a></li>
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="breadcrumbs.html">Breadcrumbs</a></li> -->
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('buttons')}" class="menu__link" href="buttons.html">Buttons</a></li>
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('cards')}" class="menu__link" href="cards.html">Cards</a></li>
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('forms')}" class="menu__link" href="forms.html">Forms Filed</a></li>
        <!--<li class="menu__item"><a :class="{'is-active': isMenuSelected('grid')}" class="menu__link" href="grid.html">Grid</a></li>
 <!--        <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="menu.html">Menu</a></li>
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="pagination.html">Pagination</a></li> -->
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('tables')}" class="menu__link" href="tables.html">Tables</a></li>
        <li class="menu__item"><a :class="{'is-active': isMenuSelected('tooltips')}" class="menu__link" href="tooltips.html">Tooltips</a></li>
        <!-- <li class="menu__item"><a :class="{'is-active': isMenuSelected('-')}" class="menu__link" href="navbar.html">Navbar</a></li> -->
    </ul>
</div>
