.row {
    margin: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    top: 0px;
}

.row .row {
    display: inline-block;
}

[class*="grid-"] {
    margin: auto;
}

.column-responsive {
    overflow: hidden;
}

.grid-1  {width: 100px;}
.grid-2  {width: 200px;}
.grid-3  {width: 300px;}
.grid-4  {width: 400px;}
.grid-5  {width: 500px;}
.grid-6  {width: 600px;}
.grid-7  {width: 700px;}
.grid-8  {width: 800px;}
.grid-9  {width: 900px;}
.grid-10 {width: 1000px;}
.grid-11 {width: 1100px;}
.grid-12 {width: 1200px;}

.row .row-space [class*="medium-"] {float: left;width: auto; }

.row .row-space [class*="small-"] {float: left;width: auto;}

.row .row-space [class*="large-"] {float: left;margin-left: 2%;}

.row .row-space [class*="large-"]:first-child {float: left; margin-left: 0%;}

.row .row-space .large-1  { width: 6.49966%; }
.row .row-space .large-2  { width: 14.9999%; }
.row .row-space .large-3  { width: 23.5000%; }
.row .row-space .large-4  { width: 31.9999%; }
.row .row-space .large-5  { width: 40.6655%; }
.row .row-space .large-6  { width: 49.0000%; }
.row .row-space .large-7  { width: 57.3334%; }
.row .row-space .large-8  { width: 66.0000%; }
.row .row-space .large-9  { width: 74.5000%; }
.row .row-space .large-10 { width: 83.0000%; }
.row .row-space .large-11 { width: 91.5000%; }
.row .row-space .large-12 { width: 100.000%; }

.row [class*="medium-"] {float: left;width: auto; }

.row [class*="small-"] {float: left;width: auto;}

.row [class*="large-"] {float: left;margin-left: 0%;}

.row .large-1  { width: 8.3333%; }
.row .large-2  { width: 16.666%; }
.row .large-3  { width: 25.000%; }
.row .large-4  { width: 33.333%; }
.row .large-5  { width: 41.665%; }
.row .large-6  { width: 50.000%; }
.row .large-7  { width: 58.331%; }
.row .large-8  { width: 66.666%; }
.row .large-9  { width: 75.000%; }
.row .large-10 { width: 83.334%; }
.row .large-11 { width: 91.666%; }
.row .large-12 { width: 100.00%; }

@media only screen and (min-width: 1110px){
    .nav-toggle {
        display: block!important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1110px) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90 {
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

.row .row-space [class*="medium-"] {float: left;width:auto; }

.row .row-space [class*="small-"] {float: left;width: auto;}

.row .row-space [class*="large-"] {float: left;margin-left: 2%;}

.row .row-space [class*="large-"]:first-child {float: left; margin-left: 0%;}

.row .row-space .large-1  { width: 6.49966%; }
.row .row-space .large-2  { width: 14.9999%; }
.row .row-space .large-3  { width: 23.5000%; }
.row .row-space .large-4  { width: 31.9999%; }
.row .row-space .large-5  { width: 40.6655%; }
.row .row-space .large-6  { width: 49.0000%; }
.row .row-space .large-7  { width: 57.3334%; }
.row .row-space .large-8  { width: 66.0000%; }
.row .row-space .large-9  { width: 74.5000%; }
.row .row-space .large-10 { width: 83.0000%; }
.row .row-space .large-11 { width: 91.5000%; }
.row .row-space .large-12 { width: 100.000%; }

.row [class*="medium-"] {float: left;width: 0%; }

.row [class*="small-"] {float: left;width: 0%;}

.row [class*="large-"] {float: left;margin-left: 0%;}

.row .large-1  { width: 8.3333%; }
.row .large-2  { width: 16.666%; }
.row .large-3  { width: 25.000%; }
.row .large-4  { width: 33.333%; }
.row .large-5  { width: 41.665%; }
.row .large-6  { width: 50.000%; }
.row .large-7  { width: 58.331%; }
.row .large-8  { width: 66.666%; }
.row .large-9  { width: 75.000%; }
.row .large-10 { width: 83.334%; }
.row .large-11 { width: 91.666%; }
.row .large-12 { width: 100.00%; }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90{
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    .row .row-space [class*="medium-"] {float: left;width: 2%; }

.row .row-space [class*="small-"] {float: left;width: auto;}

.row .row-space [class*="large-"] {float: left;margin-left: auto;}

.row .row-space [class*="medium-"]:first-child {float: left; margin-left: 0%;}

.row .row-space .medium-1  { width: 6.49966%; }
.row .row-space .medium-2  { width: 14.9999%; }
.row .row-space .medium-3  { width: 23.5000%; }
.row .row-space .medium-4  { width: 31.9999%; }
.row .row-space .medium-5  { width: 40.6655%; }
.row .row-space .medium-6  { width: 49.0000%; }
.row .row-space .medium-7  { width: 57.3334%; }
.row .row-space .medium-8  { width: 66.0000%; }
.row .row-space .medium-9  { width: 74.5000%; }
.row .row-space .medium-10 { width: 83.0000%; }
.row .row-space .medium-11 { width: 91.5000%; }
.row .row-space .medium-12 { width: 100.000%; }

.row [class*="medium-"] {float: left;width: 0%; }

.row [class*="small-"] {float: left;width: auto;}

.row [class*="large-"] {float: left;margin-left: 0%;}

.row .medium-1  { width: 8.3333%; }
.row .medium-2  { width: 16.666%; }
.row .medium-3  { width: 25.000%; }
.row .medium-4  { width: 33.333%; }
.row .medium-5  { width: 41.665%; }
.row .medium-6  { width: 50.000%; }
.row .medium-7  { width: 58.331%; }
.row .medium-8  { width: 66.666%; }
.row .medium-9  { width: 75.000%; }
.row .medium-10 { width: 83.334%; }
.row .medium-11 { width: 91.666%; }
.row .medium-12 { width: 100.00%; }

    .modal {
        display: block;
        width: 90%;
    }


    .nav-bar {
        display: none;
    }
    .nav ul {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 51px;
        left: 0px;
    }
    .nav ul li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        border-bottom: 1px solid #ececec;
    }
    .nav-buttom {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        width: 100%;
    }
    .nav-button {
        display: block;
    }
    .nav-toggle {
        float: right;
        width: 100%;
        display: none;
    }

    .nav-toggle ul li .menu-down {
        position: relative!important;  
    }

    .nav-toggle ul {
        float: left;
        width: 100%;
        display: block;
    }
    .nav-toggle ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle ul li a {
        padding: 0.5em 0.5em!important;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 1.7;
    }
}
@media only screen and (min-width: 180px) and (max-width: 480px) {

    /* Grid */
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-90{
        width: 98%;
        padding: 10px 0px;
        padding-top: 0px;
    }

    /* Large */
    [class*="large-"] {float: left; width: auto;}

    /* Medium */
    [class*="medium-"] {float: left;width: auto;}

    /* Small */
    [class*="small-"] {float: left;}
    .small-100 {width: 100.00%;}
    .small-90  {width: 90.000%;}
    .small-80  {width: 80.000%;}
    .small-75  {width: 75.000%;}
    .small-70  {width: 70.000%;}
    .small-60  {width: 60.000%;}
    .small-50  {width: 50.000%;}
    .small-40  {width: 40.000%;}
    .small-33  {width: 33.333%;}
    .small-30  {width: 30.000%;}
    .small-25  {width: 25.000%;}
    .small-20  {width: 20.000%;}
    .small-16  {width: 16.666%;}
    .small-12  {width: 12.500%;}
    .small-10  {width: 10.000%;}

    .modal {
        display: block;
        width: 90%;
    }

    .nav-bar {
        display: none;
    }
    .nav ul {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9999;
        top: 51px;
        left: 0px;
    }
    .nav ul li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        border-bottom: 1px solid #ececec;
    }
    .nav-buttom {
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu {
        width: 100%;
    }
    .nav-button {
        display: block;
    }
    .nav-toggle {
        float: right;
        width: 100%;
        display: none;
    }

    .nav-toggle ul li .menu-down {
        position: relative!important;  
    }

    .nav-toggle ul {
        float: left;
        width: 100%;
        display: block;
    }
    .nav-toggle ul li {
        display: block;
        width: 100%;
    }
    .nav-toggle ul li a {
        padding: 0.5em 0.5em!important;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 1.7;
    }

}