@import 'reset.css';
@import 'fontello.css';
@import 'fontello-ie7.css';
@import 'responsive.css';
@import 'owl.carousel.css';

/*
================================================================================
Stewed     0.1.1v
Author:    Mauro Reis Vieira
License:   Open Source
Homepage:  mauroreisvieira.pt
================================================================================
*/

/* HEADING */
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }
/* FLOAT */
.jump-left	 { display: block; float: left; }
.jump-right	 { display: block; float: right; }
.jump-center { display: block; float: none; margin:auto; }
/* DISPLAY */
.none 			{ display: none !important; }
.block			{ display: block !important; }
.table			{ display: table; !important }
.inline 		{ display: inline !important; }
.inline-block 	{ display: inline-block!important; }
/* ALIGN */
.text-left  	{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center	{ text-align: center; }
.text-justify 	{ text-align: justify; }
.text-hide {visibility: hidden; }
/* TYPE POSITION */
.fixed 		{position: fixed;}
.relative 	{ position: relative;}
.absolute 	{position: absolute;}
/* TEXT TRANSFORM */
.uppercase {text-transform: uppercase;}
.capitalize {text-transform:capitalize;}
.bold {font-weight:bold;}
/* FONT SIZE */
.fz-2 	{font-size: 2px!important; }
.fz-4 	{font-size: 4px!important; }
.fz-6 	{font-size: 6px!important; }
.fz-8 	{font-size: 8px!important; }
.fz-10 	{font-size: 10px!important; }
.fz-12 	{font-size: 12px!important; }
.fz-14 	{font-size: 14px!important; }
.fz-16 	{font-size: 16px!important; }
.fz-18	{font-size: 18px!important; }
.fz-20 	{font-size: 20px!important; }
.fz-22 	{font-size: 22px!important; }
.fz-24 	{font-size: 24px!important; }
.fz-26 	{font-size: 26px!important; }
.fz-28 	{font-size: 28px!important; }
.fz-30 	{font-size: 30px!important; }
.fz-32 	{font-size: 32px!important; }
.fz-34 	{font-size: 34px!important; }
.fz-36 	{font-size: 36px!important; }
.fz-38 	{font-size: 38px!important; }
.fz-40 	{font-size: 40px!important; }
.fz-50 	{font-size: 50px!important; }
.fz-60 	{font-size: 60px!important; }
.fz-70 	{font-size: 70px!important; }
.fz-80 	{font-size: 80px!important; }
.fz-90 	{font-size: 90px!important; }
.fz-100 {font-size: 100px!important;}
/* SPACE */
.space-10  {display: block; height: 10px; }
.space-20  {display: block; height: 20px; }
.space-30  {display: block; height: 30px; }
.space-40  {display: block; height: 40px; }
.space-50  {display: block; height: 50px; }
.space-60  {display: block; height: 60px; }
.space-70  {display: block; height: 70px; }
.space-80  {display: block; height: 80px; }
.space-90  {display: block; height: 90px; }
.space-100 {display: block; height: 100px; }
/* BUTTONS */
.btn 		{ display: inline-block; padding: 10px 15px; margin-bottom: 10px; border-radius: 4px; white-space: nowrap; cursor: pointer; border: 1px solid transparent; }
.stw-btn 	{ display: inline-block; padding: 10px 15px; margin-bottom: 10px; border-radius: 30px;}
.stw-rect 	{ display: inline-block; padding: 10px 15px; margin-bottom: 10px; border-radius: 0px;}
.stw-round 	{ display: inline-block; padding: 10px 14px; margin-bottom: 10px; border-radius: 500px;}
/* ALERT */
.alert {width: 96%;padding: 10px;margin-top: 10px;margin-bottom: 10px;}
.alert-round {border-radius: 5px;}
.alert-squad {border-radius: 0px;}
.alert button {background: transparent;color: rgba(220, 220, 220, 0.5);float: right;border: 0px;cursor: pointer;font-size: 20px;position: relative;top: -22px;}
.alert button:hover {background: transparent;color: rgba(220, 220, 220, 0.9);}
/* MODAL */
.modal {display: none;width: 60%;height: auto;position: relative;top: 50px;left: 0px;right: 0px;margin: auto;background: #fff;z-index: 99999;overflow: hidden;}
.modal-round {border-radius: 5px;}
.modal-screen {display: none;overflow: auto;position: fixed;top: 0;right: 0;bottom: 0;left: 0;background: rgba(20, 19, 19, 0.83);z-index: 99999;}
.modal-header {width: 96%;padding: 2%;border-bottom: 1px solid #dbd9d9;}
.modal-header a {float: right;}
.modal-header h4 {font-size: 20px;}
.modal-container {width: 96%;padding: 2%;min-height: 200px;height: auto;}
.modal-container h5 {font-size: 18px;line-height: 16px;margin-bottom: 10px;}
.modal-container p {font-size: 14px;line-height: 16px;}
.modal-footer {width: 96%;padding: 2%;min-height: 50px;border-top: 1px solid #dbd9d9;}
.modal-footer a {float: left;margin-right: 10px;}
.close-modal {display: block;font-size: 22px;color: #aaa7a7;}
.close-modal:hover {color: #000;}
/* ACCORDION */
.toggle-default {width: 100%;height: auto;margin-bottom: 10px;}
.toggle-default a {text-decoration: none;color: inherit;overflow: hidden;width: 100%;display: block;}
.toggle-default-round {width: 100%;height: auto;margin-bottom: 10px;border-radius: 5px;}
.toggle-default-round a {text-decoration: none;color: inherit;}
.header-accordion {width: 100%;padding: 5px 10px;height: 30px;line-height: 30px;}
.container-accordion {display: none;width: 96%;padding: 2%;}
.container-accordion p {font-size: 14px;line-height: 16px;}
/* NAV TABS */
.nav-button {display: none;}
.nav-tabs ul {display: inline-block;width: 100%;position: relative;z-index: 999;}
.nav-tabs ul li {padding: 2% 3%;display: block;float: left;margin-right: 3px;cursor: pointer;}
.nav-tabs ul li a {text-decoration: none;color: inherit; }
.tab-container {width: 98%;display: block;padding: 2% 1%;position: relative;top: -1px;z-index: 99;overflow: hidden;}
.tab-container .tab-div {display: none;}
.tab-container .tab-div:first-child {display: block;}
/* PAGINATIONS */
.pagination {display: block;margin-top: 10px;margin-bottom: 10px;}
.pagination li {display: block;float: left; text-align: center;margin-left: -2px;}
.pagination li a {padding: 10px;}
/* NAVIGATION */
.navigation {overflow: visible;}
.navigation ul {list-style-type: none;padding: 0;margin: 0;}
.navigation ul li {margin: 0;}
.navigation ul {*height: 100%;}
.navigation ul.menu li {*height: 100%;}
.navigation ul.menu li a {text-decoration: none;}
.navigation ul.menu li:hover ul.menu-down {display: block;}
.navigation ul.menu li ul.menu-down {display: none;position: absolute;z-index: 10;overflow: hidden;}
.navigation ul.menu li ul.menu-down li {overflow: hidden;padding: 0px;}
.navigation ul.menu li ul.menu-down li:first-child {border-top: 0px;}
.navigation ul.menu li ul.menu-down li a {padding: 7px;display: block;float: none;text-decoration: none;}
.navigation ul.menu:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;zoom: 1;}
.navigation ul.menu.horizontal li {float: left;position: relative;}
.navigation ul.menu.horizontal li a {padding: 0.4em 2em;display: block;line-height: 1.7; font-size: 0.9em;}
.navigation ul.menu.horizontal li .control {margin-top: .3em;}
.navigation ul.menu.horizontal li ul.menu-down {width: 100%;left: 0;z-index: 50;}
.navigation ul.menu.horizontal li ul.menu-down li {float: none;}
.navigation ul.menu.horizontal .last-link {display: block;float: right;}
.navigation ul.menu.vertical li {line-height: 1.7;position: relative;}
.navigation ul.menu.vertical li a {padding: 0.5em 1em;display: block;}
.navigation ul.menu.vertical li ul.menu-down {top: 0;left: 0;width: 100%;height: auto;position: relative;}
.navigation ul.menu li:hover ul.menu-right {display: block;}
.navigation ul.menu li ul.menu-right {display: none;position: absolute;z-index: 10;}
.navigation ul.menu li ul.menu-right li {overflow: hidden;}
.navigation ul.menu li ul.menu-right li a {padding: 0.5em 1em;display: block;float: none;}
.navigation ul.menu.vertical li {line-height: 1.7;position: relative;}
.navigation ul.menu.vertical li a {padding: 0.5em 1em;display: block;}
.navigation ul.menu.vertical li ul.menu-right {top: 0;left: 100%;min-width: 10em;}
.navigation ul.menu.vertical li ul.menu-right li {line-height: 1.7;float: none;position: static;}



.dropdown {
    min-width: 150px;
    max-width: 300px;
    width: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.dropdown.toggle > input {
    display: none;
}

.dropdown a, .dropdown.toggle > label {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background: #34353A;
    position: relative;
}

.dropdown.toggle > label i{
    display: block;
    float: right;
    color: #fff;
    margin-right: 10px;
    margin-top: 12px;
    font-size: 18px;
}

.dropdown a > i{
    display: block;
    float: right;
    color: #fff;
    margin-right: 10px;
    margin-top: 12px;
    font-size: 18px;
}

.dropdown ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 99999;
}

.dropdown li {
    height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.dropdown.hover li {
    transition-delay: 300ms;
}

.dropdown li:first-child a {
    border-radius: 2px 2px 0 0;
}

.dropdown li:last-child a {
    border-radius: 0 0 2px 2px;
}

.dropdown li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #34353A;
    right: 12px;
    top:-10px;
}

.dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
    background-color: #bd5147;
    color: #fff;
}

.dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
    border-top-color: #bd5147;
}

.dropdown li:first-child a:hover::before {
    border-bottom-color: #bd5147;
}

.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {          
    height: 40px;
}

.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
    padding-top: 15px;
}


.form { position: relative; }

.form.s .fieldset {
    margin: 2em 0;
    min-width: 180px;
    max-width: 319px;
    position: relative;
}

.form.m .fieldset {
    margin: 2em 0;
    min-width: 320px;
    max-width: 489px;
    position: relative;
}

.form.l .fieldset {
    margin: 2em 0;
    min-width: 490px;
    max-width: 739px;
    position: relative;
}

.form.xl .fieldset {
    margin: 2em 0;
    min-width: 740px;
    max-width: 960px;
    position: relative;
}

.form input:focus {
    border-color:currentColor;
    outline: inherit;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
}

.form .fieldset label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-size: 0.875rem;
    bottom: auto;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    text-shadow: none;
    background: transparent;
    width: 3.4em;
    /* height: 90%; */
    padding: 1.2em 0em;
    line-height: 13px;
    text-align: center;
    position: absolute;
    left: 0em;
    border-radius: 3px;
}

.form .fieldset span {
    color: #34353A;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: -2px;
    font-size: 0.9em;
}

.form input[type="email"],.form input[type="text"],.form input[type="password"], .form input[type="tel"] {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius:3px;
    border: 1px solid #3b4148;
    padding: 1.2em 1em;
    min-width: 280px;
    background-color: #3b4148;
    color: #fff;
    padding-left: 3.2em;
}

.form input[type="email"]:focus,
.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="password"]:focus{
    background-color: #495a68;
    color: #3b4148;
    outline-color: #495a68;
}

.form input[type="email"]:valid,
.form input[type="text"]:valid,
.form input[type="tel"]:valid,
.form input[type="password"]:valid{
    background-color: #3b4148;
    color: #fff;
}

.form input[type="submit"], .form input[type="reset"] {
    padding: 1em 2em;
    cursor: pointer;
    background: #bd5147;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: #42C474;
    color: #eee;
    font-weight: 100;
    margin-bottom: 2em;
    max-width: 220px;
    font-size: 0.9em;
}

.form input[type="reset"]{
    background: #b93333;
}

.form input[type='checkbox'] {
    float: left;
}

.form input[type='checkbox'] {
    border-radius: 50px;
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-appearance: button;
    border:none;
    background-color: #ccc;
    width: 40px;
    height: 20px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    transition: background-color 1s;
}
.form input[type='checkbox'].error{
    background-color: #b93333;
}
.form input[type='checkbox']:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 80%;
    background-color: #fdfdfd;
    margin: 4%;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: #fff;
    transition: .5s all;
    border-radius: 500%;
}

.form input[type='checkbox']:checked{
    background-color: #379d42;
} 

.form input[type='checkbox']:checked:after {
    left: 55%;
}

.form .hide-password {
    display: inline-block;
    position: absolute;
    right: -15%;
    padding: 0.5em 1em;
    border-left: 1px solid #d2d8d8;
    top: 25%;
    bottom: auto;
    font-size: 0.8em;
    color: #34353A;
}

.form ::-webkit-input-placeholder {
    color: #fff;
}
.form :-moz-placeholder {
    color: #555555;
}
.form .placeholder {
    color: #fff;
}

.form textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 240px;
    border-radius:3px;
    border: 1px solid #3b4148;
    padding: 1.2em 1em;
    min-width: 280px;
    background-color: #3b4148;
    color: #fff;
    padding-left: 3.2em;
    resize: none;
    font-family: sans-serif;
}

.select {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height:auto;
    width: 100%;
    background: #3b4148;
    border-radius: 3px;
    padding: 0em;

}


.dropdown-select {
    position: relative;
    margin: 0;
    width: 98%;
    font-size: 13px;
    color: #fff;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 1.2em 0.8em;
}

.dropdown-select > option {
    display: block;
    margin: 3px;
    padding: 2em;
    text-shadow: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    background: #34353A;
}