@mixin typography ($font-size: $font-sm , $font-weight: $font-normal, $line-height: 1.4, $font: $u-font-family-serif) {
  font: {
    family: $font;
    size: $font-size;
    weight: $font-weight;
  }
  line-height: $line-height;
}

// Calculate column size percentage
@function get-col-percent($column-num) {
  @return $column-num / $columns * 100%;
}

// Spacing mixin to create uniform margin/padding
@mixin spacing( $value, $type: margin, $orientation: vertical ) {
  @if $orientation == vertical {
    #{ $type }-top: $value;
    #{ $type }-bottom: $value;
  } @else {
    #{ $type }-left: $value;
    #{ $type }-right: $value;
  }
}

@mixin between-two-sizes($max-w: $desktop, $min-w: $tablet) {
  @media (max-width: $max-w) and (min-width: $min-w) {
    @content;
  }
}

@mixin mobile($max-w: $mobile) {
  @media (max-width: $max-w) {
    @content;
  }
}

@mixin tablet($max-w: $tablet) {
  @media (max-width: $max-w) {
    @content;
  }
}

@mixin desktop($max-w: $desktop) {
  @media (min-width: $max-w) {
    @content;
  }
}
