@import 'color-definitions';
@import 'mixins';

// Default Colors
$u-color-text-default: map-get($u-color-red, 'base');
$u-color-title-default: map-get($u-color-red, 'base');
$u-color-border-default: map-get($u-color-red, 'base');

// Font Size
$u-font-size: 14px;
$u-font-weight: 400;
$u-baseline: 6px;

// Typography
$u-font-family-serif: 'Roboto', sans-serif;
$u-font-family-monospace: 'Roboto Mono', monospace;

// Other
$border-radius-default : 2px;
$border-radius-card: 2px;
$border-radius-inputs: 2px;
$border-radius-buttons: 2px;


$theme-gutter: 20px;
$theme-padding: 20px;

$theme-header-height: 100px;
$theme-footer-height: 100px;

$theme-main-width: 1024px;
$theme-sidenav-width: 100px;

// Grid
$media-desktop: 1281px;
$media-tablet-min: 768px;
$media-tablet-max: 1280px;
$media-mobile-min: 280px;
$media-mobile-max: 767px;
