@import "color-definitions";
@import "mixins";

// Default Colors
$global-color-text-default: map-get($global-color-red, "base");
$global-color-title-default: map-get($global-color-red, "base");
$global-color-border-default: map-get($global-color-red, "base");

// Font Size
$global-font-size: 14px;
$global-font-weight: 400;
$global-baseline: 6px;
$global-icon-size: 30px;

// Typography
$global-font-family-serif: "Roboto", sans-serif;
$global-font-family-monospace: "Roboto Mono", monospace;

// Grid
$global-width-media-desktop: 1281px;
$global-width-media-tablet-min: 768px;
$global-width-media-tablet-max: 1280px;
$global-width-media-mobile-min: 280px;
$global-width-media-mobile-max: 767px;

// Border Radius
$global-border-radius: 2px;
