/* stylelint-disable selector-max-type, order/order, at-rule-no-unknown, at-rule-blacklist */
.#{ $class-row } {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  @include spacing((-$gutter), margin, horizontal);
}

%#{ $class-cell } {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;

  @include spacing(($gutter), padding, horizontal);
}

%#{ $class-cell }-flex {
  @extend %#{ $class-cell };

  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@each $val in $breakpoints {
  $namespace: nth($val, 1);

  @include grid-base($namespace);
}

@each $val in $breakpoints {
  @if length($val) == 1 {
    $namespace: nth($val, 1);

    @include grid-sizes($namespace);
  } @else {
    $namespace: nth($val, 1);
    $size: nth($val, 2);

    @media only screen and (min-width: #{$size}) {
      @include grid-sizes($namespace);
    }
  }
}
