/* stylelint-disable at-rule-no-unknown, at-rule-blacklist */
@mixin spacing($value, $type: margin, $orientation: vertical) {
  @if $orientation == vertical {
    #{ $type }-top: $value;
    #{ $type }-bottom: $value;
  } @else {
    #{ $type }-left: $value;
    #{ $type }-right: $value;
  }
}

@mixin grid-sizes($namespace) {
  @for $i from 1 through $columns {
    .#{ $class-cell }-#{$namespace}-#{$i} {
      flex-basis: get-col-percent($i);
      max-width: get-col-percent($i);
    }
  }

  @for $i from 1 through $columns {
    @if ($i != $columns) {
      .#{ $class-off }-#{$namespace}-#{$i} {
        margin-left: get-col-percent($i);
      }
    }
  }

  .#{ $class-off }-#{$namespace}-0 {
    margin-left: 0;
  }
}

@mixin grid-base($namespace) {
  .#{ $class-cell }-#{$namespace} {
    @extend %#{ $class-cell }-flex;
  }

  @for $i from 1 through $columns {
    .#{ $class-cell }-#{$namespace}-#{$i} {
      @extend %#{ $class-cell };
    }
  }
}
