@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
}

@include theme.scope($snackbar-root) {
  display: flex;
  position: fixed;
  inset: 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    height: 100%;
    align-items: theme.get-var(align-items);
    justify-content: theme.get-var(justify-content);
    pointer-events: none;
  }

  &__notification {
    pointer-events: all;
    width: 100%;
    max-width: theme.get-var(max-width);
  }

  // Max width of the screen
  @each $key, $value in $snackbar-screens {
    &--screen-#{$key} {
      @include theme.define-var(
        (
          max-width: #{$value},
        )
      );
    }
  }

  &--top {
    @include theme.define-var(
      (
        align-items: center,
        justify-content: start,
      )
    );

    .#{$snackbar-root}__notification {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: theme.get-transition-duration("normal")
          theme.get-transition-timing-function("ease-in") 0s 1 normal none running slideInTop;
      }
    }
  }

  &--top-start {
    @include theme.define-var(
      (
        align-items: start,
        justify-content: start,
      )
    );

    .#{$snackbar-root}__notification {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: theme.get-transition-duration("normal")
          theme.get-transition-timing-function("ease-in") 0s 1 normal none running slideInRight;
      }
    }
  }

  &--top-end {
    @include theme.define-var(
      (
        align-items: end,
        justify-content: start,
      )
    );

    .#{$snackbar-root}__notification {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: theme.get-transition-duration("normal")
          theme.get-transition-timing-function("ease-in") 0s 1 normal none running slideInLeft;
      }
    }
  }

  &--bottom {
    @include theme.define-var(
      (
        align-items: center,
        justify-content: end,
      )
    );

    .#{$snackbar-root}__notification {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: theme.get-transition-duration("normal")
          theme.get-transition-timing-function("ease-in") 0s 1 normal none running slideInBottom;
      }
    }
  }

  &--bottom-start {
    @include theme.define-var(
      (
        align-items: start,
        justify-content: end,
      )
    );

    .#{$snackbar-root}__notification {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: theme.get-transition-duration("normal")
          theme.get-transition-timing-function("ease-in") 0s 1 normal none running slideInRight;
      }
    }
  }

  &--bottom-end {
    @include theme.define-var(
      (
        align-items: end,
        justify-content: end,
      )
    );

    .#{$snackbar-root}__notification {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: theme.get-transition-duration("normal")
          theme.get-transition-timing-function("ease-in") 0s 1 normal none running slideInLeft;
      }
    }
  }
}
