@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($calendar-root) {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  user-select: none;

  &__navigation {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__prev,
  &__next {
    cursor: pointer;
  }

  &__period {
    width: 100%;
    text-align: center;
  }

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    @include text.typography(
      base,
      $overrides: (color: theme.get-color("neutral", "500"), font-size: theme.get-font-size("sm"))
    );

    &--rtl {
      flex-direction: row-reverse;
    }
  }

  &__month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    color: #000;

    &--rtl {
      flex-direction: row-reverse;
    }
  }

  &__day {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid red;
  }
}
