@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($calendar-root) {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  user-select: none;

  &__navigation {
    display: flex;
    gap: 8px;
    align-items: center;

    &__prev,
    &__next {
      cursor: pointer;
    }

    &__period {
      width: 100%;
      text-align: center;
    }
  }

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    @include text.typography(
      base,
      $overrides: (color: theme.get-color("neutral", "500"), font-size: theme.get-font-size("sm"))
    );

    &--rtl {
      flex-direction: row-reverse;
    }
  }

  &__month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 2px;
    color: #000;
  }

  &__week__day,
  &__day {
    all: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include text.typography(base, $overrides: (color: currentColor));

    @include theme.focus-styles;
    @include theme.disabled-styles;
  }

  &__day {
    cursor: pointer;

    &--today {
      background-color: pink;
    }

    &--selected {
      background-color: blue;
    }

    &--locked,
    &--disabled {
      cursor: not-allowed;
    }

    &--weekend:not(:empty) {
      background-color: #ccc;
    }

    &--locked,
    &--disabled,
    &--sibling-month-day {
      opacity: 0.5;
    }

    &--in-range {
      background-color: #ddd;
    }

    &--start-range,
    &--end-range {
      background: green;
    }
  }

  &--rtl {
    .#{$calendar-root}__week,
    .#{$calendar-root}__month {
      direction: rtl;
    }
  }
}
