#{$alert-root} {
  --alert-border-radius: #{$alert-border-radius};

  position: relative;
  display: flex;
  width: 100%;
  padding: $alert-spacing;
  border-radius: var(--alert-border-radius);
  background-color: var(--alert-bg);
  color: var(--alert-color);

  @each $key, $value in $alert-skins {
    &--#{$key} {
      --alert-bg: #{get-color($key, 400)};
      --alert-color: #{get-color($key, 600)};
    }
  }
}
