@use 'sass:map';
@use '../theme/scss' as theme;

$button-root: '.button';

$button-color: #fff;

$button-border-radius: (
  square: map.get(theme.$radius, 'md'),
  round: 999px
);

$button-skins: (
    'primary': primary,
    'secondary': secondary,
    'danger': red,
);

$button-font-sizes: theme.$font-size;
$button-font-weight: map.get(theme.$font-weight, 'regular');

$button-sizes: (
    sm: map.get(theme.$spacings, 'md') * 4,
    md: map.get(theme.$spacings, 'md') * 5,
    lg: map.get(theme.$spacings, 'md') * 6,
);

$button-spacings: (
    sm: map.get(theme.$spacings, 'md'),
    md: map.get(theme.$spacings, 'md') * 2,
    lg: map.get(theme.$spacings, 'md') * 3,
);
