@use 'sass:map';
@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($button-root) {
    @include theme.reset();

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: var(--button-size);
    min-width: var(--button-size);
    padding: 0 var(--button-spacing);
    border-radius: map.get($button-border-radius, 'square');
    font-family: inherit;
    font-size: var(--button-font-size);
    font-weight: $button-font-weight;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;

    @include theme.focus-styles();

    @include theme.disabled-styles();

    &--filled {
        --filled-color: var(--button-color);
        background-color: var(--filled-color);
        color: $button-color;

        &:hover {
            --filled-color: var(--button-color-hover);
        }

        &:active {
            --filled-color: var(--button-color-active);
        }
    }

    &--ghost {
        --ghost-color: var(--button-color);
        background-color: transparent;
        color: var(--ghost-color);

        &:hover {
            --ghost-color: var(--button-color-hover);
        }

        &:active {
            --ghost-color: var(--button-color-active);
        }
    }

    &--outline {
        --outline-color: var(--button-color);

        background-color: transparent;
        color: var(--outline-color);
        border: 1px solid currentColor;

        &:hover {
            --outline-color: var(--button-color-hover);
        }

        &:active {
            --outline-color: var(--button-color-active);
        }
    }

    &__left,
    &__right {
        font-size: inherit;
        display: flex;
    }

    &--icon-only {
        width: var(--button-size);
        gap: 0;

        #{$button-root} {
            &__text {
                font-size: 0;
            }
        }
    }

    &--sm {
        --button-size: #{map.get($button-sizes, 'sm')};
        --button-spacing: #{map.get($button-spacings, 'sm')};
        --button-font-size: #{map.get($button-font-sizes, 'sm')};
    }

    &--md {
        --button-size: #{map.get($button-sizes, 'md')};
        --button-spacing: #{map.get($button-spacings, 'md')};
        --button-font-size: #{map.get($button-font-sizes, 'md')};
    }

    &--lg {
        --button-size: #{map.get($button-sizes, 'lg')};
        --button-spacing: #{map.get($button-spacings, 'lg')};
        --button-font-size: #{map.get($button-font-sizes, 'md')};
    }

    &--fullWidth {
        width: 100%;
    }

    @each $key, $value in $button-skins {
        &--#{$key} {
            --button-color: #{theme.get-color($value)};
            --button-color-hover: #{theme.get-color($value, 600)};
            --button-color-active: #{theme.get-color($value, 700)};
        }
    }
}
