@use 'sass:map';
@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($button-root) {
    @include theme.button-reset();

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: var(--button-size);
    min-width: var(--button-size);
    padding: 0 var(--button-spacing);
    border-radius: var(--button-radius);
    font-family: inherit;
    font-size: var(--button-font-size);
    font-weight: $button-font-weight;
    user-select: none;
    touch-action: manipulation;

    @include theme.focus-styles();

    @include theme.disabled-styles();

    &--round {
      --button-radius: #{map.get($button-border-radius, 'round')};
    }

    &--square {
      --button-radius: #{map.get($button-border-radius, 'square')};
    }

    &--filled {
        background-color: var(--button-background);
        color: $button-color;

        &:hover {
            background-color: var(--button-background-hover);
        }

        &:active {
            background-color: var(--button-background-active);
        }
    }

    &--ghost {
        background-color: transparent;
        color: var(--button-background);
    }

    &--outline {
        background-color: transparent;
        color: var(--button-background);
        border: 1px solid currentColor;
    }

    &__left,
    &__right {
        font-size: inherit;
        display: flex;
    }

    &--icon-only {
        width: var(--button-size);
        gap: 0;

        #{$button-root} {
            &__text {
                font-size: 0;
            }
        }
    }

    &--sm {
        --button-size: #{map.get($button-sizes, 'sm')};
        --button-spacing: #{map.get($button-spacings, 'sm')};
        --button-font-size: #{map.get($button-font-sizes, 'sm')};
    }

    &--md {
        --button-size: #{map.get($button-sizes, 'md')};
        --button-spacing: #{map.get($button-spacings, 'md')};
        --button-font-size: #{map.get($button-font-sizes, 'base')};
    }

    &--lg {
        --button-size: #{map.get($button-sizes, 'lg')};
        --button-spacing: #{map.get($button-spacings, 'lg')};
        --button-font-size: #{map.get($button-font-sizes, 'base')};
    }

    &--fullWidth {
        width: 100%;
    }

    @each $key, $value in $button-skins {
        &--#{$key} {
            --button-background: #{theme.get-color($value)};
            --button-background-hover: #{theme.get-color($value, 600)};
            --button-background-active: #{theme.get-color($value, 700)};
        }
    }
}
