@use '@stewed/react/src/theme/scss' as * with (
    $config: (
        extend: (
            colors: (
                sb: (
                    50: #f6f9fc,
                ),
            ),
        ),
    )
);

html {
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
}
