/* TEXT COLOR */
p.red 		{ color: #c15845; }
p.green		{ color: #2ea997; }
p.blue 		{ color: #68accf; }
p.yellow 	{ color: #d8c171; }
p.orange	{ color: #f2a265; }
p.white		{ color: #ffffff; }
p.black		{ color: #000000; }
p.violet	{ color: #740ba6; }
p.dark-gray	{ color: #4f4f51; }
p.light-gray{ color: #b4bbc3; }

/* BUTTONS COLOR */
button.red 			{ background-color: #d97663;color: #fff; } button.red:hover 		{ background-color: #c15845; color: #fff;}
button.green 		{ background-color: #2ea997;color: #fff; } button.green:hover 		{ background-color: #239184; color: #fff;}
button.blue 		{ background-color: #68accf;color: #fff; } button.blue:hover 		{ background-color: #5393b6; color: #fff;}
button.yellow 		{ background-color: #d8c171;color: #fff; } button.yellow:hover 		{ background-color: #c9b151; color: #fff;}
button.orange 		{ background-color: #f2a265;color: #fff; } button.orange:hover 		{ background-color: #d48243; color: #fff;}
button.violet 		{ background-color: #740ba6;color: #fff; } button.violet:hover 		{ background-color: #631489; color: #fff;}
button.dark-gray 	{ background-color: #4f4f51;color: #fff; } button.dark-gray:hover 	{ background-color: #373737; color: #fff;}
button.light-gray 	{ background-color: #c7ccd0;color: #888; } button.light-gray:hover 	{ background-color: #b4bbc3; color: #888;}

/* ALERT */
.alert.red 			{ background-color: #d97663;color: #fff; } .alert.red:hover 		{ background-color: #c15845; color: #fff;}
.alert.green 		{ background-color: #2ea997;color: #fff; } .alert.green:hover 		{ background-color: #239184; color: #fff;}
.alert.blue 		{ background-color: #68accf;color: #fff; } .alert.blue:hover 		{ background-color: #5393b6; color: #fff;}
.alert.yellow 		{ background-color: #d8c171;color: #fff; } .alert.yellow:hover 		{ background-color: #c9b151; color: #fff;}
.alert.orange 		{ background-color: #f2a265;color: #fff; } .alert.orange:hover 		{ background-color: #d48243; color: #fff;}
.alert.violet 		{ background-color: #740ba6;color: #fff; } .alert.violet:hover 		{ background-color: #631489; color: #fff;}
.alert.dark-gray 	{ background-color: #4f4f51;color: #fff; } .alert.dark-gray:hover 	{ background-color: #373737; color: #fff;}
.alert.light-gray 	{ background-color: #c7ccd0;color: #888; } .alert.light-gray:hover 	{ background-color: #b4bbc3; color: #888;}

/* ACCORDION */
.header-accordion.red 			{ background-color: #d97663;color: #fff; } .header-accordion.red:hover 			{ background-color: #c15845; color: #fff;}
.header-accordion.green 		{ background-color: #2ea997;color: #fff; } .header-accordion.green:hover 		{ background-color: #239184; color: #fff;}
.header-accordion.blue 			{ background-color: #68accf;color: #fff; } .header-accordion.blue:hover 		{ background-color: #5393b6; color: #fff;}
.header-accordion.yellow 		{ background-color: #d8c171;color: #fff; } .header-accordion.yellow:hover 		{ background-color: #c9b151; color: #fff;}
.header-accordion.orange 		{ background-color: #f2a265;color: #fff; } .header-accordion.orange:hover 		{ background-color: #d48243; color: #fff;}
.header-accordion.violet 		{ background-color: #740ba6;color: #fff; } .header-accordion.violet:hover 		{ background-color: #631489; color: #fff;}
.header-accordion.dark-gray 	{ background-color: #4f4f51;color: #fff; } .header-accordion.dark-gray:hover 	{ background-color: #373737; color: #fff;}
.header-accordion.light-gray 	{ background-color: #c7ccd0;color: #888; } .header-accordion.light-gray:hover 	{ background-color: #b4bbc3; color: #888;}

/* NAV TABS */
.nav-tabs ul .tab-active	{ color: #666!important; background: #dbd9d9!important; border-bottom: 1px solid #dbd9d9!important;}
.nav-tabs ul li 			{ border-bottom: 1px solid #fff;}
.nav-tabs ul li:hover 		{ background: #e3dede; border-bottom: 1px solid #fff;}
.tab-container 				{ width: 98%;display: block;padding: 2% 1%;position: relative;top: 0px;z-index: 99;overflow: hidden;background: #dbd9d9;border-bottom: 1px solid #dbd9d9;}

/* PAGINATION */
.pagination li a 		{ background: #fff;border: 1px solid #aaa7a7; font-size: 13px;}
.pagination li a:hover 	{ background: #dbdbdb;}
.pagination li a 		{ text-decoration: none;color: #000;}
.pagination .active 	{ background: #aaa!important;color: #fff!important;}

/* NAVIGATION */
.navigation .stewed 			{background: transparent;}
.navigation .stewed ul 			{background: transparent;}
.navigation .stewed li a 		{color: #fff;}
.navigation .stewed li a.linkdisabled 		{color: #9d9999!important;}
.navigation .stewed li a:hover 	{color: #ba665f;}
.navigation .stewed li ul li a 	{color: #777;border-bottom: 1px solid rgba(0, 0, 0, 0.15);}
.navigation .stewed li a.active {color: #ba665f!important; border-bottom: 1px solid #ba665f;}

.navigation .white 				{background: #fff;}
.navigation .white ul 			{background: #fff;}
.navigation .white li a 		{color: #333;}
.navigation .white li a:hover 	{color: #CAB9B7;}
.navigation .white li ul li a 	{color: #888;border-bottom: 1px solid rgba(0, 0, 0, 0.15);}
.navigation .white li a.active 	{color: #de6d64!important;}

.navigation .black 				{background: #111;}
.navigation .black ul 			{background: #111;}
.navigation .black li a 		{color: #fff;}
.navigation .black li:hover 	{background: #373737;}
.navigation .black li ul li a 	{color: #fff;border-bottom: 1px solid rgba(200, 200, 200, 0.15);}
.navigation .black li.active 	{background: #333;color: #fff!important;}
.navigation .black li ul 		{background: #212121;}
.navigation .red 				{background: #e05e5e;}
.navigation .red ul 			{background: #be1f1f;}
.navigation .red li a 			{color: #fff;border-bottom: 1px solid rgba(0, 0, 0, 0.15);}
.navigation .red li:hover 		{background: rgba(0, 0, 0, 0.2)}
.navigation .red li.active 		{background: rgba(0, 0, 0, 0.2);color: #fff!important;}
.navigation .red li ul 			{background: #d9d1d1;}
.navigation .red li ul li a 	{color: #333;}

/* OWL SLIDE */
.owl-theme .owl-controls									{ margin-top: 10px;text-align: center;}
.owl-theme .owl-controls .owl-buttons div 					{ color: #FFF;display: inline-block;zoom: 1;*display: inline;margin: 5px;padding: 3px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;background: #de6d64;filter: Alpha(Opacity=50);opacity: 0.5;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover 	{ filter: Alpha(Opacity=100);opacity: 1;text-decoration: none;}
.owl-theme .owl-controls .owl-page 							{ display: inline-block;zoom: 1;*display: inline;}
.owl-theme .owl-controls .owl-page span 					{ display: block;width: 12px;height: 12px;margin: 5px 7px;filter: Alpha(Opacity=50);opacity: 0.5;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background: #de6d64;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span 	{ filter: Alpha(Opacity=100);opacity: 1;}
.owl-theme .owl-controls .owl-page span.owl-numbers 		{ height: auto;width: auto;color: #FFF;padding: 2px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.owl-item.loading 											{ min-height: 150px;background: url(img/AjaxLoader.gif) no-repeat center center}
#owl-demo .owl-item div 									{ padding:5px;}
#owl-demo .owl-item img 									{ display: block;width: 100%;height: auto;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}