@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($accordion-root) {
  position: relative;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    gap: theme.get-spacing("lg");
    align-items: center;
    padding-block: theme.get-spacing("md");
    appearance: auto;
    cursor: pointer;

    @include theme.focus-styles;

    &::-webkit-details-marker {
      display: none;
    }

    @include text.typography("base", $overrides: (font-weight: theme.get-font-weight("medium")));

    &__text {
      flex-grow: 1;
    }

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }
  }

  &__body {
    padding-bottom: theme.get-spacing("md");
  }

  &--default {
    .#{$accordion-root} {
      &__item {
        border-bottom: 1px solid theme.get-color("neutral", "border-faded");
      }
    }
  }

  &--border {
    border: 1px solid theme.get-color("neutral", "border-faded");
    border-radius: theme.get-radius(md);

    .#{$accordion-root} {
      &__header,
      &__body {
        padding-inline: theme.get-spacing("md");
      }

      &__item:not(:last-child) {
        border-bottom: 1px solid theme.get-color("neutral", "border-faded");
      }
    }
  }

  &--border-row {
    .#{$accordion-root} {
      &__header,
      &__body {
        padding-inline: theme.get-spacing("md");
      }

      &__item {
        border: 1px solid theme.get-color("neutral", "border-faded");
        border-radius: theme.get-radius(md);

        &:not(:last-child) {
          margin-bottom: theme.get-spacing("sm");
        }
      }
    }
  }
}
