@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($accordion-root) {
  position: relative;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;

    &[hidden] {
      .#{$accordion-root}__body {
      display: none;
      }
    }
  }

  &__header {
    display: flex;
    gap: theme.get-spacing("lg");
    align-items: center;
    padding-block: theme.get-spacing("md");
    appearance: auto;
    cursor: pointer;

    @include theme.focus-styles;

    &::-webkit-details-marker {
      display: none;
    }

    @include text.typography("base", $overrides: (font-weight: theme.get-font-weight("medium")));

    &--disabled {
      @include theme.disabled-styles;
    }

    &__text {
      flex-grow: 1;
    }

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }
  }

  &__body {
    padding-top: theme.get-spacing("xs");
    padding-bottom: theme.get-spacing("md");
  }

  &--border-row {
    .#{$accordion-root} {
      &__item:not(:last-child) {
        border-bottom: 1px solid theme.get-color("neutral", "border-faded");
      }
    }
  }

  &--border {
    border: 1px solid theme.get-color("neutral", "border-faded");
    border-radius: theme.get-radius(md);

    .#{$accordion-root} {
      &__item {
        &:first-child {
          .#{$accordion-root}__header {
            border-top-left-radius: theme.get-radius(md);
            border-top-right-radius: theme.get-radius(md);
          }
        }

        &:last-child {
          .#{$accordion-root}__header {
            border-bottom-right-radius: theme.get-radius(md);
            border-bottom-left-radius: theme.get-radius(md);
          }
        }
      }

      &__header,
      &__body {
        padding-inline: theme.get-spacing("md");
      }
    }
  }

  &--panel {
    .#{$accordion-root} {
      &__item {
        .#{$accordion-root}__header {
          border-radius: theme.get-radius(md);
        }
      }

      &__header,
      &__body {
        padding-inline: theme.get-spacing("md");
      }

      &__item {
        border: 1px solid theme.get-color("neutral", "border-faded");
        border-radius: theme.get-radius(md);

        &:not(:last-child) {
          margin-bottom: theme.get-spacing("sm");
        }
      }
    }
  }
}
