@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($dropdown-root) {
  position: absolute;
  min-width: 140px;
  padding: theme.get-spacing("sm");
  background-color: theme.get-color("background-elevated");
  border: 1px solid theme.get-color("neutral", "300");
  border-radius: theme.get-radius("sm");
  box-shadow: theme.get-shadow("xl");
}
