@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include theme.scope($dropdown-root) {
  position: absolute;
  min-width: 180px;
  padding: theme.get-spacing("sm");
  background-color: theme.get-color("background-elevated");
  border: 1px solid theme.get-color("neutral", "300");
  border-radius: theme.get-radius("sm");
  box-shadow: theme.get-shadow("xl");

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: theme.get-transition-duration("quickly")
      theme.get-transition-timing-function("ease-in") 0s 1 normal none running fade;
  }
}
