.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::after {
    @include transition((opacity, transform));

    position: absolute;
    bottom: 100%;
    left: 50%;
    min-width: 80px;
    padding: map-get($space, xs) map-get($space, sm);
    transform: translate(-50%, 0);
    border-radius: $tooltip-border-radius;
    background-color: $tooltip-background;
    opacity: 0;
    color: #fff;
    font-size: $tooltip-font-size;
    text-align: center;
    text-transform: none;
    pointer-events: none;
    content: attr(data-tooltip);
    z-index: 1000;
    word-break: break-all;
  }

  &:hover {
    &::after {
      transform: translate(-50%, -8px);
      opacity: 1;
      pointer-events: all;
    }
  }

  &--lg {
    &::after {
      min-width: 160px;
      padding: map-get($space, sm);
      font-size: $tooltip-font-size-large;
    }
  }
}
