@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($popover-root) {
  position: absolute;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  min-width: max-content;
  background-color: theme.get-color("background-elevated");
  border: 1px solid theme.get-color("neutral", "border-faded");
  border-radius: theme.get-var(radius);
  box-shadow: theme.get-var(shadow);
}
