.breadcrumb {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-flex;
    margin-bottom: 0;
    padding: map-get($space, sm);
    padding-left: 0;

    &::after {
      padding-left: map-get($space, sm);
      content: "/";
    }

    &.is-active {
      font-weight: map-get($typography-font-weight, bold);

      &::after {
        display: none;
      }
    }
  }
}
