@for $i from 1 through 6 {
  .h#{$i} {
    @include get-typography(headline-#{$i});
  }
}

p,
li {
  margin-bottom: $baseline;

  @include get-typography(base);
}

a {
  color: $color-primary;

  @include get-typography(link);

  &:hover {
    text-decoration: underline;
  }
}
