$typography-serif: $global-font-family-serif !default;
$typography-monospace: $global-font-family-monospace;

// Font Size
$typography-font-size-sx: 10px;
$typography-font-size-sm: 12px;
$typography-font-size-base: $global-font-size;
$typography-font-size-md: 16px;
$typography-font-size-lg: 20px;
$typography-font-size-xl: 26px;
$typography-font-size-xl-x: 34px;
$typography-font-size-xl-xx: 42px;
$typography-font-size-xl-xxx: 50px;

// Font Weight
$typography-font-weight-thin: 100;
$typography-font-weight-light: 300;
$typography-font-weight-normal: 400;
$typography-font-weight-semibold: 500;
$typography-font-weight-bold: 700;
$typography-font-weight-x-bold: 900;

// Color Text
$typography-color-text: $global-color-black;
$typography-color-link: map-get($global-color-grey, "base");
$typography-color-link-hover: map-get($global-color-grey, "darken");

$typography-baseline-heading: $global-baseline * 3;

$headings: (
  "h1": ($global-color-black, $typography-font-size-xl-xxx, $typography-font-weight-thin),
  "h2": ($global-color-black, $typography-font-size-xl-xx, $typography-font-weight-light),
  "h3": ($global-color-black, $typography-font-size-xl-x, $typography-font-weight-semibold),
  "h4": ($global-color-black, $typography-font-size-xl, $typography-font-weight-semibold),
  "h5": ($global-color-black, $typography-font-size-lg, $typography-font-weight-bold),
  "h6": ($global-color-black, $typography-font-size-md, $typography-font-weight-bold)
);
