$typography: (
  headline-1: (
    margin: $theme-baseline * 2 0,
    font-size: $font-huge,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-2: (
    margin: $theme-baseline * 2 0,
    font-size: $font-xx-large,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, bold),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-3: (
    font-size: $font-x-large,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, light),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-4: (
    margin: $theme-baseline * 2 0,
    font-size: $font-large,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-5: (
    font-size: $font-medium,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-6: (
    font-size: 1.25rem,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  base: (
    margin: 0,
    margin-bottom: $theme-baseline,
    font-size: $font-base,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, regular),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  link: (
    font-size: $font-base,
    line-height: 1.5,
    font-weight: map-get($typography-font-weight, regular),
    color: get-color(pink),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: inherit,
    text-transform: inherit
  ),
  button: (
    font-size: $font-small,
    font-weight: map-get($typography-font-weight, medium),
    -moz-osx-font-smoothing: grayscale,
    -webkit-font-smoothing: antialiased,
    text-decoration: none,
    text-transform: uppercase
  )
) !default;

