@use "@stewed/react/src/theme/src/styles" as theme;

$input-root: "text-field";

// Appearance
$input-skins-default: (
  "border-color": theme.get-color("secondary", "300"),
  "border-color-hover": theme.get-color("secondary", "400"),
);
$input-skins: (
  "success": (
    "border-color": theme.get-color("green", "500"),
    "border-color-hover": theme.get-color("green", "600"),
  ),
  "error": (
    "border-color": theme.get-color("red", "500"),
    "border-color-hover": theme.get-color("red", "600"),
  ),
);

// Font
$input-font-size: theme.get-font-size("sm");

// Spacing's
$input-height: theme.get-spacing("5xl");
$input-spacings: theme.get-spacing("md");
