@use "@stewed/react/src/theme/src/styles" as theme;

$input-root: "text-field";

/// Skins
$input-skins: (
  "neutral-faded": (
    "border": theme.get-color("neutral", "300"),
    "border-hover": theme.get-color("neutral", "400"),
  ),
  "neutral": (
    "border": theme.get-color("neutral", "500"),
    "border-hover": theme.get-color("neutral", "600"),
  ),
  "success": (
    "border": theme.get-color("success", "500"),
    "border-hover": theme.get-color("success", "600"),
  ),
  "critical": (
    "border": theme.get-color("critical", "500"),
    "border-hover": theme.get-color("critical", "600"),
  ),
);


/// Sizes
$input-sizes: (
  "sm": 32px,
  "md": 40px,
  "lg": 48px,
  "xl": 56px,
);
