@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($input-root) {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding-inline: theme.get-spacing("md");
  overflow: hidden;
  border-radius: theme.get-var(radius);
  height: theme.get-var(height);

  @include text.typography(base, $overrides: (font-size: theme.get-font-size("md")));
  @include theme.focus-styles($target: ":focus-within");
  @include theme.disabled-styles;

  &__input {
    all: unset;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding-block: theme.get-spacing("md");
    touch-action: manipulation;

    &:-internal-autofill-selected,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-clip: text;
    }
  }

  &__left,
  &__right {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  &__left {
    padding-inline-end: theme.get-spacing("md");
  }

  &__right {
    padding-inline-start: theme.get-spacing("md");
  }

  @each $key, $value in $input-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          border-color: map.get($value, "border"),
          border-color-hover: map.get($value, "border-hover"),
          background-color: map.get($value, "background-color"),
        )
      );
    }
  }

  // Sizes
  @each $key, $value in $input-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          height: $value,
        )
      );
    }
  }

  &--outline {
    border: 1px solid theme.get-var(border-color);

    &:hover {
      border-color: theme.get-var(border-color-hover);
    }
  }

  &--ghost {
    border-color: transparent;
  }

  &--soft {
    border-color: transparent;
    background-color: color-mix(in srgb, theme.get-var(background-color), transparent 95%);

    &:hover {
      background-color: color-mix(in srgb, theme.get-var(background-color), transparent 90%);
    }
  }

  &--start {
    text-align: start;
  }

  &--center {
    text-align: center;
  }

  &--end {
    text-align: end;
  }

  &--full-width {
    width: 100%;
  }
}
