@use "sass:math";
@use "sass:map";
@use "@stewed/react/src/theme" as theme;

$tabs-root: ".tabs";

// Tabs
$tabs-border-radius: (
  "square": map.get(theme.$radius, "md"),
  "inner": map.get(theme.$radius, "sm"),
);

// Tab Items
$tab-item-root: ".tab__item";
