@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($tabs-root) {
  @include theme.define-var(
    (
      background-color: theme.get-color("neutral", "100"),
      border-color: theme.get-color("neutral", "300"),
      flex-direction: row,
      width: auto,
      justify-content: center,
      item-background-color: transparent,
    )
  );

  display: flex;
  width: 100%;

  &--column {
    @include theme.define-var(
      (
        flex-direction: column,
        width: 100%,
        justify-content: left,
      )
    );
  }

  &--start {
    justify-content: left;
  }

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: end;
  }

  &__list {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: theme.get-var(flex-direction);
    gap: theme.get-spacing("sm");
    align-items: center;
    width: theme.get-var(width);
    height: theme.get-var(height);
    padding-inline: 2px;
    user-select: none;
    background-color: theme.get-var(background-color);
    border: 1px solid theme.get-var(border-color);
    border-radius: theme.get-var(radius);
  }

  &__item {
    all: unset;
    box-sizing: border-box;
    display: flex;
    gap: theme.get-spacing("sm");
    align-items: center;
    justify-content: theme.get-var(justify-content);
    width: theme.get-var(width);
    height: calc(theme.get-var(height) - 8px);
    padding-inline: theme.get-spacing("md");
    cursor: pointer;
    background-color: theme.get-var(item-background-color);
    border-radius: calc(theme.get-var(radius) - 4px);

    @include theme.focus-styles;
    @include theme.disabled-styles;
    @include text.typography(base, $overrides: (font-size: theme.get-font-size("sm")));

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
    }

    &--selected {
      box-shadow: theme.get-shadow("md");
      @include theme.define-var(
        (
          item-background-color: theme.get-color("background-elevated"),
        )
      );
    }
  }

  // Sizes
  @each $key, $value in $tabs-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          height: $value,
        )
      );
    }
  }
}
