@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($tabs-root) {
  display: flex;
  width: 100%;

  @include theme.define-var(
    (
      background-color: theme.get-color("neutral", "faded"),
      border-color: theme.get-color("neutral", "faded"),
      border-radius: theme.get-radius("md"),
      flex-direction: row,
      height: theme.get-spacing("5xl"),
      width: auto,
      item-background-color: transparent,
      justify-content: center,
    )
  );

  &--column {
    @include theme.define-var(
      (
        flex-direction: column,
        width: 100%,
        justify-content: left,
      )
    );
  }

  &--left {
    justify-content: left;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: right;
  }

  &__list {
    display: inline-flex;
    flex-direction: theme.get-var(flex-direction);
    gap: theme.get-spacing("sm");
    align-items: center;
    width: theme.get-var(width);
    padding: theme.get-spacing("xxs");
    user-select: none;
    background-color: theme.get-var(background-color);
    border: 1px solid theme.get-var(border-color);
    border-radius: calc(theme.get-var(border-radius) + theme.get-spacing("xxs"));
  }

  &__item {
    all: unset;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: theme.get-var(justify-content);
    width: theme.get-var(width);
    height: theme.get-var(height);
    padding: 10px 8px;
    cursor: pointer;
    background-color: theme.get-var(item-background-color);
    border-radius: theme.get-var(border-radius);

    @include theme.focus-styles;
    @include theme.disabled-styles;
    @include text.typography(
      base,
      $overrides: (color: currentColor, font-size: theme.get-font-size("sm"))
    );

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
    }

    &--selected {
      @include theme.define-var(
        (
          item-background-color: #fff,
        )
      );
    }
  }
}
