@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($tabs-root) {
  --tabs-background: #{theme.get-color("secondary", "100")};

  &__list {
    display: inline-flex;
    gap: 6px;
    align-items: center;
    padding: 4px;
    user-select: none;
    background-color: var(--tabs-background);
    border-radius: map.get($tabs-border-radius, "square");
  }

  &__item {
    --tab-item-background: transparent;

    all: unset;
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--tab-item-background);
    border-radius: map.get($tabs-border-radius, "inner");

    @include theme.focus-styles;
    @include theme.disabled-styles;

    &__text {
      flex-grow: 1;
      @include text.typography(
        base,
        $overrides: (--typography-line-height: map.get(theme.$line-height, "sm"))
      );
    }

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }

    &--selected {
      --tab-item-background: #fff;
    }
  }
}
