@use "@stewed/react/src/theme/src/styles" as theme;

$switch-root: "switch";

/// Skins
$switch-skins: (
  "secondary": "secondary",
  "primary": "primary",
  "danger": "red",
);

/// Sizes
$switch-sizes: (
  "sm": (
    "width": 30px,
    "height": 18px,
  ),
  "md": (
    "width": 34px,
    "height": 22px,
  ),
  "lg": (
    "width": 40px,
    "height": 28px,
  ),
);
