@use "@stewed/react/src/theme/src/styles" as theme;

$switch-root: "switch";

/// Skins
$switch-skins: (
  "secondary": "secondary",
  "primary": "primary",
  "danger": "red",
);

/// Sizes
$switch-sizes: (
  "sm": (
    "width": 28px,
    "height": 16px,
  ),
  "md": (
    "width": 32px,
    "height": 20px,
  ),
  "lg": (
    "width": 36px,
    "height": 24px,
  ),
);
