<IfModule mod_rewrite.c>
    RewriteEngine on 
    RewriteCond $2 !^(allow\.php|index\.php|public)

    RewriteRule ^(pt|en|fr|es)/(.*?)/?$ index.php?lang=$1&page=$2 [QSA,NC,L]
    RewriteRule ^(pt|en|fr|es)/?$ index.php?lang=$1 [QSA,NC,L]
    <Files .htaccess> 
        order allow,deny 
        deny from all 
    </Files>
</IfModule>