@use 'sass:map';
@use '../theme/scss' as theme;

$checkbox-root: '.checkbox';

$checkbox-size: (
    'sm': map.get(theme.$spacings, 'xs') * 19,
    'md': map.get(theme.$spacings, 'xs') * 20,
    'lg': map.get(theme.$spacings, 'xs') * 21
);

$checkbox-font-size: (
    'sm': 16px,
    'md': 20px,
    'lg': 24px
);

$checkbox-border-size: (
    'sm': map.get(theme.$spacings, 'xs') * 8,
    'md': map.get(theme.$spacings, 'xs') * 10,
    'lg': map.get(theme.$spacings, 'xs') * 12
);

$checkbox-border-radius: map.get(theme.$radius, 'md');
$checkbox-border-radius-check: map.get(theme.$radius, 'xs');

$checkbox-skins-default: (
    'border': theme.get-color(secondary, 300),
    'border-hover': theme.get-color(secondary, 600),
    'border-checked': theme.get-color(primary, 500)
);

$checkbox-skins: (
    'danger': (
        'border-checked': theme.get-color(red, 500)
    )
);
