/* stylelint-disable selector-max-universal, selector-max-type */
@import "mixins";
@import "functions";
@import "variables";

:root {
  --font-family-serif: #{$theme-font-family-serif};
  --font-family-sans-serif: #{$theme-font-family-sans-serif};
  --font-family-monospace: #{$theme-font-family-monospace};
  --font-size-base: #{$theme-font-size};
}

// Colors
:root {
  @each $key, $value in $theme-colors {
    @each $tone, $keyTone in $theme-tones {
      --color-#{$key}-#{$tone}: #{build-color(#{$key}, #{$tone})};
    }
  }
}

// Typography Size
:root {
  @each $key, $value in $theme-font-sizes {
    --typography-#{$key}: #{calculate-rem(map-get($theme-font-sizes, $key))};
  }
}

// Typography Weight
:root {
  @each $key, $value in $theme-font-weight {
    --typography-#{$key}: #{map-get($theme-font-weight, $key)};
  }
}

// Spaces
:root {
  @each $key, $value in $theme-spaces {
    --space-#{$key}: #{calculate-rem(map-get($theme-spaces, $key))};
  }
}

// Radius
:root {
  @each $key, $value in $theme-radius {
    --radius-#{$key}: #{calculate-rem(map-get($theme-radius, $key))};
  }
}

// Breakpoints
:root {
  @each $key, $value in $theme-breakpoints {
    --breakpoints-#{$key}: #{map-get($theme-breakpoints, $key)};
  }
}
