@use 'sass:map';
@use '@stewed/theme/scss' as theme;

$alert-root: '.alert';

$alert-color: #fff;
$alert-border-radius: map.get(theme.$radius, 'md');

$alert-appearances: (
    'primary': primary,
    'success': green,
    'warning': yellow,
    'danger': red
);

$alert-spacing: theme.$spacing * 2;

$alert-sizes: (
    sm: theme.$spacing * 4,
    md: theme.$spacing * 5,
    lg: theme.$spacing * 6
);
