.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: calc(100vh - #{$header-height});
  padding: var(--space-xl);
  transform: none;
  border-right: 1px solid rgba(0, 0, 0, .12);
  overflow-y: auto;
  will-change: transform;

  &__title {
    padding: var(--space-sm) var(--space-lg);
    color: var(--color-grayscale-light);
    font-size: var(--typography-x-sm);
    text-transform: uppercase;
  }

  &.is-visible {
    transform: translateX($sidebar-width);
  }

  .menu {
    &__item {
      font-size: var(--typography-sm);

      &.router-link-active {
        color: var(--color-primary-base);
      }
    }
  }
}
