@import "../../utilities/variables";
@import "../../utilities/mixins";

$form: ".form";

// Input
$form-input-text-font-size: 16px !default;
$form-input-text-width: 100% !default;
$form-input-text-padding: 4px !default;
$form-input-text-vertical-spacing: 20px !default;
$form-input-text-button-size: 32px !default;

$form-input-border-color: $global-color-black;

// Form Font Family
$form-family: $global-font-family-serif;
$form-weight: $global-font-weight;

// Checkbox Font Family
$checkbox-family: $global-font-family-serif;
$checkbox-weight: 300;

// Switch Font Family
$switch-family: $global-font-family-serif;
$switch-weight: 300;

@import "input";
@import "textarea";
@import "checkbox";
@import "radio";
@import "switch";
@import "form";
