@import '../../utilities/variables';
@import '../../utilities/mixins';

// Input
$c-form-input-text-font-size: 16px !default;
$c-form-input-text-width: 100% !default;
$c-form-input-text-padding: 4px !default;
$c-form-input-text-vertical-spacing: 20px !default;
$c-form-input-text-button-size: 32px !default;

$c-form-input-border-color: $u-color-black;

// Form Font Family
$c-form-family: $u-font-family-serif;
$c-form-weight: $u-font-weight;

// Checkbox Font Family
$c-checkbox-family: $u-font-family-serif;
$c-checkbox-weight: 300;

// Switch Font Family
$c-switch-family: $u-font-family-serif;
$c-switch-weight: 300;

@import 'radio';
@import 'checkbox';
@import 'switch';
@import 'form';
