#{$form} {
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 12px;
    resize: none;
    border: 1px solid #ddd;
    background-color: #ddd;

    &--resize {
      resize: auto;
    }
  }
}
