#{$form} {

  &__textarea {
    background-color: #ddd;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    resize: none;
    height: auto;
    padding: 20px 12px;
}
}
