/* stylelint-disable selector-max-universal, selector-max-type */
@import "mixins";
@import "functions";
@import "variables";

:root {
  --font-family-serif: #{$theme-font-family-serif};
  --font-family-monospace: #{$theme-font-family-monospace};
  --font-size-base: #{$theme-font-size};
}

// Colors
:root {
  @each $color, $keyColor  in $theme-colors {
    @each $tone, $keyTone in $theme-tones {
      --color-#{$color}-#{$tone}: #{build-color(#{$color}, #{$tone})};
    }
  }
}

// Typography
:root {
  @each $keySize, $sizes in $theme-font-sizes {
    --typography-#{$keySize}: #{calculate-rem(map-get($theme-font-sizes, $keySize))};
  }
}

:root {
  @each $keyWeight, $weight in $theme-font-weight {
    --typography-#{$keyWeight}: #{map-get($theme-font-weight, $keyWeight)};
  }
}

// Spaces
:root {
  --space-x-hg: #{calculate-rem(40px)};
  --space-hg: #{calculate-rem(32px)};
  --space-xl: #{calculate-rem(24px)};
  --space-lg: #{calculate-rem(16px)};
  --space-md: #{calculate-rem(12px)};
  --space-sm: #{calculate-rem(8px)};
  --space-x-sm: #{calculate-rem(6px)};
  --space-xs: #{calculate-rem(4px)};
  --space-x-xs: #{calculate-rem(2px)};
}

// Radius
:root {
  --radius-hg: #{calculate-rem(32px)};
  --radius-xl: #{calculate-rem(42px)};
  --radius-lg: #{calculate-rem(16px)};
  --radius-md: #{calculate-rem(8px)};
  --radius-sm: #{calculate-rem(4px)};
  --radius-xs: #{calculate-rem(2px)};
}

// Breakpoint
:root {
  --breakpoint-sm: #{$theme-breakpoint-mobile};
  --breakpoint-md: #{$theme-breakpoint-tablet};
  --breakpoint-lg: #{$theme-breakpoint-desktop};
  --breakpoint-hg: #{$theme-breakpoint-tv};
}
