// Font Size
$theme-font-family-serif: "Nunito", sans-serif !default;
$theme-font-family-monospace: monospace !default;
$theme-font-size: 16px !default;

$theme-colors: (
  "primary"   : #5c8df6,
  "accent"    : #f3628d,
  "grayscale" : #454b57,
  "warning"   : #f5c85c,
  "danger"    : #f26175,
  "info"      : #82a2ff,
  "success"   : #69dd95,
  "dider"   : #f00,
) !default;

$tones-light: (
  10: 80%,
  30: 30%
) !default;

$tones-dark: (
  60: 10%,
  80: 50%,
) !default;

$theme-tones: (
  lighter: 10,
  light: 30,
  base: 50,
  dark: 60,
  darker: 80,
) !default;

// Font Sizes
$theme-font-sizes: (
  "x-hg" : 42px,
  "hg"   : 34px,
  "x-xl" : 28px,
  "xl"   : 26px,
  "lg"   : 20px,
  "md"   : 18px,
  "base" : 16px,
  "sm"   : 14px,
  "x-sm" : 12px,
  "xs"   : 10px,
  "x-xs" : 8px
) !default;

// Font Weight
$theme-font-weight: (
  "light"   : 300,
  "regular" : 400,
  "medium"  : 600,
  "bold"    : 700
) !default;

// Breakpoints
$theme-breakpoint-mobile: 280px !default;
$theme-breakpoint-tablet: 768px !default;
$theme-breakpoint-desktop: 1024px !default;
$theme-breakpoint-tv: 1440px !default;
