.progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: $c-progress-border-radius;
  border: 0;
  height: 6px;
  width: 100%;
}

.progress[value]::-webkit-progress-bar {
  background-color: rgba($c-progress-background, .2);
  border-radius: $c-progress-border-radius;
  box-shadow: none;
}

.progress[value]::-webkit-progress-value {
  background: currentColor;
  border-radius: $c-progress-border-radius;
  box-shadow: none;
}
