@use 'sass:map';
@use '../theme/scss' as theme;

$alert-root: '.alert';

$alert-color: #fff;
$alert-border-radius: map.get(theme.$radius, 'md');

$alert-title-font-weight: map.get(theme.$font-weight, 'semibold');
$alert-body-font-size: map.get(theme.$font-size, 'sm');

$alert-skins: (
    'info': blue,
    'success': green,
    'warning': yellow,
    'danger': red,
);

$alert-inner-spacing-x: map.get(theme.$spacings, 'xl');
$alert-inner-spacing-y: map.get(theme.$spacings, 'xl');

$alert-gap: map.get(theme.$spacings, 'sm');

$alert-sizes: (
    sm: map.get(theme.$spacings, 'md') * 4,
    md: map.get(theme.$spacings, 'md') * 5,
    lg: map.get(theme.$spacings, 'md') * 6,
);
