@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "./variables" as *;

@include theme.scope($textarea-root) {
  --textarea-border: #{map.get($textarea-skins-default, "border")};
  --textarea-border-hover: #{map.get($textarea-skins-default, "border-hover")};

  font-family: inherit;
  font-size: $textarea-font-size;
  font-weight: $textarea-font-weight;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: $textarea-spacings;
  border: 1px solid var(--textarea-border);
  border-radius: $textarea-border-radius;
  touch-action: manipulation;

  &:hover {
    border-color: var(--textarea-border-hover);
  }

  @include theme.focus-styles;
  @include theme.disabled-styles;

  @each $key, $value in $textarea-skins {
    &--#{$key} {
      --textarea-border: #{map.get($value, "border")};
      --textarea-border-hover: #{map.get($value, "border-hover")};
    }
  }
}
