@use "@stewed/react/src/theme/src/styles" as theme;

$radio-root: "radio";

/// Skins
$radio-skins: (
  "primary": "primary",
  "error": "red",
);

/// Sizes
$radio-sizes: (
  "sm": 16px,
  "md": 20px,
  "lg": 26px,
);
