@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($radio-root) {
  --radio-color: #{theme.get-color("primary", "500")};

  position: relative;
  display: inline-block;
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: 50%;

  @include theme.focus-styles;
  @include theme.disabled-styles;

  @include theme.hover {
    #{$radio-root}__background {
      --radio-color: #{theme.get-color("primary", "600")};
    }
  }

  &__control {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;

    &:checked {
      + .radio__background {
        &::after {
          scale: 1;
        }
      }
    }
  }

  &__background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--radio-color);
    pointer-events: none;

    &::before {
      position: absolute;
      inset: 0;
      content: "";
      border: 2px solid currentcolor;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(var(--radio-size) / 2);
      height: calc(var(--radio-size) / 2);
      content: "";
      background-color: currentcolor;
      border-radius: 50%;
      scale: 0;
      translate: -50% -50%;

      @include theme.transition(scale);
    }
  }

  @each $key, $value in $radio-skins {
    &--#{$key} {
      #{$radio-root}__control:checked {
        + .radio__background {
          --radio-color: #{theme.get-color($value, "500")};
        }
      }
    }
  }

  @each $key, $value in $radio-sizes {
    &--#{$key} {
      --radio-size: #{$value};
    }
  }
}
