@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($radio-root) {
  position: relative;
  display: inline-flex;
  gap: theme.get-spacing("sm");
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include theme.define-var(
    (
      background-color: theme.get-color("neutral", "100"),
      border-color: theme.get-color("neutral", "300"),
    )
  );

  @include theme.focus-styles($target: ":focus-within .#{$radio-root}__control");
  @include theme.disabled-styles;

  @include theme.hover {
    @include theme.define-var(
      (
        background-color: theme.get-color("neutral", "200"),
      )
    );
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0;
    outline: none;
    opacity: 0;

    &:checked + .radio__control::after {
      scale: 1;
    }
  }

  &__control {
    position: relative;
    box-sizing: border-box;
    width: theme.get-var(size);
    height: theme.get-var(size);
    background-color: theme.get-var(background-color);
    border: 1px solid theme.get-var(border-color);
    border-radius: theme.get-radius("full");

    @include theme.transition((background-color, border));

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(theme.get-var(size) / 2);
      height: calc(theme.get-var(size) / 2);
      content: "";
      background-color: white;
      border-radius: theme.get-radius("full");
      transform: translate(-50%, -50%);
      transform-origin: 0 0;
      scale: 0;

      @include theme.transition(scale);
    }
  }

  &__text {
    @include text.typography(label);
  }

  // Sizes
  @each $key, $value in $radio-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          size: $value,
        )
      );
    }
  }

  // Skins
  @each $key, $value in $radio-skins {
    &--#{$key} {
      .#{$radio-root}__input:checked + .radio__control {
        @include theme.define-var(
          (
            background-color: theme.get-color($value),
            border-color: theme.get-color($value),
          )
        );
      }
    }
  }
}
