@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($radio-root) {
  position: relative;
  display: inline-flex;
  gap: theme.get-spacing("sm");
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include theme.define-var(
    (
      background-color: transparent,
      border-color: theme.get-color("neutral", "border-faded")
    )
  );

  @include theme.focus-styles($target: ":focus-within .#{$radio-root}__control");

  &--disabled {
    @include theme.disabled-styles;
  }

  &:not(&--disabled) {
    @include theme.hover {
      @include theme.define-var(
        (
          background-color: theme.get-color("neutral", "background-faded")
        )
      );
    }
  }

  &--border {
    box-sizing: border-box;
    height: calc(theme.get-var(size) * 2);
    padding-inline: theme.get-spacing("md");
    border: 1px solid theme.get-var(border-color);
    border-radius: theme.get-var(radius);
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0;
    outline: none;
    opacity: 0;

    &:checked + .radio__control::after {
      scale: 1;
    }
  }

  &__control {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    width: theme.get-var(size);
    height: theme.get-var(size);
    background-color: theme.get-var(background-color);
    border: 1px solid theme.get-var(border-color);
    border-radius: theme.get-radius("full");

    @include theme.transition((background-color, border));

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(theme.get-var(size) / 2);
      height: calc(theme.get-var(size) / 2);
      content: "";
      background-color: white;
      border-radius: theme.get-radius("full");
      transform: translate(-50%, -50%);
      transform-origin: 0 0;
      scale: 0;

      @include theme.transition(scale);
    }
  }

  &__text {
    @include text.typography(label);
  }

  &__group {
    display: flex;
    gap: theme.get-spacing("md");
    align-items: start;

    &--horizontal {
      flex-flow: wrap;
      flex-direction: row;

      &.#{$radio-root}__group--full-width {
        .#{$radio-root} {
          flex: 1;
        }
      }
    }

    &--vertical {
      flex-direction: column;
    }

    &--full-width {
      width: 100%;

      .#{$radio-root} {
        box-sizing: border-box;
        justify-content: start;
        width: 100%;
      }
    }
  }

  // Sizes
  @each $key, $value in $radio-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          size: $value
        )
      );
    }
  }

  // Skins
  @each $key, $value in $radio-skins {
    &--#{$key} {
      &:has(input:checked) {
        @include theme.define-var(
          (
            background-color: theme.get-color($value, "background"),
            border-color: theme.get-color($value, "border")
          )
        );

        @include theme.hover {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "background"),
              border-color: theme.get-color($value, "border")
            )
          );
        }
      }
    }
  }
}
