.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;

  &__item {
    padding: 20px 0;

    &__link {
      display: block;
      padding: 4px 14px;
      position: relative;
      text-decoration: none;
      transition: color .2s linear;
    }
  }
}
