.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;

  &__item {
    padding: 20px 0;
  }

  &__link {
    display: block;
    padding: 4px 14px;
    position: relative;
    text-decoration: none;
    transition: color .2s linear;
  }

  &--vertical {
    li {
      display: block;
      width: 100%;
      margin-bottom: 0;
      ul {
        display: none;
        z-index: 11;
        position: absolute;
        min-width: 10em;
        top: 0;
      }
      .navigation__vertical__submenu--right {
        border-radius: 0 2px 2px;
        left: 100%;
      }
      .navigation__vertical__submenu--left {
        right: 100%;
        border-radius: 2px 0 2px;
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }

  &--horizontal {
    display: inline;
    li {
      display: inline-block;
      ul {
        display: none;
      }
      .navigation__horizontal__submenu {
        left: 0;
        position: absolute;
        min-width: 100%;
        top: auto;
        border-radius: 0 0 2px;
        z-index: 11;
        li {
          width: 100%;
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }

  &--scroll {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    display: block;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      display: inline-block;
    }
  }
}
