#{$menu} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;

    .smenu {
      list-style: none;
      padding: 0;
      min-width: 100%;
      z-index: 50;
      left: auto;
      top: auto;
      background: #fff;
      display: none;
      position: absolute;
    }

    &:hover {

      .smenu {
        display: block;
      }
    }

    &--separator {
      margin: 6px 0;
      border: 1px solid $menu-separator-color;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 14px;
    transition: color .2s linear;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;

    &:hover {
      opacity: .6;
    }

    &.is-active {
      background-color: #fff;
    }
  }

  // &--vertical {
  //   #{$menu} {
  //     &__item {
  //       display: block;
  //       width: 100%;

  //       ul {
  //         display: none;
  //         z-index: 11;
  //         position: absolute;
  //         min-width: 10em;
  //         top: 0;
  //       }

  //       .navigation__vertical__submenu--right {
  //         border-radius: 0 2px 2px;
  //         left: 100%;
  //       }

  //       .navigation__vertical__submenu--left {
  //         right: 100%;
  //         border-radius: 2px 0 2px;
  //       }

  //       &:hover {
  //         ul {
  //           display: block;
  //         }
  //       }
  //     }
  //   }
  // }

  &--horizontal {
    flex-direction: row;

    #{$menu} {

      &__item {
        display: inline-block;

        &--horizontal {
          position: absolute;
          top: auto;
          left: 0;
          min-width: 100%;
          border-radius: 0 0 2px;
          z-index: 11;

          .smenu__item {
            width: 100%;
          }
        }

        &:hover {
          ul {
            display: block;
          }
        }

        &__link {
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  &--scroll {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    display: block;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      display: inline-block;
    }
  }

  &--inherit {
    .menu__item {
      color: inherit;
    }

    .menu__link {
      color: inherit;
    }
  }
}
