.alert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: $baseline * 2;
  padding: $baseline * 2;
  border-radius: $border-radius;
  background-color: $alert-background;
  color: $alert-color;
  font-size: map-get($typography-font-size, base);
  cursor: pointer;

  &__title {
    @include get-typography(headline-6);
  }

  &__description {
    @include get-typography(small);
  }

  @each $key in $alert-keys {
    &--#{$key} {
      --alert-bakground: #{get-color(#{$key})};
    }
  }
}
