@import '../../utilities/variables';
@import '../../utilities/mixins';

$c-tooltip-font-size: $u-font-size; // 14px
$c-tooltip-font-weight: $u-font-weight; // 400

// Border Radius
$c-tooltip-border-radius: 2px;

$c-tooltip-background: $u-color-black;
$c-tooltip-color: $u-color-white;

@import 'tooltip';
