@import "../../utilities/variables";
@import "../../utilities/mixins";

$tooltip-font-size: $global-font-size; // 14px
$tooltip-font-weight: $global-font-weight; // 400

// Border Radius
$tooltip-border-radius: 2px;

$tooltip-background: $global-color-black;
$tooltip-color: $global-color-white;

@import "tooltip";
