[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;

	&:after,
	&:after {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transform: none;
		transition: opacity .2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
		visibility: hidden;
	}

	&:hover:after,
	&:focus:after,
	&:hover:after,
	&:focus:after {
		visibility: visible;
		opacity: 1;
	}

	&:after,
	&:after {
		z-index: 1000;
		padding: 8px;
		width: 160px;
		background-color: $c-tooltip-background;
		color: $c-tooltip-color;
		content: attr(data-tooltip);
		line-height: 1em;
		border-radius: $c-tooltip-border-radius;
		text-transform: none;
		text-align: center;
		font-size: $c-tooltip-font-size;
		font-weight: $c-tooltip-font-weight;
	}
}

[data-tooltip]:after,
.tooltip:after,
.tooltip--top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:after,
.tooltip:after,
.tooltip--top:after {
	margin-left: -80px;
}

[data-tooltip]:hover:after,
[data-tooltip]:focus:after,
.tooltip:hover:after,
.tooltip:focus:after,
.tooltip--top:hover:after,
.tooltip--top:focus:after {
	transform: translateY(-12px);
}

/* Directions Left */
.tooltip--left:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}

.tooltip--left:hover:after,
.tooltip--left:focus:after {
	transform: translateX(-12px);
}

.tooltip--bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}


.tooltip--bottom:hover:after,
.tooltip--bottom:focus:after {
	transform: translateY(12px);
}

.tooltip--right:after {
	bottom: 50%;
	left: 100%;
}

.tooltip--right:hover:after,
.tooltip--right:focus:after {
	transform: translateX(12px);
}

.tooltip--left:after,
.tooltip--right:after {
	margin-left: 0;
	margin-bottom: -16px;
}
