@use "@stewed/react/src/theme/src/styles" as theme;

$carousel-root: "carousel";

/// space between slides when slides per view bigger that 2
$carousel-gap: 8px;

/// safe margin for navigation elements
$carousel-safe-margin: 8px;

/// bottom min height
$carousel-bottom-min-height: 26px;

/// dash width
$carousel-dash-width: 16px;

/// dash border radius
$carousel-dash-radius: 8px;

/// dash background color
$carousel-dash-background: theme.get-color("neutral", "100");

/// dash active background color
$carousel-dash-background-active: theme.get-color("primary", "500");

/// button small sizes
$carousel-button-small: 16px;

/// navigation inner spacing (left)
$carousel-navigation-spacing: 8px;
