@use "@stewed/react/src/theme/src/styles" as theme;

$carousel-root: "carousel";

/// safe margin for navigation elements
$carousel-safe-margin: theme.get-spacing("md");

/// bottom min height
$carousel-bottom-min-height: 26px;

/// gap
$carousel-gap: theme.get-spacing();
