 .badge {
 	position: relative;
 	white-space: nowrap;
 	margin-right: 24px;
 	display: inline-block;

 	&[data-badge]::before,
 	&[data-badge]::after {
 		display: flex;
 		flex-direction: row;
 		flex-wrap: wrap;
 		justify-content: center;
 		align-content: center;
 		align-items: center;
 		position: absolute;
 		top: -11px;
 		right: -24px;
 		font-size: 0.750em;
 		width: 24px;
 		height: 24px;
 		border-radius: 50%;
 	}
 	&[data-badge]::before {
 		content: attr(data-badge);
 		color: #fff;
 		font-size: 0.750em;
 		font-weight: 400;
 		z-index: 1;
 	}
 	&[data-badge]::after {
 		content: '';
 		background-color: currentColor;
 	}
 }
