 .badge {
 	position: relative;
 	white-space: nowrap;
 	margin-right: 24px;
 	display: inline-block;

 	&[data-badge]::before,
 	&[data-badge]::after {
    align-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.750em;
    height: 24px;
    justify-content: center;
    position: absolute;
    right: -24px;
    top: -100%;
    width: 24px;
 	}
 	&[data-badge]::before {
 		content: attr(data-badge);
 		color: #fff;
 		font-size: 0.750em;
 		font-weight: 400;
 		z-index: 1;
 	}
 	&[data-badge]::after {
 		content: '';
 		background-color: currentColor;
 	}
 }
