@import '../../utilities/variables';
@import '../../utilities/mixins';

// Font Size
$c-typography-font-size-small-x: $u-font-size - 6; // 10px
$c-typography-font-size-small-xx: $u-font-size -4; // 12px
$c-typography-font-size-small: $u-font-size - 2; // 14px
$c-typography-font-size-medium: $u-font-size; // 16px
$c-typography-font-size-large: $u-font-size + 4; // 20px
$c-typography-font-size-large-x: $u-font-size + 12; // 26px
$c-typography-font-size-large-xx: $u-font-size + 20; // 36px
$c-typography-font-size-large-xxx: $u-font-size + 26; // 42px

// Font Weight
$c-typography-font-weight-thin: 100;
$c-typography-font-weight-light: 300;
$c-typography-font-weight-normal: $u-font-weight; // 400
$c-typography-font-weight-semibold: 500;
$c-typography-font-weight-bold: 700;
$c-typography-font-weight-extrabold: 900;

// Color Heading
$c-typography-color-heading-1: $u-color-black;
$c-typography-color-heading-2: $u-color-black;
$c-typography-color-heading-3: $u-color-black;
$c-typography-color-heading-4: $u-color-black;
$c-typography-color-heading-5: $u-color-black;
$c-typography-color-heading-6: $u-color-black;

// Color Text
$c-typography-color-text: $u-color-black;
$c-typography-color-link: map-get($u-color-red, 'base');
$c-typography-color-link-hover: map-get($u-color-pink, 'base');

// Baseline
$c-typography-baseline-heading: $u-baseline * 3;

$headings: (
  'h1': ($c-typography-color-heading-1, $c-typography-font-size-large-xxx, $c-typography-font-weight-light),
  'h2': ($c-typography-color-heading-2, $c-typography-font-size-large-xx, $c-typography-font-weight-extrabold),
  'h3': ($c-typography-color-heading-3, $c-typography-font-size-large-x, $c-typography-font-weight-bold),
  'h4': ($c-typography-color-heading-4, $c-typography-font-size-large, $c-typography-font-weight-bold),
  'h5': ($c-typography-color-heading-5, $c-typography-font-size-medium, $c-typography-font-weight-bold),
  'h6': ($c-typography-color-heading-6, $c-typography-font-size-small, $c-typography-font-weight-bold)
);

@import 'typography';
