@import '../../utilities/variables';
@import '../../utilities/mixins';

// Font Size
$c-typography-font-size-sx: 10px; // 10px
$c-typography-font-size-sm: 12px; // 12px
$c-typography-font-size-base: $u-font-size;
$c-typography-font-size-md: 16px;
$c-typography-font-size-lg: 20px;
$c-typography-font-size-xl: 26px;
$c-typography-font-size-xl-x: 34px;
$c-typography-font-size-xl-xx: 42px;
$c-typography-font-size-xl-xxx: 50px;

// Font Weight
$c-typography-font-weight-thin: 100;
$c-typography-font-weight-light: 300;
$c-typography-font-weight-normal: $u-font-weight; // 400
$c-typography-font-weight-semibold: 500;
$c-typography-font-weight-bold: 700;
$c-typography-font-weight-extrabold: 900;

// Color Heading
$c-typography-color-heading-1: $u-color-black;
$c-typography-color-heading-2: $u-color-black;
$c-typography-color-heading-3: $u-color-black;
$c-typography-color-heading-4: $u-color-black;
$c-typography-color-heading-5: $u-color-black;
$c-typography-color-heading-6: $u-color-black;

// Color Text
$c-typography-color-text: $u-color-black;
$c-typography-color-link: map-get($u-color-red, 'base');
$c-typography-color-link-hover: map-get($u-color-pink, 'base');

// Baseline
$c-typography-baseline-heading: $u-baseline * 3;

$headings: (
  'h1': ($c-typography-color-heading-1, $c-typography-font-size-xl-xxx, $c-typography-font-weight-light),
  'h2': ($c-typography-color-heading-2, $c-typography-font-size-xl-xx, $c-typography-font-weight-bold),
  'h3': ($c-typography-color-heading-3, $c-typography-font-size-xl-x, $c-typography-font-weight-bold),
  'h4': ($c-typography-color-heading-4, $c-typography-font-size-xl, $c-typography-font-weight-bold),
  'h5': ($c-typography-color-heading-5, $c-typography-font-size-lg, $c-typography-font-weight-bold),
  'h6': ($c-typography-color-heading-6, $c-typography-font-size-md, $c-typography-font-weight-bold)
);

@import 'typography';
