@each $key, $values in $headings {
  #{$key} {
    @include typography(nth($values, 2), nth($values, 3));
    color: nth($values, 1);
    margin: $c-typography-baseline-heading 0;
  }
}

p {
  @include typography($c-typography-font-size-base, $c-typography-font-weight-light);
  color: $c-typography-color-text;
}

a {
  @include typography($c-typography-font-size-base, $c-typography-font-weight-light);
  color: $c-typography-color-link;

  &:hover {
    color: $c-typography-color-link-hover;
    text-decoration: none;
  }
}

// Font Family
.monospace {
  font-family: $c-typography-monospace;
}

.serif {
  font-family: $c-typography-serif;
}

// Text Alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// Font Weight
.thin {
  font-weight: $c-typography-font-weight-thin;
}

.light {
  font-weight: $c-typography-font-weight-light;
}

.normal {
  font-weight: $c-typography-font-weight-normal;
}

.semibold {
  font-weight: $c-typography-font-weight-semibold;
}

.bold {
  font-weight: $c-typography-font-weight-bold;
}

.extrabold {
  font-weight: $c-typography-font-weight-extrabold;
}

// Font Size
.x-small {
  font-size: $c-typography-font-size-sx;
}

.small {
  font-size: $c-typography-font-size-sm;
}

.base {
  font-size: $c-typography-font-size-base;
}

.medium {
  font-size: $c-typography-font-size-md;
}

.large {
  font-size: $c-typography-font-size-lg;
}

.x-large {
  font-size: $c-typography-font-size-xl;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.normal {
  font-style: normal;
}

// Text Decoration
.overline  {
  text-decoration: overline;
}

.underline {
  text-decoration: underline;
}

.through {
  text-decoration: line-through;
}

// Text transform
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}
