@each $key, $values in $headings {
  #{$key} {
    @include typography(nth($values, 2), nth($values, 3));
    color: nth($values, 1);
    margin: $c-typography-baseline-heading 0;
  }
}

p {
  @include typography($c-typography-font-size-medium, $c-typography-font-weight-normal);
  color: $c-typography-color-text;
}

span {
  @include typography($c-typography-font-size-medium, $c-typography-font-weight-normal);
  color: $c-typography-color-text;
}

a {
  @include typography($c-typography-font-size-medium, $c-typography-font-weight-normal);
  color: $c-typography-color-link;

  &:hover {
    color: $c-typography-color-link-hover;
    text-decoration: none;
  }
}

// Text Alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// Font Weight
.font-thin {
  font-weight: $c-typography-font-weight-thin;
}

.font-normal {
  font-weight: $c-typography-font-weight-normal;
}

.font-semibold {
  font-weight: $c-typography-font-weight-semibold;
}

.font-bold {
  font-weight: $c-typography-font-weight-bold;
}

.font-extrabold {
  font-weight: $c-typography-font-weight-extrabold;
}
