/** Visibility  */
.visibility-hidden  { visibility: hidden; }
.visibility-visible { visibility: visible; }
.visibility-collapse { visibility: collapse; }

/** Align Float */
.float-none { float: none; }
.float-right { float: right; }
.float-left  { float: left; }
.float-center  { float: none; margin: auto; }

@media only screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {

    .float-none--tablet { float: none; }
    .float-right--tablet { float: right; }
    .float-left--tablet  { float: left; }
    .float-center--tablet  {
        float: none !important;
        margin: auto !important;
        display: table !important;
    }
}

@media only screen and (min-width: $media-mobile-min) and (max-width: $media-mobile-max) {

    .float-none--mobile { float: none; }
    .float-right--mobile { float: right; }
    .float-left--mobile  { float: left; }
    .float-center--mobile  {
        float: none !important;
        margin: auto !important;
        display: table !important;
    }
}

/** Display **/
.display-grid  { display: grid; }
.display-flex  { display: flex; }
.display-table  { display: table; }
.display-block  { display: block; }
.display-none   { display: none;}
.display-inline  { display: inline }
.display-inlineblock { display: inline-block; }

/** Position **/
.position-relative  { position: relative; }
.position-absolute  { position: absolute; }
.position-fixed     { position: fixed; }
.position-static    { position: static;}
.position-sticky    { position: sticky;}

[class*="items-"],
[class*="content-"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
}

/** Align Items Center **/
.items-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/** Align Items Start **/
.items-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

/** Align Items End **/
.items-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

/** Align Items Stretch **/
.items-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch ;
}

/** Align Items Baseline **/
.items-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

/** Justify Content Center **/
.content-center {
    -webkit-justify-content: center;
    justify-content: center;
}

/** Justify Content Start **/
.content-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

/** Justify Content Flex-End **/
.content-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/** Justify Content Between **/
.content-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/** Flex Direction Row **/
.flex-row {
    flex-direction:row !important;
    -webkit-flex-direction: row !important;
}

/** Flex Direction Column **/
.flex-column {
    flex-direction:column !important;
    -webkit-flex-direction: column !important;
}

/** Flex Direction Row Reverse **/
.flex-rowreverse {
    flex-direction:row-reverse !important;
    -webkit-flex-direction: row-reverse !important;
}

/** Flex Direction Column Reverse **/
.flex-columnreverse {
    flex-direction:column-reverse !important;
    -webkit-flex-direction: column-reverse !important;
}

/**
 * Margin {0px to 90px}
 * Padding {0px to 90px}
 */
 @for $i from 0 through 9 {
    @if $i == 0 {
        .margin-0 {
            margin-top: 0;
        }
        .padding-0 {
            padding-top: 0;
        }
    } @else {
        .margin-#{$i}0 {
            margin: unquote( ($i) + '0px');
        }
        .padding-#{$i}0 {
            padding: unquote( ($i) + '0px');
        }
    }
}


/**
 * Top {0px to 90px}
 * Margin-Top {0px to 90px}
 * Padding-Top {0px to 90px}
 */
 @for $i from 0 through 9 {
    @if $i == 0 {
        .top-0 {
            top: 0;
        }
        .margin-top-0 {
            margin-top: 0;
        }
        .padding-top-0 {
            padding-top: 0;
        }
    } @else {
        .top-#{$i}0 {
            top: unquote( ($i) + '0px');
        }
        .margin-top-#{$i}0 {
            margin-top: unquote( ($i) + '0px');
        }
        .padding-top-#{$i}0 {
            padding-top: unquote( ($i) + '0px');
        }
    }
}

/**
 * Right {0px to 90px}
 * Margin-Right {0px to 90px}
 * Padding-Right {0px to 90px}
 */
 @for $i from 0 through 9 {
    @if $i == 0 {
        .right-0 {
            right: 0;
        }
        .margin-right-0 {
            margin-right: 0;
        }
        .padding-right-0 {
            padding-right: 0;
        }
    } @else {
        .right-#{$i}0 {
            right: unquote( ($i) + '0px');
        }
        .margin-right-#{$i}0 {
            margin-right: unquote( ($i) + '0px');
        }
        .padding-right-#{$i}0 {
            padding-right: unquote( ($i) + '0px');
        }
    }
}

/**
 * Bottom {0px to 90px}
 * Margin-Bottom {0px to 90px}
 * Padding-Bottom {0px to 90px}
 */
 @for $i from 0 through 9 {
    @if $i == 0 {
        .bottom-0 {
            bottom: 0;
        }
        .margin-bottom-0 {
            margin-bottom: 0;
        }
        .padding-bottom-0 {
            padding-bottom: 0;
        }
    } @else {
        .bottom-#{$i}0 {
            bottom: unquote( ($i) + '0px');
        }
        .margin-bottom-#{$i}0 {
            margin-bottom: unquote( ($i) + '0px');
        }
        .padding-bottom-#{$i}0 {
            padding-bottom: unquote( ($i) + '0px');
        }
    }
}

/**
 * Left {0px to 90px}
 * Margin-Left {0px to 90px}
 * Padding-Left {0px to 90px}
 */
 @for $i from 0 through 9 {
    @if $i == 0 {
        .left-0 {
            left: 0;
        }
        .margin-left-0 {
            margin-left: 0;
        }
        .padding-left-0 {
            padding-left: 0;
        }
    } @else {
        .left-#{$i}0 {
            left: unquote( ($i) + '0px');
        }
        .margin-left-#{$i}0 {
            margin-left: unquote( ($i) + '0px');
        }
        .padding-left-#{$i}0 {
            padding-left: unquote( ($i) + '0px');
        }
    }
}

/** Avatar **/
[class*="avatar-"] {
  border-radius: 50%;
  object-fit: cover;
}

@for $i from 2 through 18 {
    .avatar-#{$i*8} {
      height: unquote( ($i*8) + 'px');
      width: unquote( ($i*8) + 'px');
  }
}
