body {
  max-width: 1440px;
  margin: auto;
}

.demo-section {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  border: solid var(--color-grayscale-lighter);
  border-width: .2rem 0 0;
}

.demo-section .demo-title {
  color: var(--color-accent-base);
}

.demo-radio {
  margin-right: 8px;
}

.demo-switch {
  margin-right: 16px;
}

.demo-head {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: var(--theme-border-radius);
  background: var(--color-grayscale-lighter);
}

.demo-link {
  position: relative;
}

/* Demo Colors */
.demo-color {
  display: flex;
}

.demo-color-preview {
  flex: 1;
  height: 100px;
  background-color: currentColor;
}

.demo-color-preview span {
  color: rgba(0, 0, 0, .4);
}
