@use 'sass:math';
@use 'sass:map';
@use '../theme/scss' as theme;

$badge-root: '.badge';

$badge-color: #fff;
$badge-border-radius: map.get(theme.$radius, xl);

$badge-font-weight: map.get(theme.$font-weight, medium);
$badge-font-size: map.get(theme.$font-size, xxs);

$badge-skins: (
    'primary': primary,
    'secondary': secondary,
    'info': blue,
    'success': green,
    'warning': yellow,
    'danger': red,
);

$badge-inner-spacing-inline: map.get(theme.$spacings, xs) * 2;

$badge-size: map.get(theme.$spacings, xs) * 10;

$badge-dot-size: map.get(theme.$spacings, md);
