@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($badge-root) {
    --badge-size: #{$badge-size};

    position: relative;
    display: inline-flex;

    &__count {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        min-width: var(--badge-size);
        height: var(--badge-size);
        padding: 0 $badge-inner-spacing-x;
        transform: translate(50%, -50%);
        border-radius: $badge-border-radius;
        background-color: var(--badge-background);
        color: $badge-color;
        font-size: $badge-font-size;
        font-weight: $badge-font-weight;
        white-space: nowrap;
        z-index: 2;

        &:empty {
            --badge-size: #{$badge-dot-size};

            padding: 0;
        }
    }

    @each $key, $value in $badge-appearances {
        &--#{$key} {
            --badge-background: #{theme.get-color($value, 500)};
        }
    }
}
