@use "@stewed/react/src/theme" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($badge-root) {
    --badge-size: #{$badge-size};

    display: inline-flex;
    position: relative;

    &__count {
        @include text.typography(
            base,
            $overrides: (
                --typography-color: $badge-color,
                --typography-font-size: $badge-font-size
            )
        );

        background-color: var(--badge-background);
        display: inline-flex;
        position: absolute;
        top: 0;
        right: 0;
        min-width: var(--badge-size);
        height: var(--badge-size);
        align-items: center;
        justify-content: center;
        border-radius: $badge-border-radius;
        transform: translate(50%, -50%);
        white-space: nowrap;

        &:empty {
            --badge-size: #{$badge-dot-size};

            padding: 0;
        }
    }

    @each $key, $value in $badge-skins {
        &--#{$key} {
            --badge-background: #{theme.get-color($value, "500")};
        }
    }

    &--padded {
        #{$badge-root}__count {
            padding-inline: $badge-inner-spacing-inline;
        }
    }
}
