@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($badge-root) {
    --badge-size: #{$badge-size};

    position: relative;
    display: inline-flex;

    &__count {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--badge-size);
        height: var(--badge-size);
        padding-block: 0;
        transform: translate(50%, -50%);
        border-radius: $badge-border-radius;
        background-color: var(--badge-background);
        color: $badge-color;
        font-size: $badge-font-size;
        font-weight: $badge-font-weight;
        white-space: nowrap;

        &:empty {
            --badge-size: #{$badge-dot-size};

            padding: 0;
        }
    }

    @each $key, $value in $badge-skins {
        &--#{$key} {
            --badge-background: #{theme.get-color($value, 500)};
        }
    }

    &--padded {
        #{$badge-root}__count {
            padding-inline: $badge-inner-spacing-inline;
        }
    }
}
