/* stylelint-disable selector-max-type, selector-max-universal */
* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-base;
}

body {
  margin: 0 auto;
  padding: 0;
  color: $color-base;
}
