@use "@stewed/react/src/theme/src/styles" as theme;

$alert-root: "alert";

/// Skins
$alert-skins: ("primary", "secondary", "neutral", "info", "success", "warning", "critical");

/// Shadow
$alert-shadow: theme.get-shadow();
