@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;

/// Styles
$alert-border-radius: map.get(theme.$radius, "md");
$alert-title-font-weight: map.get(theme.$font-weight, "semi-bold");
$alert-body-font-size: map.get(theme.$font-size, "sm");
$alert-inner-spacing-x: map.get(theme.$spacings, "xl");
$alert-inner-spacing-y: map.get(theme.$spacings, "xl");
$alert-slot-gap: map.get(theme.$spacings, "lg");
$alert-gap: map.get(theme.$spacings, "md");

/// Skins
$alert-skins: (
  "info": "blue",
  "success": "green",
  "warning": "yellow",
  "error": "red",
);
