@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "./variables" as *;

@include theme.scope($alert-root) {
  @include theme.define-var(
    (
      alert-border-radius: $alert-border-radius,
    )
  );

  position: relative;
  display: flex;
  flex-direction: row;
  gap: $alert-slot-gap;
  padding: $alert-inner-spacing-y $alert-inner-spacing-x;
  background-color: var(--alert-background);
  border-radius: var(--alert-border-radius);

  &__title {
    font-weight: $alert-title-font-weight;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $alert-gap;
  }

  &__title,
  &__left,
  &__right {
    color: var(--alert-title-color);
  }

  &__body {
    font-size: $alert-body-font-size;
  }

  @each $key, $value in $alert-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          alert-background: theme.get-color($value, "100"),
          alert-title-color: theme.get-color($value, "900"),
        )
      );
    }
  }
}
