@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "./variables" as *;

@include theme.scope($alert-root) {
  --alert-border-radius: #{$alert-border-radius};

  background-color: var(--alert-background);
  display: flex;
  flex-direction: row;
  position: relative;
  padding: $alert-inner-spacing-y $alert-inner-spacing-x;
  border-radius: var(--alert-border-radius);
  gap: $alert-slot-gap;

  &__title {
    font-weight: $alert-title-font-weight;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $alert-gap;
    flex-grow: 1;
  }

  &__title,
  &__left,
  &__right {
    color: var(--alert-title-color);
  }

  &__body {
    font-size: $alert-body-font-size;
  }

  @each $key, $value in $alert-skins {
    &--#{$key} {
      --alert-background: #{theme.get-color($value, "100")};
      --alert-title-color: #{theme.get-color($value, "900")};
    }
  }
}
