@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.72222;
	color: #34495e;
	background-color: #ffffff;
}

header,
.header {
	display: block;
	width: 100%;
	background: #34353A;
	z-index: 9;
	overflow: hidden;
}

/* INTRO HOME */
.intro {
	display: block;
	width: 100%;
	max-height: 600px;
}

.intro img {
	width: 100%;
}

.functions {
	overflow: hidden;
	width: 100%;
	min-height: 300px;
	padding: 30px 0px;
	display: block;
	background: #bd5147;
}

.intro-info {
	position: absolute;
	width: 100%;
	display: block;
	top: 100px;
	z-index: 9999;
	text-align: center;
	color: #fff;
	font-weight: 100;
}

.intro-info h1 {
	text-transform: uppercase;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.38);
	font-size: 50px;
}

.intro-info span {
	font-size: 18px;
	color: #bf4240;
}

.intro-info p {
	font-size: 17px;
	color: #777;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.38);
}

.intro-info button {
	background:#fff;
	text-transform: uppercase;
	color:#34353A;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	border:none;
	position:relative;
	font-size:1.6em;
	padding:10px 20px;
	cursor:pdownloadnter;
	transition:800ms ease all;
	cursor: pointer;
}

.intro-info button:hover {
	background:transparent;
	color:#bd5147;
}

.intro-info button:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #bd5147;
	transition:600ms ease all;
}

.intro-info button:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}

.intro-info button:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
}

.content-icons {
	width: 100px;
	padding: 30px 0px;
	display: block;
	margin: auto;
	border-radius: 500px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 40px;
	margin-top: 10px;
}

.content-text {
	margin-top: 10px;
	text-align: center;
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.content-text h4 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #fff;
}

.content-text p {
	font-size: 15px;
	line-height: 20px;
	color: #fff;
}

.container {
	overflow: hidden;
	display: block;
	min-height: 300px;
	position: relative;
	overflow: hidden;
}

.description-stewed {
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	margin-bottom: 30px;
}

.description-view {
	width: 100%;
	display: block;
	padding-bottom: 50px;
}

.description-view img {
	display: block;
	margin: auto;
}

.footer {
	width: 100%;
	display: block;
	height: 100px;
	line-height: 100px;
	background: #373737;
	position: relative;
	bottom: -100px;
}

.footer p {
	color: #fff;
	text-align: center;
}


























p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 15px;
}

strong {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h4 {
	font-family: 'Lato', sans-serif;
}




.backTop a i {
	text-align: right;
}

.round i {
	font-size: 130px;
}
.round span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	position: relative;
	top: 20px;
	text-shadow: 1px 1px 1px #333;
}


.title {
	display: block;
	width: 200px;
	float: left;
	letter-spacing: 1px;
	padding: 5px 0px;
}

.title img {
	width: 100%;
}

.i-name {
	width: 100%;
	height: 20px;
	display: block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin-bottom: 15px;
}

[class*="i-code"] {
	display: none!important;
}

#icons {
	width: 100%;
	background: #fff;
	color: #373737!important;
}

#icons i {
	width: 100%;
	display: block;
	padding: 5px 0px;
	text-align: center;
	font-size: 22px;
}

#icons .large-16 {
	cursor: pdownloadnter;
}

#icons .large-16:hover i {
	color: #878582!important;
}

#icons .large-16:hover .i-name {
	color: #878582!important;
}

#icons h3 {
	display: block;
	width: 100%;
	font-size: 22px;
	padding-top: 20px;
	overflow: hidden;
	margin-top: 20px;
	border-bottom: 1px solid #afafaf;
	margin-bottom: 15px;
}

#icons h3:first-child{
	padding-top: 0px;
}





.intro span {
	display: block;	
	width: 100%;
	position: relative;
	font-size: 60px;
	color: #bd5147;
}
.intro p {
	font-size: 26px;
	color: #B1ADAD;
	padding-bottom: 20px;
}
.large {
	width: 100%;
}
section {
	margin-bottom: 20px;
}
.header-line {
	color: #3e3e3e;
	font-size: 2.3em;
	padding: 10px 0px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 20px;
}

.space-30 {
	display: block;
	margin-top: 30px;
}
.column {
	background-image: linear-gradient(to bottom left, #d4d4d4, #b2b1b1);
	padding: 15px 0px;
	text-align: center;
	margin-bottom: 5px;
	color: #fff;
	font-family: sans-serif;
	text-shadow: 1px 1px 1px #000;

}
.small {
	width: 25%;
}
.medium {
	width: 50%;
}
.large {
	width: 100%;
}
.nav-fixed {
	display: block;
	width: 235px;
	float: right;
	margin-top: 13px;
	padding-left: 40px;
	position: relative;
	top: 50px;
	right: 50px;
}
.nav-fixed .navigation ul.menu.vertical .backTop {
	border-top: 1px solid #dfdfdf;
	margin-top: 30px;
}

.nav-fixed .navigation ul li ul li a{
	color:#888!important;
	font-size: 13px;
	margin-left: 20px;
	display: block;
	border-bottom: 0px!important;
	padding:0px 2px!important;
}

.linkdisabled {
	opacity: 0.4;
	cursor: default;
}


@media only screen and (min-width: 0px) and (max-width: 1110px) {
	.nav-fixed {
		display: none;
	}
	.article {
		background: #666;
		padding-bottom: 30px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
	.title {
		display: block;
		width: 200px;
		float: none;
		letter-spacing: 1px;
		padding: 5px 0px;
		margin: auto;
		display: block;
	}
}






