@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@keyframes scaleFade {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include theme.scope($dialog-root) {
  @include theme.define-var(
    (
      opacity: 0,
      background: theme.get-color("background-elevated"),
    )
  );

  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;

  &__surface {
    position: relative;
    width: theme.get-var(width);
    max-width: 100%;
    margin: auto;
    background-color: theme.get-var(background);
    border-radius: theme.get-var(radius);
    box-shadow: theme.get-var(shadow);

    @media screen and (prefers-reduced-motion: no-preference) {
      animation: theme.get-transition-duration("quickly")
        theme.get-transition-timing-function("ease-in") 0s 1 normal none running scaleFade;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__content {
      flex: 1;
    }
  }

  &__header,
  &__body,
  &__footer {
    padding: theme.get-spacing("xl");
  }

  &--open {
    @include theme.define-var(
      (
        opacity: 1,
      )
    );
  }

  &--sm {
    @include theme.define-var(
      (
        width: 380px,
      )
    );
  }

  &--md {
    @include theme.define-var(
      (
        width: 760px,
      )
    );
  }

  &--lg {
    @include theme.define-var(
      (
        width: 1024px,
      )
    );
  }

  &--xl {
    @include theme.define-var(
      (
        width: 1440px,
      )
    );
  }
}
