$checkbox-width: map-get($space, x-hg) !default;
$checkbox-height: map-get($space, x-hg) !default;
$checkbox-color-default: $color-base !default;
$checkbox-color-active: $color-primary !default;
$checkbox-border-width: 2px !default;
