$palette-colors: (
  "aqua": #36f7ce,
  "blue": #3490dc,
  "cyan": #0193a3,
  "green": #38c172,
  "gray": #bdbdbd,
  "orange": #f6993f,
  "pink": #df1070,
  "purple": #800080,
  "red": #e3342f,
  "salmon": #f86755,
  "teal": #4dc0b5,
  "violet": #6f1efb,
  "yellow": #fdbc59,
  "warning": #f5c85c,
  "error": #f26175,
  "info": #82a2ff,
  "success": #69dd95
) !default;

$tones-light: (
  10: 90%,
  20: 60%,
  30: 30%
) !default;

$tones-dark: (
  60: 30%
  70: 60%,
  80: 90%,
) !default;

$palette-tones: (
  lightest: 10,
  lighter: 20,
  light: 30,
  base: 50,
  dark: 60,
  darker: 70,
  darkest: 80
) !default;
