$theme-color-aqua: (
  "base": #36f7ce,
  "lighten": #36f7ce,
  "darken": #36f7ce
);

$theme-color-blue: (
  "base": #3490dc,
  "lighten": #6cb2eb,
  "darken": #2779bd
);

$theme-color-cyan: (
  "base": #0193a3,
  "lighten": #0193a3,
  "darken": #0193a3
);

$theme-color-green: (
  "base": #38c172,
  "lighten": #51d88a,
  "darken": #1f9d55
);

$theme-color-gray: (
  "base": #bdbdbd,
  "lighten": #f2f2f2,
  "darken": #212121
);

$theme-color-orange: (
  "base": #f6993f,
  "lighten": #faad63,
  "darken": #de751f
);

$theme-color-pink: (
  "base": #df1070,
  "lighten": #df1070,
  "darken": #df1070,
);

$theme-color-purple: (
  "base": #800080,
  "lighten": #800080,
  "darken": #800080
);

$theme-color-red: (
  "base": #e3342f,
  "lighten": #f9acaa,
  "darken": #cc1f1a
);

$theme-color-salmon: (
  "base": #f86755,
  "lighten": #f86755,
  "darken": #f86755
);

$theme-color-violet: (
  "base": #6f1efb,
  "lighten": #6f1efb,
  "darken": #6f1efb
);

$theme-color-yellow: (
  "base": #fdbc59,
  "lighten": #fdbc59,
  "darken": #fdbc59
);

$theme-color-teal: (
  "base": #4dc0b5,
  "lighten": #64d5ca,
  "darken": #38a89d
);

$theme-color-white: #fff;
$theme-color-black: #000;

$theme-colors: (
  "aqua": $theme-color-aqua,
  "blue": $theme-color-blue,
  "cyan": $theme-color-cyan,
  "green": $theme-color-green,
  "gray": $theme-color-gray,
  "orange": $theme-color-orange,
  "pink": $theme-color-pink,
  "purple": $theme-color-purple,
  "red": $theme-color-red,
  "salmon": $theme-color-salmon,
  "teal": $theme-color-teal,
  "violet": $theme-color-violet,
  "yellow": $theme-color-yellow,
) !default;
