$palette-colors: (
  "primary": #5c8df6,
  "accent": #f3628d,
  "grayscale": #454b57,
  "warning": #f5c85c,
  "danger": #f26175,
  "info": #82a2ff,
  "success": #69dd95
) !default;

$tones-light: (
  10: 80%,
  30: 30%
) !default;

$tones-dark: (
  60: 10%,
  80: 50%,
) !default;

$palette-tones: (
  lighter: 10,
  light: 30,
  base: 50,
  dark: 60,
  darker: 80,
) !default;
