/**
* Calculates the rem.
* @param {Size}  $size
* @param {Size}  $theme-font-size
* @return {Size}
*/
@function calculate-rem($size, $font-size: $theme-font-size) {
  $remSize: $size / $font-size;

  @return #{$remSize}rem;
}

/* Slightly lighten a color
* @param {Color} $color - color to tint
* @param {Number} $percentage - percentage of `$color` in returned color
* @return {Color}
*/
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/* Slightly darken a color
* @param {Color} $color - color to shade
* @param {Number} $percentage - percentage of `$color` in returned color
* @return {Color}
*/
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/**
* Gets the color.
* @param {Color}  $color
* @param {String}  $tone
* @return {Color}  $color
*/
@function build-color($color, $tone: "base") {
  @if not map-has-key($palette-colors, $color) {
    @error "Invalid color specified! #{$color} doesn't exist. Choose one of #{map-keys($palette-colors)}";
  }

  @if not map-has-key($palette-tones, $tone) {
    @error "Invalid tone specified! #{$tone} doesn't exist. Choose one of #{map-keys($palette-tones)}";
  }

  $color-value: map-get($palette-colors, $color);
  $tone-value: map-get($palette-tones, $tone);

  @if ($tone-value < 50) {
    $percent: map-get($tones-light, $tone-value);

    @return tint($color-value, $percent);
  } @else if ($tone-value > 50) {
    $percent: map-get($tones-dark, $tone-value);

    @return shade($color-value, $percent);
  } @else {
    @return $color-value;
  }
}

/**
* Gets the color.
* @param {Color}  $color
* @param {String}  $tone
* @return {Color}  $color
*/
@function get-color($color, $tone: "base") {
  @if not map-has-key($palette-colors, $color) {
    @error "Invalid color specified! #{$color} doesn't exist. Choose one of #{map-keys($palette-colors)}";
  }

  @if not map-has-key($palette-tones, $tone) {
    @error "Invalid tone specified! #{$tone} doesn't exist. Choose one of #{map-keys($palette-tones)}";
  }

  @return var(--color-#{$color}-#{$tone});
}
