@mixin typography (
  $font-size: $theme-font-size,
  $font-weight: $theme-font-weight,
  $font: $theme-font-family-serif
) {
  font: {
    family: $font;
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin mobile($value: map-get($breakpoints, small)) {
  @media (min-width: $value) {
    @content;
  }
}

@mixin tablet($value: map-get($breakpoints, medium)) {
  @media (min-width: $value) {
    @content;
  }
}

@mixin desktop($value: map-get($breakpoints, large)) {
  @media (min-width: $value) {
    @content;
  }
}
