@mixin typography (
  $font-size: $global-font-size,
  $font-weight: $global-font-weight,
  $font: $global-font-family-serif
) {
  font: {
    family: $font;
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin mobile($max-w: $mobile) {
  @media (max-width: $max-w) {
    @content;
  }
}

@mixin tablet($max-w: $tablet) {
  @media (max-width: $max-w) {
    @content;
  }
}

@mixin desktop($max-w: $desktop) {
  @media (min-width: $max-w) {
    @content;
  }
}
