@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($container-root) {
  display: block;
  width: 100%;
  max-width: theme.get-var(max-width);

  @include theme.define-var(
    (
      max-width: "auto",
    )
  );

  &--center {
    margin: 0 auto;
  }

  // Max width
  @each $key, $value in $container-screens {
    &--screen-#{$key} {
      @include theme.define-var(
        (
          max-width: #{$value},
        )
      );
    }
  }

  // Padding
  @each $key, $value in $container-padding {
    &--padding-block-#{$key} {
      padding-block: #{$value};
    }
  }

  @each $key, $value in $container-padding {
    &--padding-inline-#{$key} {
      padding-inline: #{$value};
    }
  }
}
