/*
 * Stewed Framework
 * http://github.com/Stewed/stewed.css
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
*/
.btn {
  background: none;
  border: 0;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  display: block;
  float: left;
  font-family: "Raleway", sans-serif;
  height: 36px;
  letter-spacing: .4px;
  line-height: 36px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 0;
}

.btn[disabled] {
  opacity: .7;
  pointer-events: none;
}

.btn--large {
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  line-height: 46px;
  padding: 0 52px;
}

.btn--medium {
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 0 32px;
}

.btn--small {
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
}

.btn--icon {
  border-radius: 50%;
  float: right;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  width: 36px;
}

.btn--icon .icon {
  pointer-events: none;
}

.btn--danger {
  background-color: #e3342f;
  color: #fff;
  overflow: hidden;
  transition: border-color .3s, color .3s;
}

.btn--danger::before {
  background-color: #f86755;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate3d(0, 0, 1, -90deg);
  transform-origin: left bottom;
  transition: transform .3s, background-color .3s;
  width: 150%;
  will-change: transform;
  z-index: -1;
}

.btn--danger:focus {
  outline: none;
}

.btn--danger:hover {
  color: #fff;
}

.btn--danger:hover::before {
  background-color: #f86755;
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn--success {
  background-color: #38c172;
  color: #fff;
  overflow: hidden;
  transition: border-color .3s, color .3s;
}

.btn--success::before {
  background-color: #1f9d55;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate3d(0, 0, 1, -90deg);
  transform-origin: left bottom;
  transition: transform .3s, background-color .3s;
  width: 150%;
  will-change: transform;
  z-index: -1;
}

.btn--success:focus {
  outline: none;
}

.btn--success:hover {
  color: #fff;
}

.btn--success:hover::before {
  background-color: #1f9d55;
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn--info {
  background-color: #3490dc;
  color: #fff;
  overflow: hidden;
  transition: border-color .3s, color .3s;
}

.btn--info::before {
  background-color: #2779bd;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate3d(0, 0, 1, -90deg);
  transform-origin: left bottom;
  transition: transform .3s, background-color .3s;
  width: 150%;
  will-change: transform;
  z-index: -1;
}

.btn--info:focus {
  outline: none;
}

.btn--info:hover {
  color: #fff;
}

.btn--info:hover::before {
  background-color: #2779bd;
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn--default {
  background-color: #d1dded;
  color: #fff;
  overflow: hidden;
  transition: border-color .3s, color .3s;
}

.btn--default::before {
  background-color: #d1dded;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate3d(0, 0, 1, -90deg);
  transform-origin: left bottom;
  transition: transform .3s, background-color .3s;
  width: 150%;
  will-change: transform;
  z-index: -1;
}

.btn--default:focus {
  outline: none;
}

.btn--default:hover {
  color: #fff;
}

.btn--default:hover::before {
  background-color: #d1dded;
  opacity: 1;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.card {
  border-radius: 2px;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: left;
  width: 100%;
}

.card--border {
  border-right: 2px solid #000;
}

.card--center {
  align-items: center;
}

.card--small {
  max-width: 400px;
}

.card--medium {
  max-width: 740px;
}

.card--large {
  max-width: 960px;
}

.card__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.card__content {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
}

.bg-red {
  background-color: #e3342f;
}

.text-red {
  color: #e3342f;
}

.bg-red--lighten {
  background-color: #e3342f;
}

.text-red--lighten {
  color: #e3342f;
}

.bg-red--darken {
  background-color: #cc1f1a;
}

.text-red--darken {
  color: #cc1f1a;
}

.bg-pink {
  background-color: #df1070;
}

.text-pink {
  color: #df1070;
}

.bg-pink--lighten {
  background-color: #df1070;
}

.text-pink--lighten {
  color: #df1070;
}

.bg-pink--darken {
  background-color: #df1070;
}

.text-pink--darken {
  color: #df1070;
}

.bg-yellow {
  background-color: #fdbc59;
}

.text-yellow {
  color: #fdbc59;
}

.bg-yellow--lighten {
  background-color: #fdbc59;
}

.text-yellow--lighten {
  color: #fdbc59;
}

.bg-yellow--darken {
  background-color: #fdbc59;
}

.text-yellow--darken {
  color: #fdbc59;
}

.bg-orange {
  background-color: #f6993f;
}

.text-orange {
  color: #f6993f;
}

.bg-orange--lighten {
  background-color: #faad63;
}

.text-orange--lighten {
  color: #faad63;
}

.bg-orange--darken {
  background-color: #de751f;
}

.text-orange--darken {
  color: #de751f;
}

.bg-salmon {
  background-color: #f86755;
}

.text-salmon {
  color: #f86755;
}

.bg-salmon--lighten {
  background-color: #f86755;
}

.text-salmon--lighten {
  color: #f86755;
}

.bg-salmon--darken {
  background-color: #f86755;
}

.text-salmon--darken {
  color: #f86755;
}

.bg-violet {
  background-color: #6f1efb;
}

.text-violet {
  color: #6f1efb;
}

.bg-violet--lighten {
  background-color: #6f1efb;
}

.text-violet--lighten {
  color: #6f1efb;
}

.bg-violet--darken {
  background-color: #6f1efb;
}

.text-violet--darken {
  color: #6f1efb;
}

.bg-cyan {
  background-color: #0193a3;
}

.text-cyan {
  color: #0193a3;
}

.bg-cyan--lighten {
  background-color: #0193a3;
}

.text-cyan--lighten {
  color: #0193a3;
}

.bg-cyan--darken {
  background-color: #0193a3;
}

.text-cyan--darken {
  color: #0193a3;
}

.bg-aqua {
  background-color: #36f7ce;
}

.text-aqua {
  color: #36f7ce;
}

.bg-aqua--lighten {
  background-color: #36f7ce;
}

.text-aqua--lighten {
  color: #36f7ce;
}

.bg-aqua--darken {
  background-color: #36f7ce;
}

.text-aqua--darken {
  color: #36f7ce;
}

.bg-green {
  background-color: #38c172;
}

.text-green {
  color: #38c172;
}

.bg-green--lighten {
  background-color: #51d88a;
}

.text-green--lighten {
  color: #51d88a;
}

.bg-green--darken {
  background-color: #1f9d55;
}

.text-green--darken {
  color: #1f9d55;
}

.bg-blue {
  background-color: #3490dc;
}

.text-blue {
  color: #3490dc;
}

.bg-blue--lighten {
  background-color: #6cb2eb;
}

.text-blue--lighten {
  color: #6cb2eb;
}

.bg-blue--darken {
  background-color: #2779bd;
}

.text-blue--darken {
  color: #2779bd;
}

.bg-grey {
  background-color: #d1dded;
}

.text-grey {
  color: #d1dded;
}

.bg-grey--lighten {
  background-color: #d1dded;
}

.text-grey--lighten {
  color: #d1dded;
}

.bg-grey--darken {
  background-color: #424242;
}

.text-grey--darken {
  color: #424242;
}

input {
  border: 1px solid #000;
  box-sizing: border-box;
  height: 44px;
  padding: 0 14px;
  width: 100%;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
}

label {
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: transform .3s ease;
}

.form__fieldset {
  align-items: left;
  border: 0;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.form__fieldset svg {
  height: 44px;
  position: absolute;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__fieldset--column {
  flex-direction: column;
}

.form__fieldset--hidde {
  display: none;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-small, .col-medium, .col-large, .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-small-5, .col-small-6, .col-small-7, .col-small-8, .col-small-9, .col-small-10, .col-small-11, .col-small-12, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-medium-7, .col-medium-8, .col-medium-9, .col-medium-10, .col-medium-11, .col-medium-12, .col-large-1, .col-large-2, .col-large-3, .col-large-4, .col-large-5, .col-large-6, .col-large-7, .col-large-8, .col-large-9, .col-large-10, .col-large-11, .col-large-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-small, .col-medium, .col-large {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/**
 * Generate a set of grid column classes using a namespace
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
@media only screen and (min-width: 280px) {
  .col-small-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-small-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-small-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-small-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-small-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-small-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-small-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-small-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-small-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-small-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-small-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-small-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .off-small-1 {
    margin-left: 8.33333%;
  }
  .off-small-2 {
    margin-left: 16.66667%;
  }
  .off-small-3 {
    margin-left: 25%;
  }
  .off-small-4 {
    margin-left: 33.33333%;
  }
  .off-small-5 {
    margin-left: 41.66667%;
  }
  .off-small-6 {
    margin-left: 50%;
  }
  .off-small-7 {
    margin-left: 58.33333%;
  }
  .off-small-8 {
    margin-left: 66.66667%;
  }
  .off-small-9 {
    margin-left: 75%;
  }
  .off-small-10 {
    margin-left: 83.33333%;
  }
  .off-small-11 {
    margin-left: 91.66667%;
  }
  .off-small-reset {
    margin-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .col-medium-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-medium-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-medium-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-medium-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-medium-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-medium-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-medium-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-medium-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-medium-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-medium-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-medium-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-medium-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .off-medium-1 {
    margin-left: 8.33333%;
  }
  .off-medium-2 {
    margin-left: 16.66667%;
  }
  .off-medium-3 {
    margin-left: 25%;
  }
  .off-medium-4 {
    margin-left: 33.33333%;
  }
  .off-medium-5 {
    margin-left: 41.66667%;
  }
  .off-medium-6 {
    margin-left: 50%;
  }
  .off-medium-7 {
    margin-left: 58.33333%;
  }
  .off-medium-8 {
    margin-left: 66.66667%;
  }
  .off-medium-9 {
    margin-left: 75%;
  }
  .off-medium-10 {
    margin-left: 83.33333%;
  }
  .off-medium-11 {
    margin-left: 91.66667%;
  }
  .off-medium-reset {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .col-large-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-large-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-large-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-large-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-large-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-large-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-large-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-large-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-large-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-large-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-large-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-large-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .off-large-1 {
    margin-left: 8.33333%;
  }
  .off-large-2 {
    margin-left: 16.66667%;
  }
  .off-large-3 {
    margin-left: 25%;
  }
  .off-large-4 {
    margin-left: 33.33333%;
  }
  .off-large-5 {
    margin-left: 41.66667%;
  }
  .off-large-6 {
    margin-left: 50%;
  }
  .off-large-7 {
    margin-left: 58.33333%;
  }
  .off-large-8 {
    margin-left: 66.66667%;
  }
  .off-large-9 {
    margin-left: 75%;
  }
  .off-large-10 {
    margin-left: 83.33333%;
  }
  .off-large-11 {
    margin-left: 91.66667%;
  }
  .off-large-reset {
    margin-left: 0;
  }
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu__item {
  padding: 20px 0;
}

.menu__link {
  display: block;
  padding: 4px 14px;
  position: relative;
  text-decoration: none;
  transition: color .2s linear;
}

.menu--vertical li {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.menu--vertical li ul {
  display: none;
  z-index: 11;
  position: absolute;
  min-width: 10em;
  top: 0;
}

.menu--vertical li .navigation__vertical__submenu--right {
  border-radius: 0 2px 2px;
  left: 100%;
}

.menu--vertical li .navigation__vertical__submenu--left {
  right: 100%;
  border-radius: 2px 0 2px;
}

.menu--vertical li:hover ul {
  display: block;
}

.menu--horizontal {
  display: inline;
}

.menu--horizontal li {
  display: inline-block;
}

.menu--horizontal li ul {
  display: none;
}

.menu--horizontal li .navigation__horizontal__submenu {
  left: 0;
  position: absolute;
  min-width: 100%;
  top: auto;
  border-radius: 0 0 2px;
  z-index: 11;
}

.menu--horizontal li .navigation__horizontal__submenu li {
  width: 100%;
}

.menu--horizontal li:hover ul {
  display: block;
}

.menu--scroll {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  display: block;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.menu--scroll::-webkit-scrollbar {
  display: none;
}

.menu--scroll li {
  display: inline-block;
}

.navigation {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
  -webkit-tap-highlight-color: transparent;
}

.navigation ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  display: block;
  padding: 14px 12px;
  line-height: 20px;
  text-decoration: none;
  color: currentColor;
}

.navigation ul li a.active, .navigation ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: currentColor;
}

.navigation ul li a.disabled, .navigation ul li a[disabled], .navigation ul li a[disabled]:hover, .navigation ul li a.disabled:hover {
  color: #bdbdbd;
  background: transparent;
  background-color: transparent;
  cursor: default;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navigation ul li a {
    padding: 1.000em 0.875em;
    line-height: 22px;
  }
}

.navigation ul.navigation__vertical li {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.navigation ul.navigation__vertical li ul {
  display: none;
  z-index: 11;
  position: absolute;
  min-width: 10em;
  top: 0;
}

.navigation ul.navigation__vertical li .navigation__vertical__submenu--right {
  border-radius: 0 2px 2px;
  left: 100%;
}

.navigation ul.navigation__vertical li .navigation__vertical__submenu--left {
  right: 100%;
  border-radius: 2px 0 2px;
}

.navigation ul.navigation__vertical li:hover ul {
  display: block;
}

.navigation ul.navigation__horizontal {
  display: inline;
}

.navigation ul.navigation__horizontal li {
  display: inline-block;
}

.navigation ul.navigation__horizontal li ul {
  display: none;
}

.navigation ul.navigation__horizontal li .navigation__horizontal__submenu {
  left: 0;
  position: absolute;
  min-width: 100%;
  top: auto;
  border-radius: 0 0 2px;
  z-index: 11;
}

.navigation ul.navigation__horizontal li .navigation__horizontal__submenu li {
  width: 100%;
}

.navigation ul.navigation__horizontal li:hover ul {
  display: block;
}

.navigation ul.navigation__horizontal--scroll {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  display: block;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.navigation ul.navigation__horizontal--scroll::-webkit-scrollbar {
  display: none;
}

.navigation ul.navigation__horizontal--scroll li {
  display: inline-block;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .navigation .navigation__horizontal {
    display: inline;
  }
  .navigation .navigation__horizontal li {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .navigation .navigation__horizontal li .navigation__horizontal__submenu {
    position: relative !important;
  }
  .navigation .navigation__vertical li ul {
    position: relative !important;
  }
  .navigation .navigation__vertical li .navigation__vertical__submenu--right {
    left: 0 !important;
  }
  .navigation .navigation__vertical li .navigation__vertical__submenu--left {
    right: 0 !important;
  }
}

.navbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 10px;
}

.navbar__brand {
  float: left;
}

.navbar__brand, .navbar__brand * {
  line-height: 50px;
  font-size: 25px;
  font-weight: 700;
}

/** Visibility  */
.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.visibility-collapse {
  visibility: collapse;
}

/** Align Float */
.float-none {
  float: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-center {
  float: none;
  margin: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .float-none--tablet {
    float: none;
  }
  .float-right--tablet {
    float: right;
  }
  .float-left--tablet {
    float: left;
  }
  .float-center--tablet {
    float: none !important;
    margin: auto !important;
    display: table !important;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .float-none--mobile {
    float: none;
  }
  .float-right--mobile {
    float: right;
  }
  .float-left--mobile {
    float: left;
  }
  .float-center--mobile {
    float: none !important;
    margin: auto !important;
    display: table !important;
  }
}

/** Display **/
.display-grid {
  display: grid;
}

.display-flex {
  display: flex;
}

.display-table {
  display: table;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-inlineblock {
  display: inline-block;
}

/** Position **/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

[class*="items-"],
[class*="content-"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
}

/** Align Items Center **/
.items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/** Align Items Start **/
.items-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

/** Align Items End **/
.items-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

/** Align Items Stretch **/
.items-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/** Align Items Baseline **/
.items-baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/** Justify Content Center **/
.content-center {
  -webkit-justify-content: center;
  justify-content: center;
}

/** Justify Content Start **/
.content-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

/** Justify Content Flex-End **/
.content-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/** Justify Content Between **/
.content-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/** Flex Direction Row **/
.flex-row {
  flex-direction: row !important;
  -webkit-flex-direction: row !important;
}

/** Flex Direction Column **/
.flex-column {
  flex-direction: column !important;
  -webkit-flex-direction: column !important;
}

/** Flex Direction Row Reverse **/
.flex-rowreverse {
  flex-direction: row-reverse !important;
  -webkit-flex-direction: row-reverse !important;
}

/** Flex Direction Column Reverse **/
.flex-columnreverse {
  flex-direction: column-reverse !important;
  -webkit-flex-direction: column-reverse !important;
}

/**
 * Margin {0px to 90px}
 * Padding {0px to 90px}
 */
.margin-0 {
  margin-top: 0;
}

.padding-0 {
  padding-top: 0;
}

.margin-10 {
  margin: 10px;
}

.padding-10 {
  padding: 10px;
}

.margin-20 {
  margin: 20px;
}

.padding-20 {
  padding: 20px;
}

.margin-30 {
  margin: 30px;
}

.padding-30 {
  padding: 30px;
}

.margin-40 {
  margin: 40px;
}

.padding-40 {
  padding: 40px;
}

.margin-50 {
  margin: 50px;
}

.padding-50 {
  padding: 50px;
}

.margin-60 {
  margin: 60px;
}

.padding-60 {
  padding: 60px;
}

.margin-70 {
  margin: 70px;
}

.padding-70 {
  padding: 70px;
}

.margin-80 {
  margin: 80px;
}

.padding-80 {
  padding: 80px;
}

.margin-90 {
  margin: 90px;
}

.padding-90 {
  padding: 90px;
}

/**
 * Top {0px to 90px}
 * Margin-Top {0px to 90px}
 * Padding-Top {0px to 90px}
 */
.top-0 {
  top: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.padding-top-0 {
  padding-top: 0;
}

.top-10 {
  top: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.top-20 {
  top: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.top-30 {
  top: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.top-40 {
  top: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.padding-top-40 {
  padding-top: 40px;
}

.top-50 {
  top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.top-60 {
  top: 60px;
}

.margin-top-60 {
  margin-top: 60px;
}

.padding-top-60 {
  padding-top: 60px;
}

.top-70 {
  top: 70px;
}

.margin-top-70 {
  margin-top: 70px;
}

.padding-top-70 {
  padding-top: 70px;
}

.top-80 {
  top: 80px;
}

.margin-top-80 {
  margin-top: 80px;
}

.padding-top-80 {
  padding-top: 80px;
}

.top-90 {
  top: 90px;
}

.margin-top-90 {
  margin-top: 90px;
}

.padding-top-90 {
  padding-top: 90px;
}

/**
 * Right {0px to 90px}
 * Margin-Right {0px to 90px}
 * Padding-Right {0px to 90px}
 */
.right-0 {
  right: 0;
}

.margin-right-0 {
  margin-right: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.right-10 {
  right: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.right-20 {
  right: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.right-30 {
  right: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.right-40 {
  right: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.right-50 {
  right: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.right-60 {
  right: 60px;
}

.margin-right-60 {
  margin-right: 60px;
}

.padding-right-60 {
  padding-right: 60px;
}

.right-70 {
  right: 70px;
}

.margin-right-70 {
  margin-right: 70px;
}

.padding-right-70 {
  padding-right: 70px;
}

.right-80 {
  right: 80px;
}

.margin-right-80 {
  margin-right: 80px;
}

.padding-right-80 {
  padding-right: 80px;
}

.right-90 {
  right: 90px;
}

.margin-right-90 {
  margin-right: 90px;
}

.padding-right-90 {
  padding-right: 90px;
}

/**
 * Bottom {0px to 90px}
 * Margin-Bottom {0px to 90px}
 * Padding-Bottom {0px to 90px}
 */
.bottom-0 {
  bottom: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.bottom-10 {
  bottom: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.bottom-20 {
  bottom: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.bottom-30 {
  bottom: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.bottom-40 {
  bottom: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.bottom-50 {
  bottom: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.bottom-60 {
  bottom: 60px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.bottom-70 {
  bottom: 70px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.bottom-80 {
  bottom: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.bottom-90 {
  bottom: 90px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.padding-bottom-90 {
  padding-bottom: 90px;
}

/**
 * Left {0px to 90px}
 * Margin-Left {0px to 90px}
 * Padding-Left {0px to 90px}
 */
.left-0 {
  left: 0;
}

.margin-left-0 {
  margin-left: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.left-10 {
  left: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.left-20 {
  left: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.left-30 {
  left: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.left-40 {
  left: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.padding-left-40 {
  padding-left: 40px;
}

.left-50 {
  left: 50px;
}

.margin-left-50 {
  margin-left: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

.left-60 {
  left: 60px;
}

.margin-left-60 {
  margin-left: 60px;
}

.padding-left-60 {
  padding-left: 60px;
}

.left-70 {
  left: 70px;
}

.margin-left-70 {
  margin-left: 70px;
}

.padding-left-70 {
  padding-left: 70px;
}

.left-80 {
  left: 80px;
}

.margin-left-80 {
  margin-left: 80px;
}

.padding-left-80 {
  padding-left: 80px;
}

.left-90 {
  left: 90px;
}

.margin-left-90 {
  margin-left: 90px;
}

.padding-left-90 {
  padding-left: 90px;
}

/** Avatar **/
[class*="avatar-"] {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-16 {
  height: 16px;
  width: 16px;
}

.avatar-24 {
  height: 24px;
  width: 24px;
}

.avatar-32 {
  height: 32px;
  width: 32px;
}

.avatar-40 {
  height: 40px;
  width: 40px;
}

.avatar-48 {
  height: 48px;
  width: 48px;
}

.avatar-56 {
  height: 56px;
  width: 56px;
}

.avatar-64 {
  height: 64px;
  width: 64px;
}

.avatar-72 {
  height: 72px;
  width: 72px;
}

.avatar-80 {
  height: 80px;
  width: 80px;
}

.avatar-88 {
  height: 88px;
  width: 88px;
}

.avatar-96 {
  height: 96px;
  width: 96px;
}

.avatar-104 {
  height: 104px;
  width: 104px;
}

.avatar-112 {
  height: 112px;
  width: 112px;
}

.avatar-120 {
  height: 120px;
  width: 120px;
}

.avatar-128 {
  height: 128px;
  width: 128px;
}

.avatar-136 {
  height: 136px;
  width: 136px;
}

.avatar-144 {
  height: 144px;
  width: 144px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
  margin: 18px 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.4;
  color: #000;
  margin: 18px 0;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  margin: 18px 0;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  margin: 18px 0;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  margin: 18px 0;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  margin: 18px 0;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

span {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

a {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #e3342f;
}

a:hover {
  color: #df1070;
  text-decoration: none;
}
