.badge {
  --badge-bg: var(--color-grayscale-lighter);

  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 0 map-get($space, x-sm);
  transform: translate(50%, -50%);
  border-radius: map-get($radius, xl);
  background-color: var(--badge-bg);
  color: #fff;
  font-size: map-get($typography-font-size, x-sm);
  font-weight: map-get($typography-font-weight, base);
  white-space: nowrap;
  z-index: 2;

  &:empty {
    min-width: map-get($space, sm);
    height: map-get($space, sm);
    padding: 0;
  }

  @each $key in $badge-keys {
    &--#{$key} {
      --badge-bg: #{get-color(#{$key})};
    }
  }
}
