#{$toggle-group-root} {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $theme-container-width;
  margin: $toggle-group-spacing * -1;
  overflow: hidden;

  &__scroll {
    display: flex;
    flex: 1;
    padding: $toggle-group-spacing;
  }

  &__content {
    display: inline-flex;

    + #{$toggle-group-root}__content {
      visibility: hidden;
    }

    #{$toggle-root} {
      --button-border-radius: 0;

      white-space: nowrap;

      &:focus {
        z-index: 1;
      }

      &.is-selected {
        opacity: .5;
        pointer-events: none;
      }
    }

    &:not(.is-vertical) {
      :first-child {
        --button-border-radius: #{$button-border-radius} 0 0 #{$button-border-radius};
      }

      :last-child {
        --button-border-radius: 0 #{$button-border-radius} #{$button-border-radius} 0;
      }
    }

    &.is-vertical {
      flex-direction: column;

      :first-child {
        --button-border-radius: #{$button-border-radius} #{$button-border-radius} 0 0;
      }

      :last-child {
        --button-border-radius: 0 0 #{$button-border-radius} #{$button-border-radius};
      }
    }
  }
}
