@use "@stewed/react/src/theme/src/styles" as theme;

$select-root: "select";

// Skins
$select-skins: (
  "neutral": (
    "color": theme.get-color("neutral", "foreground"),
    "border": theme.get-color("neutral", "border-faded"),
    "background-color": theme.get-color("neutral", "background")
  ),
  "success": (
    "color": theme.get-color("success", "foreground"),
    "border": theme.get-color("success", "border"),
    "background-color": theme.get-color("success", "background")
  ),
  "critical": (
    "color": theme.get-color("critical", "foreground"),
    "border": theme.get-color("critical", "border"),
    "background-color": theme.get-color("critical", "background")
  )
);

/// Sizes
$select-sizes: (
  "sm": 32px,
  "md": 40px,
  "lg": 48px,
  "xl": 56px
);
