@use "@stewed/react/src/theme/src/styles" as theme;

$select-root: "select";

// Skins
$select-skins: (
  "neutral-faded": (
    "border": theme.get-color("neutral", "border-faded"),
    "background-color": theme.get-color("neutral", "background-faded"),
    "background-color-faded": theme.get-color("neutral", "background-faded"),
  ),
  "neutral": (
    "border": theme.get-color("neutral", "border"),
    "background-color": theme.get-color("neutral", "background"),
    "background-color-faded": theme.get-color("neutral", "background-faded"),
  ),
  "success": (
    "border": theme.get-color("success", "border"),
    "background-color": theme.get-color("success", "background"),
    "background-color-faded": theme.get-color("success", "background-faded"),
  ),
  "critical": (
    "border": theme.get-color("critical", "border"),
    "background-color": theme.get-color("critical", "background"),
    "background-color-faded": theme.get-color("critical", "background-faded"),
  ),
);

/// Sizes
$select-sizes: (
  "sm": 32px,
  "md": 40px,
  "lg": 48px,
  "xl": 56px,
);
