@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($select-root) {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: theme.get-var(height);
  overflow: hidden;
  border: 1px solid theme.get-var(border-color);
  border-radius: theme.get-var(radius);

  @include text.typography(base, $overrides: (font-size: theme.get-font-size("md")));
  @include theme.focus-styles($target: ":focus-within");

  &--disabled {
    @include theme.disabled-styles;
  }

  &__left,
  &__right {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  &__left {
    padding-inline-start: theme.get-spacing("md");
  }

  &__right {
    padding-inline-end: theme.get-spacing("md");
  }

  &__input {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: theme.get-spacing("md");
    touch-action: manipulation;

    &:-internal-autofill-selected,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-clip: text;
    }
  }

  &__icon {
    position: absolute;
    right: theme.get-spacing("md");
    width: theme.get-font-size("md");
  }

  @each $key, $value in $select-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          border-color: map.get($value, "border"),
        )
      );
    }
  }

  // Sizes
  @each $key, $value in $select-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          height: $value,
        )
      );
    }
  }

  &--full-width {
    width: 100%;
  }
}
