$stw-checkbox-width: $global-baseline * 5;
$stw-checkbox-height: $global-baseline * 5;
$stw-checkbox-color-default: map-get($global-color-grey, "darken");
$stw-checkbox-color-active: map-get($global-color-pink, "base");
