$stw-checkbox-width: $theme-baseline * 5;
$stw-checkbox-height: $theme-baseline * 5;
$stw-checkbox-color-default: map-get($theme-color-grey, "darken");
$stw-checkbox-color-active: map-get($theme-color-pink, "base");
