.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: calc(100% - #{$header-height});
  padding: var(--space-xl);
  transform: none;
  transition: transform .22s ease-in;
  border-right: 1px solid var(--color-grayscale-lighter);
  background-color: #fff;
  overflow-y: auto;
  will-change: transform;
  z-index: 10;

  @include breakpoint {
    transform: translateX($sidebar-width * -1);
  }

  &__title {
    padding: var(--space-sm) var(--space-lg);
    color: var(--color-grayscale-light);
    font-size: var(--typography-x-sm);
    text-transform: uppercase;
  }

  &.is-visible {
    transform: none;
  }

  .menu {
    &__item {
      font-size: var(--typography-sm);

      &.router-link-active {
        color: var(--color-primary-base);
      }
    }
  }
}

