@import "../../utilities/variables";
@import "../../utilities/mixins";

// font
$table-font-family: $global-font-family-monospace;
$table-font-size: $global-font-size;

// spaces
$table-padding-head: 0.70em 1.300em;
$table-padding-body: 0.90em 1.000em;

@import "table";
