@use './variables' as *;

@mixin scope($name: null) {
    #{$name} {
        @content;
    }
}

@mixin reset {
    all: unset;
}

@mixin disabled-styles {
    &:disabled,
    &--disabled {
        pointer-events: none;
        opacity: $disabled;
    }
}
