@use 'sass:map';
@use 'functions' as func;

$config: () !default;

$default-config: (
    extend: (
        colors: (),
        screens: (),
        font-size: (),
        font-weights: (),
        radiuses: (),
        opacities: (),
    ),
    spacings: (
        xs: 2px,
        sm: 6px,
        md: 8px,
        lg: 12px,
        xl: 16px,
        hg: 24px,
    ),
    screens: (
        sm: 768px,
        md: 1024px,
        lg: 1280px,
        xl: 1440px,
    ),
    colors: (
        primary: (
            50: #eef2ff,
            100: #e0e7ff,
            200: #c7d2fe,
            300: #a5b4fc,
            400: #818cf8,
            500: #6366f1,
            600: #4f46e5,
            700: #4338ca,
            800: #3730a3,
            900: #312e81,
        ),
        secondary: (
            50: #fafafa,
            100: #f5f5f5,
            200: #e5e5e5,
            300: #d4d4d4,
            400: #a3a3a3,
            500: #737373,
            600: #525252,
            700: #404040,
            800: #262626,
            900: #171717,
        ),
        gray: (
            50: #fafafa,
            100: #f5f5f5,
            200: #e5e5e5,
            300: #d4d4d4,
            400: #a3a3a3,
            500: #737373,
            600: #525252,
            700: #404040,
            800: #262626,
            900: #171717,
        ),
        blue: (
            50: #eff6ff,
            100: #dbeafe,
            200: #bfdbfe,
            300: #93c5fd,
            400: #60a5fa,
            500: #3b82f6,
            600: #2563eb,
            700: #1d4ed8,
            800: #1e40af,
            900: #1e3a8a,
        ),
        green: (
            50: #f0fdf4,
            100: #dcfce7,
            200: #bbf7d0,
            300: #86efac,
            400: #4ade80,
            500: #22c55e,
            600: #16a34a,
            700: #15803d,
            800: #166534,
            900: #14532d,
        ),
        red: (
            50: #fef2f2,
            100: #fee2e2,
            200: #fecaca,
            300: #fca5a5,
            400: #f87171,
            500: #ef4444,
            600: #dc2626,
            700: #b91c1c,
            800: #991b1b,
            900: #7f1d1d,
        ),
        yellow: (
            50: #fefce8,
            100: #fef9c3,
            200: #fef08a,
            300: #fde047,
            400: #facc15,
            500: #eab308,
            600: #ca8a04,
            700: #a16207,
            800: #854d0e,
            900: #713f12,
        ),
    ),
    font-size: (
        xxs: func.rem(10),
        xs: func.rem(12),
        sm: func.rem(14),
        base: func.rem(16),
        md: func.rem(24),
        lg: func.rem(28),
        xl: func.rem(34),
        xxl: func.rem(40),
        hg: func.rem(44),
        xhg: func.rem(52),
    ),
    font-weight: (
        thin: 100,
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
    ),
    radius: (
        sm: func.rem(2),
        md: func.rem(4),
        lg: func.rem(8),
        xl: func.rem(12),
        none: 0,
        rounded: 100%,
    ),
    disabled: 0.3,
    transition: (
        duration: (
            quickly: 100ms,
            normal: 222ms,
            slowly: 333ms,
        ),
        timing-function: (
            decelerate: cubic-bezier(0, 0, 0.2, 1),
            accelerate: cubic-bezier(0.4, 0, 1, 1),
            quickly-accelerate-slowly-decelerate: cubic-bezier(0.4, 0, 0.2, 1),
            quickly-accelerate-decelerate: cubic-bezier(0.4, 0, 0.6, 1),
        ),
    ),
);

$all-config: map.deep-merge($default-config, $config);

$font-size: map.get($all-config, font-size);
$font-weight: map.get($all-config, font-weight);

$spacings: map.get($all-config, spacings);

$radius: map.get($all-config, radius);

$colors: map.get($all-config, colors);

$screens: map.get($all-config, screens);

$disabled: map.get($all-config, disabled);

$extend-colors: map.get($all-config, extend, colors);

$merged-colors: ();
@if $colors != null {
    $merged-colors: map.deep-merge($merged-colors, $colors);
}
$merged-colors: map.deep-merge($merged-colors, $extend-colors);

$transition: map.get($all-config, transition);
$duration: map.get($transition, duration);
$function: map.get($transition, timing-function);

@mixin transition(
    $property,
    $duration: map.get($duration, quickly),
    $timing-function: map.get($function, accelerate),
    $delay: null
) {
    @if (type-of($property) == list) {
        transition: $duration $timing-function $delay;
        transition-property: $property;
    } @else {
        transition: $property $duration $timing-function $delay;
    }
}

@function get-color($color, $tone: 500) {
    @if not map.has-key($merged-colors, $color) {
        @error "Invalid color specified! #{$color} doesn't exist. Choose one of #{map.keys($merged-colors)}";
    }

    $colorKey: map.get($merged-colors, $color);

    @if not map.has-key($colorKey, $tone) {
        @error "Invalid tone specified! #{$tone} doesn't exist. Choose one of #{map.keys($colorKey)}";
    }

    @return map.get($colorKey, $tone);
}
