@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($tag-root) {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--tag-size);
  padding: 0 var(--tag-spacing);
  font-size: var(--tag-font-size);
  font-weight: $tag-title-font-weight;
  line-height: 1;
  color: $tag-color;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--tag-background);
  border-radius: $tag-border-radius;

  &--sm {
    --tag-size: #{map.get($tag-sizes, "sm")};
    --tag-spacing: #{theme.get-spacing("md")};
    --tag-font-size: #{map.get($tag-font-sizes, "xs")};
  }

  &--md {
    --tag-size: #{map.get($tag-sizes, "md")};
    --tag-spacing: #{theme.get-spacing("md")};
    --tag-font-size: #{map.get($tag-font-sizes, "sm")};
  }

  &--lg {
    --tag-size: #{map.get($tag-sizes, "lg")};
    --tag-spacing: #{theme.get-spacing("md")};
    --tag-font-size: #{map.get($tag-font-sizes, "md")};
  }

  @each $key, $value in $tag-skins {
    &--#{$key} {
      --tag-background: #{theme.get-color($value, "500")};

      &[href]:hover {
        --tag-background: #{theme.get-color($value, "600")};
      }
    }
  }
}
