.breadcrumbs {
  display: block;
  list-style: none;
  padding: 0;
  width: 100%;

  &__item {
    cursor: default;
    display: inline-block;

    &.is-active {
      font-weight: $breadcrumb-is-active;
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;

    &::after {
      content: '/';
      padding-left: 5px;
    }
  }
}
