body {
    height: 100%;
    width: 100%;
    font-family:Tahoma;
    font-size: 16px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #ffffff;
}

header,
.header {
    display: block;
    width: 100%;
    background: #34353A;
    z-index: 9;
    overflow: hidden;
}

/* INTRO HOME */
.intro {
    display: block;
    width: 100%;
    max-height: 600px;
    background: #34353a;
}

.intro h2 {
    padding-top: 30px;
    font-size: 26px;
    color: #fff;
    font-weight: 100;
    line-height: 60px;
}

.intro img {
    width: 100%;
}

.intro span {
    display: block;	
    width: 100%;
    position: relative;
    font-size: 40px;
    color: #fff;
}
.intro p {
    font-size: 14px;
    color: #fff;
    font-family: Tahoma;
    line-height: 21px;
}

.color-1 {
    color: #999999;
}

.functions {
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    padding: 30px 0px;
    display: block;
    background: #bd5147;
}

.intro-info {
    position: absolute;
    width: 100%;
    display: block;
    top: 100px;
    z-index: 9999;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

.intro-info h1 {
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.38);
    font-size: 50px;
}

.intro-info span {
    font-size: 18px;
    color: #bf4240;
}

.intro-info p {
    font-size: 17px;
    color: #777;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.38);
}


.learn {
    background: #58abd0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 0;
    font-family: Tahoma;
    border: none;
    position: relative;
    font-size: 0.8em;
    padding: 20px 30px;
    cursor: pdownloadnter;
    transition: 800ms ease all;
    cursor: pointer;
    border: 1px solid #58abd0;
    margin-left: 20px;
}

.learn:hover {
    background:#fff;
    color:#58abd0;
    border: 1px solid #fff;
}

.effect {
    background: #bd5147;
    text-transform: uppercase;
    color: #fff;
    font-weight: 0;
    font-family: Tahoma;
    border: none;
    position: relative;
    font-size: 0.8em;
    padding: 20px 30px;
    cursor: pdownloadnter;
    transition: 800ms ease all;
    cursor: pointer;
    border: 1px solid #bd5147;
}

.effect:hover {
    background:#fff;
    color:#bd5147;
    border: 1px solid #fff;
}



.content-icons {
    width: 100px;
    padding: 30px 0px;
    display: block;
    margin: auto;
    border-radius: 500px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
}

.content-text {
    margin-top: 10px;
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.content-text h4 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
}

.content-text p {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.container {
    overflow: hidden;
    display: block;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

.description-stewed {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-bottom: 30px;
}

.description-view {
    width: 100%;
    display: block;
    padding-bottom: 50px;
}

.description-view img {
    display: block;
    margin: auto;
}

.footer {
    width: 100%;
    display: block;
    height: auto;
    line-height: 100px;
    background: #373737;
    position: relative;
    bottom: -100px;
}

.footer p {
    color: #848484;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.footer p a{
    text-decoration: none;
    color: #bd5147;
    font-size: 12px;
}

p {
    font-family:Tahoma;
    font-weight: 100;
    font-size: 15px;
}

strong {
    font-family:Tahoma;
    font-weight: 400;
}

h4 {
    font-family:Tahoma;
}


.round i {
    font-size: 130px;
}
.round span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    position: relative;
    top: 20px;
    text-shadow: 1px 1px 1px #333;
}


.title {
    display: block;
    width: 200px;
    float: left;
    letter-spacing: 1px;
    padding: 5px 0px;
}

.title img {
    width: 100%;
}

.i-name {
    width: 100%;
    height: 20px;
    display: block;
    text-align: center;
    font-family:Tahoma;
    font-size: 14px;
    margin-bottom: 15px;
}

[class*="i-code"] {
    display: none!important;
}

#icons {
    width: 100%;
    background: #fff;
    color: #373737!important;
}

#icons i {
    width: 100%;
    display: block;
    padding: 5px 0px;
    text-align: center;
    font-size: 22px;
}

#icons .large-16 {
    cursor: pdownloadnter;
}

#icons .large-16:hover i {
    color: #878582!important;
}

#icons .large-16:hover .i-name {
    color: #878582!important;
}

#icons h3 {
    display: block;
    width: 100%;
    font-size: 22px;
    padding-top: 20px;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 15px;
}

#icons h3:first-child{
    padding-top: 0px;
}






.large {
    width: 100%;
}
section {
    margin-bottom: 20px;
}
.header-line {
    color: #3e3e3e;
    font-size: 2.3em;
    padding: 10px 0px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.space-30 {
    display: block;
    margin-top: 30px;
}
.column {
    background-image: linear-gradient(to bottom left, #bd5147, #9b3b33);
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 2%;
    color: #fff;
    font-family: Tahoma;
    font-size: 13px;

}
.small {
    width: 25%;
}
.medium {
    width: 50%;
}
.large {
    width: 100%;
}
.nav-fixed .activo{
    display: block;
    color: #bd5147!important;
    border-left: 2px solid #bd5147;
    font-weight: 600;
}
.nav-fixed .navigation ul.menu.vertical .backTop {
    border-top: 1px solid #dfdfdf;
    margin-top: 30px;
}

.nav-fixed .navigation ul li ul li a{
    color:#888!important;
    font-size: 13px;
    margin-left: 20px;
    display: block;
    border-bottom: 0px!important;
    padding:0px 2px!important;
}

.nav-fixed .navigation ul li a{
    font-size: 14px;
}

.nav-fixed .navigation ul li a:hover{
    color: #bd5147!important;
}

.linkdisabled {
    opacity: 0.4;
    cursor: default;
}


@media only screen and (min-width: 0px) and (max-width: 1110px) {
    .nav-fixed {
        display: none;
    }
    .article {
        background: #666;
        padding-bottom: 30px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
    .title {
        display: block;
        width: 200px;
        float: none;
        letter-spacing: 1px;
        padding: 5px 0px;
        margin: auto;
        display: block;
    }
}







