@use 'sass:map';
@use '@stewed/theme/scss' as theme;
@use 'variables' as *;

#{$button-root} {
    --button-border-radius: #{$button-border-radius};

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--button-size);
    padding: 0 var(--button-spacing);
    border: none;
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: $button-color;
    font-size: var(--button-font-size);
    font-weight: $button-font-weight;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
    touch-action: manipulation;

    &:hover {
        background-color: var(--button-bg-hover);
    }

    &:active {
        background-color: var(--button-bg-active);
    }

    &:focus {
        outline: 2px solid transparent;
        box-shadow: #fff 0 0 0 2px, var(--button-focus) 0 0 0 4px;
    }

    &:disabled,
    &--disabled {
        opacity: $button-disabled;
        pointer-events: none;
    }

    &--sm {
        --button-size: #{map.get($button-sizes, 'sm')};
        --button-spacing: #{map.get($button-spacings, 'sm')};
        --button-font-size: #{map.get($button-font-sizes, 'sm')};
    }

    &--md {
        --button-size: #{map.get($button-sizes, 'md')};
        --button-spacing: #{map.get($button-spacings, 'md')};
        --button-font-size: #{map.get($button-font-sizes, 'base')};
    }

    &--lg {
        --button-size: #{map.get($button-sizes, 'lg')};
        --button-spacing: #{map.get($button-spacings, 'lg')};
        --button-font-size: #{map.get($button-font-sizes, 'lg')};
    }

    @each $key, $value in $button-appearances {
        &--#{$key} {
            --button-bg: #{theme.get-color($value)};
            --button-bg-hover: #{theme.get-color($value, 600)};
            --button-bg-active: #{theme.get-color($value, 700)};
            --button-focus: #{theme.get-color($value, 400)};
        }
    }
}
