/** theme **/
/** grey **/
/** blue grey **/
/** grean **/
/** default **/
* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas: "header header" "sidebar content" "footer footer";
}

.header {
  grid-area: header;
}

.header .logo {
  display: block;
  margin: auto;
  max-width: 180px;
}

.header .logo img {
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  flex-direction: column;
}

.footer {
  grid-area: footer;
}

code {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: inline;
  font-family: courier new, monospace;
  font-size: inherit;
  padding: 2px 4px;
}
