* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #f3f3f3;
}

body.docs {
  background: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  grid-template-areas: "header header" "sidebar content" "sidebar footer";
}

.header {
  grid-area: header;
}

.header .logo {
  display: block;
  margin: auto;
  max-width: 100px;
}

.header .logo img {
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  width: 300px;
}

.sidebar .logo {
  width: 120px;
  margin: auto;
}

.content {
  grid-area: content;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
}

.footer {
  background-color: #fff;
  grid-area: footer;
}

code {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: inline;
  font-family: courier new, monospace;
  font-size: inherit;
  padding: 2px 4px;
}
