@use "sass:map";
@use "@stewed/react/src/theme" as theme;

$list-box-root: ".list-box";
$list-box-inner-spacing-block: map.get(theme.$spacings, "md");

// List Box Item
$list-box-item-inner-spacing-inline: map.get(theme.$spacings, "xl");
$list-box-item-inner-spacing-block: map.get(theme.$spacings, "md");
$list-box-item-outer-spacing-bottom: map.get(theme.$spacings, "xs");
$list-box-item-border-radius: map.get(theme.$radius, "md");
$list-box-item-color-hover: #{theme.get-color("gray", "900")};
$list-box-item-background-hover: #{theme.get-color("gray", "50")};
$list-box-item-background-active: #{theme.get-color("gray", "100")};
$list-box-item-skins: (
  "selected": "primary",
  "danger": "red",
);

// List Box Section
$list-box-title-color: #{theme.get-color("gray", "400")};
$list-box-title-font-size: map.get(theme.$font-size, "xs");
$list-box-title-font-weight: map.get(theme.$font-weight, "medium");
