@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($list-box-root) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    @include theme.define-var(
      (
        background-color: transparent,
        color: inherit,
        border-radius: $list-box-item-border-radius,
      )
    );

    position: relative;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-block: $list-box-item-inner-spacing-block;
    padding-inline: $list-box-item-inner-spacing-inline;
    overflow: hidden;
    cursor: pointer;
    background-color: theme.get-var(background-color);
    border-radius: theme.get-var(border-radius);

    &:not(:last-child) {
      margin-bottom: $list-box-item-outer-spacing-bottom;
    }

    @include text.typography(
      base,
      $overrides: (color: null, line-height: map.get(theme.$line-height, "sm"))
    );
    @include theme.focus-styles;
    @include theme.disabled-styles;

    &:hover {
      @include theme.define-var(
        (
          background-color: $list-box-item-background-hover,
        )
      );
    }

    &:active {
      @include theme.define-var(
        (
          background-color: $list-box-item-background-active,
        )
      );
    }

    &__text {
      flex-grow: 1;
      white-space: nowrap;
    }

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }

    @each $key, $value in $list-box-item-skins {
      &--#{$key} {
        @include theme.define-var(
          (
            background-color: transparent,
            color: theme.get-color($value, "600"),
          )
        );

        &:hover {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "50"),
            )
          );
        }

        &:active {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "100"),
            )
          );
        }

        &.#{$list-box-root}__item--selected {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "50"),
            )
          );
        }
      }
    }

    @include theme.disabled-styles;
  }

  &__group {
    padding-block: 4px;

    &--border:not(:last-child) {
      border-bottom: 1px solid #{theme.get-color("gray", "200")};
    }

    &:not(:last-child) {
      margin-bottom: $list-box-item-outer-spacing-bottom;
    }

    &__title {
      padding-inline: $list-box-item-inner-spacing-inline;

      @include text.typography(
        base,
        $overrides: (
          color: $list-box-title-color,
          font-size: $list-box-title-font-size,
          font-weight: $list-box-title-font-weight
        )
      );

      margin-bottom: 8px;
    }
  }
}
