@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($list-box-root) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    @include theme.define-var(
      (
        background-color: transparent,
        color: inherit,
        padding-block: theme.get-spacing("sm"),
        padding-inline: theme.get-spacing("md"),
      )
    );

    position: relative;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-block: theme.get-var(padding-block);
    padding-inline: theme.get-var(padding-inline);
    overflow: hidden;
    cursor: pointer;
    background-color: theme.get-var(background-color);
    border-radius: theme.get-var(radius);

    &:not(:last-child) {
      margin-bottom: $list-box-item-outer-spacing-bottom;
    }

    @include text.typography(
      base,
      $overrides: (
        font-size: theme.get-font-size("sm"),
        line-height: theme.get-line-height("sm")
      )
    );

    @include theme.focus-styles;
    @include theme.disabled-styles;

    &:hover {
      @include theme.define-var(
        (
          background-color: $list-box-item-background-hover,
        )
      );
    }

    &:active {
      @include theme.define-var(
        (
          background-color: $list-box-item-background-active,
        )
      );
    }

    &__text {
      flex-grow: 1;
      white-space: nowrap;
    }

    &__left,
    &__right {
      position: relative;
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }

    @each $key, $value in $list-box-item-skins {
      &--#{$key} {
        @include theme.define-var(
          (
            background-color: transparent,
            color: theme.get-color($value, "600"),
          )
        );

        &:hover {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "100"),
            )
          );
        }

        &:active {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "200"),
            )
          );
        }

        &.#{$list-box-root}__item--selected {
          @include theme.define-var(
            (
              background-color: theme.get-color($value, "100"),
            )
          );
        }
      }
    }

    @include theme.disabled-styles;
  }

  &__group {
    padding-block: 4px;

    &:not(:last-child) {
      margin-bottom: $list-box-item-outer-spacing-bottom;
    }

    &__title {
      @include text.typography(
        base,
        $overrides: (
          color: theme.get-color("neutral", "500"),
          font-size: theme.get-font-size("xs"),
          line-height: theme.get-line-height("sm")
        )
      );

      margin-bottom: 8px;
    }
  }
}
