/* stylelint-disable order/order */
#{$textfield-root} {
  position: relative;
  display: flex;
  width: 100%;

  #{$textfield-control-root} {
    @include set($textfield-padding, $textfield-padding-base);
    @include set($textfield-radius, $textfield-radius-base);
    @include set($textfield-border-color, $textfield-border-color-base);
    @include set($textfield-color, $textfield-color-base);

    width: 100%;
    padding: get($textfield-padding);
    border: 1px solid get($textfield-border-color);
    border-radius: get($textfield-radius);
    outline: none;
    background-color: transparent;
    color: get($textfield-color);
    -webkit-appearance: none;
    box-shadow: none;

    @include get-typography(base);

    &:focus {
      @include set($textfield-border-color, $color-primary);
    }

    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }
  }

  &--shaped {
    #{$textfield-control-root} {
      @include set($textfield-radius, $textfield-radius-large);
    }
  }

  &--sm {
    #{$textfield-control-root} {
      @include set($textfield-padding, $textfield-padding-small);
    }
  }

  &--lg {
    #{$textfield-control-root} {
      @include set($textfield-padding, $textfield-padding-large);
    }
  }

  &--textarea {
    #{$textfield-control-root} {
      height: $textfield-textarea-min-height * 2;
      resize: none;
    }
  }

  &--required {
    @include set($textfield-required-color, $textfield-required-color-base);

    #{$textfield-control-root} {
      padding-right: 32px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 8px;
      height: 8px;
      transform: translate(-16px, -50%);
      border-radius: 50%;
      background-color: get($textfield-required-color);
      content: "";
    }
  }

  &--error {
    #{$textfield-control-root} {
      @include set($textfield-border-color, $textfield-border-color-danger);
      @include set($textfield-color, $textfield-color-danger);

      padding-right: 32px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-16px, -50%);
      color: #{$textfield-color-danger};
      content: attr(data-error);
    }
  }
}
