/* stylelint-disable order/order */
.textfield {
  position: relative;
  display: flex;
  width: 100%;

  &--shaped {
    .textfield__control {
      #{$textfield-radius}: #{$textfield-radius-large};
    }
  }

  &--sm {
    .textfield__control {
      #{$textfield-padding}: #{$textfield-padding-small};
    }
  }

  &--lg {
    .textfield__control {
      #{$textfield-padding}: #{$textfield-padding-large};
    }
  }

  &__control {
    #{$textfield-padding}: #{$textfield-padding-base};
    #{$textfield-radius}: #{$textfield-radius-base};
    width: 100%;
    padding: var($textfield-padding);
    border: 1px solid $theme-color-greyscale;
    border-radius: var($textfield-radius);
    outline: none;
    background-color: transparent;
    color: $color-base;
    -webkit-appearance: none;
    box-shadow: none;

    @include get-typography(base);

    &:focus {
      border-color: $color-primary;
    }

    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }
  }

  &--textarea {
    .textfield__control {
      height: $textfield-textarea-min-height * 2;
      resize: none;
    }
  }

  &--required {
    .textfield__control {
      padding-right: 32px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 8px;
      height: 8px;
      transform: translate(-16px, -50%);
      border-radius: 50%;
      background-color: $color-primary;
      content: "";
    }
  }

  &--error {
    color: get-color(danger);

    .textfield__control {
      padding-right: 32px;
      border-color: currentColor;
      color: inherit;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-16px, -50%);
      color: currentColor;
      content: attr(data-error);
    }
  }
}
