.progress {
  --progress-bar-background: #{$progress-background};
  --progress-background: #{get-color(primary)};
  --progress-size: #{map-get($space, md)};
  --progress-border-radius: #{map-get($radius, sm)};

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: map-get($space, lg);

  &__label {
    margin-bottom: map-get($space, x-sm);
    font-size: map-get($typography-font-size, sm);
    font-weight: map-get($typography-font-weight, bold);
  }

  &__control {
    width: 100%;
    height: var(--progress-size);
    border: 0;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-progress-bar {
      border-radius: var(--progress-border-radius);
      background: var(--progress-bar-background);
      box-shadow: none;
    }

    &::-moz-progress-bar {
      border-radius: var(--progress-border-radius);
      background: var(--progress-bar-background);
      box-shadow: none;
    }

    &::-webkit-progress-value {
      border-radius: var(--progress-border-radius);
      background: var(--progress-background);
      box-shadow: none;
    }

    &::after {
      position: absolute;
      top: 2px;
      right: 0;
      display: block;
      font-size: map-get($typography-font-size, x-sm);
      font-weight: map-get($typography-font-weight, bold);
      content: attr(data-value);
    }
  }

  &--sm {
    --progress-size: #{map-get($space, x-sm)};
  }

  &--lg {
    --progress-size: #{map-get($space, lg)};
  }

  @each $key in $progress-keys {
    &--#{$key} {
      --progress-background: #{get-color(#{$key})};
    }
  }
}
