@use 'sass:map';

@use '@stewed/theme/scss' as * with (
    $config: (
        extends: (
            screens: (
                xs: 480px,
            )
        )
    )
);

@use '@stewed/alert/scss' as alert;
@use '@stewed/badge/scss' as badge;
@use '@stewed/button/scss' as button;
@use '@stewed/textfield/scss' as textfield;
@use '@stewed/radio/scss' as radio;

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system;
    font-size: #{map-get($font-size, 'base')};
}

body {
    max-width: map.get($screens, xl);
    padding: map.get($spacings, 'hg');
    margin: auto;
}

.demo {
    display: flex;
    margin-bottom: map.get($spacings, 'xl');
    gap: map.get($spacings, 'xl');

    &--column {
        flex-direction: column;
    }
}
