@use 'sass:map';

@use '@stewed/theme/scss' as * with (
    $config: (
        scope: '.stewed-scope',
        extends: (
            screens: (
                xs: 480px,
            )
        )
    )
);

@use '@stewed/alert/scss' as alert;
@use '@stewed/button/scss' as button;
@use '@stewed/textfield/scss' as textfield;

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system;
    font-size: #{map-get($font-sizes, 'large')};
}

body {
    max-width: map.get($screens, xl);
    margin: auto;
    padding: $spacing * 4 $spacing * 2;
}

.demo {
    display: flex;
    gap: $spacing;
    margin-bottom: $spacing * 2;

    &--column {
        flex-direction: column;
    }
}
