@use "@stewed/react/src/theme/src/styles" as theme;

$badge-root: "badge";

/// Skins
$badge-skins: ("primary", "secondary", "neutral", "info", "success", "warning", "critical");

/// Sizes
$badge-sizes: (
  "xs": (
    "font-size": theme.get-font-size("xxs"),
    "size": 12px,
  ),
  "sm": (
    "font-size": theme.get-font-size("xxs"),
    "size": 16px,
  ),
  "md": (
    "font-size": theme.get-font-size("xs"),
    "size": 20px,
  ),
  "lg": (
    "font-size": theme.get-font-size("xs"),
    "size": 24px,
  ),
);
