@use "sass:math";
@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;

$badge-root: "badge";
$badge-color: #fff;
$badge-skins: (
  "primary": "primary",
  "secondary": "secondary",
  "info": "blue",
  "success": "green",
  "warning": "yellow",
  "error": "red",
);
