@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($badge-root) {
  position: relative;
  display: inline-flex;
  font-size: theme.get-var(font-size);
  color: theme.get-var(color);

  @include theme.define-var(
    (
      padding-inline: 0,
      position: relative,
      transform: none,
      inset: 0,
    )
  );

  &__value {
    position: theme.get-var(position);
    inset: theme.get-var(inset);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: theme.get-var(size);
    height: theme.get-var(size);
    padding-inline: theme.get-var(padding-inline);
    white-space: nowrap;
    background-color: theme.get-var(background-color);
    border: 1px solid theme.get-var(border-color);
    border-radius: theme.get-var(radius);
    transform: theme.get-var(transform);

    @include text.typography(
      base,
      $overrides: (color: inherit, font-size: inherit, line-height: theme.get-var(size))
    );

    &:empty {
      @include theme.define-var(
        (
          size: theme.get-spacing("sm"),
          padding-inline: 0,
        )
      );
    }
  }

  // Skins
  @each $key, $value in $badge-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: theme.get-color($key, "background"),
          border-color: theme.get-color($key, "border"),
          color: theme.get-color($key, "foreground"),
        )
      );
    }
  }

  // Sizes
  @each $key, $value in $badge-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          font-size: map.get($value, "font-size"),
          size: map.get($value, "size"),
        )
      );
    }
  }

  // Appearance
  &--filled {
    @include theme.define-var(
      (
        color: white,
      )
    );
  }

  &--outline {
    @include theme.define-var(
      (
        background-color: transparent,
      )
    );
  }

  &--padded {
    @include theme.define-var(
      (
        padding-inline: theme.get-spacing("xs"),
      )
    );
  }

  &--top-left,
  &--top-right,
  &--bottom-left,
  &--bottom-right {
    @include theme.define-var(
      (
        position: absolute,
      )
    );
  }

  &--top-left {
    @include theme.define-var(
      (
        inset: 0 auto auto 0,
        transform: translate(-50%, -50%),
      )
    );
  }

  &--top-right {
    @include theme.define-var(
      (
        inset: 0 0 auto auto,
        transform: translate(50%, -50%),
      )
    );
  }

  &--bottom-left {
    @include theme.define-var(
      (
        inset: auto auto 0 0,
        transform: translate(-50%, 50%),
      )
    );
  }

  &--bottom-right {
    @include theme.define-var(
      (
        inset: auto 0 0 auto,
        transform: translate(50%, 50%),
      )
    );
  }
}
