@use "sass:map";
@use "@stewed/react/src/theme" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($badge-root) {
  @include theme.define-var(
    (
      size: 2ch,
      border-radius: map.get(theme.$radius, "xl"),
      padding-inline: 0,
    )
  );

  position: relative;
  display: inline-flex;

  &__count {
    @include text.typography(
      base,
      $overrides: (color: $badge-color, font-size: map.get(theme.$font-size, "xs"))
    );

    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: theme.get-var(size);
    height: theme.get-var(size);
    padding-inline: theme.get-var(padding-inline);
    white-space: nowrap;
    background-color: theme.get-var(background-color);
    border-radius: theme.get-var(border-radius);
    transform: translate(50%, -50%);

    &:empty {
      @include theme.define-var(
        (
          size: map.get(theme.$spacings, "md"),
        )
      );

      padding: 0;
    }
  }

  @each $key, $value in $badge-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: theme.get-color($value, "500"),
        )
      );
    }
  }

  &--padded {
    @include theme.define-var(
      (
        padding-inline: map.get(theme.$spacings, "sm"),
      )
    );
  }
}
