@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($badge-root) {
  @include theme.define-var(
    (
      size: 2ch,
      border-radius: theme.get-radius("xl"),
      padding-inline: 0,
      position: relative,
      transform: none,
    )
  );

  position: relative;
  display: inline-flex;

  &__value {
    @include text.typography(
      base,
      $overrides: (color: $badge-color, font-size: theme.get-font-size("xs"))
    );

    position: theme.get-var(position);
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: theme.get-var(size);
    height: theme.get-var(size);
    padding-inline: theme.get-var(padding-inline);
    white-space: nowrap;
    background-color: theme.get-var(background-color);
    border-radius: theme.get-var(border-radius);
    transform: theme.get-var(transform);

    &:empty {
      @include theme.define-var(
        (
          size: theme.get-spacing("md"),
        )
      );

      padding: 0;
    }
  }

  @each $key, $value in $badge-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          background-color: theme.get-color($value, "500"),
        )
      );
    }
  }

  &--padded {
    @include theme.define-var(
      (
        padding-inline: theme.get-spacing("sm"),
      )
    );
  }

  &--floating {
    @include theme.define-var(
      (
        position: absolute,
        transform: translate(50%, -50%),
      )
    );
  }
}
