$textfield-root: ".textfield";

$textfield-border-radius: $border-radius;
$textfield-appearances: ("primary", "success", "warning", "danger");
$textfield-font-weight: map-get($font-weight, "regular");

$textfield-sizes: $spacing * 5;
$textfield-spacings: $spacing * 2;
