$textfield-root: ".textfield";

$textfield-border-radius: $theme-border-radius;
$textfield-appearances: ("primary", "success", "warning", "danger");
$textfield-font-weight: map-get($theme-font-weight, "regular");

$textfield-sizes: $theme-spacing * 5;
$textfield-spacings: $theme-spacing * 2;
