$table-head-font-size: headline-7 !default;
$table-head-font-size-desktop: headline-6 !default;
$table-head-padding: map-get($space, lg);

$table-body-font-size: base !default;
$table-body-padding: map-get($space, lg);
$table-body-border-color: get-color("grayscale", lighter);
