$table-head-color: map-get($theme-color-gray, "darken");
$table-head-font-size: headline-6 !default;
$table-head-font-size-desktop: headline-5 !default;
$table-head-padding: $baseline * 2;

$table-body-font-size: base !default;
$table-body-padding: $baseline * 2;
$table-body-border-color: map-get($theme-color-gray, "lighten");
