/** theme **/
$color-primary: #fb3c68;
$color-secondary: #3a3b52;

/** grey **/
$grey-50: #fafafa;
$grey-300: #e0e0e0;

/** blue grey **/
$bluegrey-500: #607d8b;

/** grean **/
$grean: #009688;

/** default **/
$color-white: #ffffff;
$color-black: #000000;

// Code
$theme-code-radius: 2px;
$theme-code-color: rgba(0,0,0, .1);
