@use "@stewed/react/src/theme/src/styles" as theme;

$textarea-root: "text-area";

/// Skins
$textarea-skins: (
  "default": (
    "border": theme.get-color("neutral", "300"),
    "border-hover": theme.get-color("neutral", "400"),
  ),
  "success": (
    "border": theme.get-color("success"),
    "border-hover": theme.get-color("success", "600"),
  ),
  "critical": (
    "border": theme.get-color("critical"),
    "border-hover": theme.get-color("critical", "600"),
  ),
);

// Spacing's
$textarea-spacings: theme.get-spacing("md");
