@use "@stewed/react/src/theme/src/styles" as theme;

$textarea-root: "text-area";

/// Skins
$textarea-skins: (
  "neutral-faded": (
    "border": theme.get-color("neutral", "border-faded"),
    "background-color": theme.get-color("neutral", "background-faded"),
  ),
  "neutral": (
    "border": theme.get-color("neutral", "border"),
    "background-color": theme.get-color("neutral", "background"),
  ),
  "success": (
    "border": theme.get-color("success", "border"),
    "background-color": theme.get-color("success", "background"),
  ),
  "critical": (
    "border": theme.get-color("critical", "border"),
    "background-color": theme.get-color("critical", "background"),
  ),
);

// Spacing's
$textarea-spacings: theme.get-spacing("md");
