@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($textarea-root) {
  all: unset;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: theme.get-spacing("md");
  touch-action: manipulation;
  resize: theme.get-var(resize);
  border: 1px solid transparent;
  border-radius: theme.get-var(radius);

  @include text.typography(base, $overrides: (font-size: theme.get-font-size("md")));

  &--disabled {
    @include theme.disabled-styles;
  }

  // Resize
  @each $value in ("both", "horizontal", "vertical", "none") {
    &--resize-#{$value} {
      @include theme.define-var(
        (
          resize: $value,
        )
      );
    }
  }

  // Skins
  @each $key, $value in $textarea-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          foreground: map.get($value, "color"),
          border-color: map.get($value, "border"),
          background-color: map.get($value, "background-color"),
        )
      );
    }
  }

  &--outline,
  &--soft {
    @include theme.focus-styles;
  }

  &--outline {
    border: 1px solid theme.get-var(border-color);
  }

  &--ghost {
    color: theme.get-var(foreground);
    border-color: transparent;
  }

  &--soft {
    background-color: color-mix(in srgb, theme.get-var(background-color), transparent 95%);
    border-color: transparent;
  }

  &--auto-height {
    field-sizing: content;
  }

  &--full-width {
    width: 100%;
  }
}
