@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($textarea-root) {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $textarea-spacings;
  touch-action: manipulation;
  border: 1px solid theme.get-var(border-color);
  border-radius: theme.get-var(radius);

  @include text.typography(base, $overrides: (font-size: theme.get-font-size("md")));
  @include theme.focus-styles;
  @include theme.disabled-styles;

  &:hover {
    border-color: theme.get-var(border-color-hover);
  }

  @each $key, $value in $textarea-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          border-color: map.get($value, "border"),
          border-color-hover: map.get($value, "border-hover"),
        )
      );
    }
  }
}
