@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($textarea-root) {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $textarea-spacings;
  touch-action: manipulation;
  border: 1px solid transparent;
  border-radius: theme.get-var(radius);

  @include text.typography(base, $overrides: (font-size: theme.get-font-size("md")));
  @include theme.focus-styles;

  &--disabled {
    @include theme.disabled-styles;
  }

  @each $key, $value in $textarea-skins {
    &--#{$key} {
      @include theme.define-var(
        (
          border-color: map.get($value, "border"),
          border-color-hover: map.get($value, "border-hover"),
          background-color: map.get($value, "background-color"),
        )
      );
    }
  }

  &--outline {
    border: 1px solid theme.get-var(border-color);

    &:hover:has(:not([disabled])) {
      border-color: theme.get-var(border-color-hover);
    }
  }

  &--ghost {
    border-color: transparent;
  }

  &--soft {
    background-color: color-mix(in srgb, theme.get-var(background-color), transparent 95%);
    border-color: transparent;

    &:hover:has(:not([disabled])) {
      background-color: color-mix(in srgb, theme.get-var(background-color), transparent 90%);
    }
  }

  &--auto-height {
    field-sizing: content;
  }

  &--full-width {
    width: 100%;
  }
}
