.tooltip {
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    min-width: $baseline * 20;
    padding: $baseline;
    transform: translate(-50%, 0);
    transition: opacity .2s ease-in-out, transform .2s cubic-bezier(.71, 1.7, .77, 1.24);
    border-radius: $border-radius;
    background-color: $tooltip-background;
    opacity: 0;
    color: #fff;
    text-align: center;
    text-transform: none;
    pointer-events: none;
    content: attr(data-tooltip);
    z-index: 1000;
    word-break: break-all;

    @include get-typography(small);
  }

  &:hover {
    &::after {
      transform: translate(-50%, -8px);
      opacity: 1;
      pointer-events: all;
    }
  }
}
