.tooltip {
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    z-index: 1000;
    padding: 8px;
    min-width: 160px;
    background-color: #000;
    color: #fff;
    content: attr(data-tooltip);
    border-radius: 4px;
    text-transform: none;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: opacity .2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    text-align: center;
    pointer-events: none;
    word-break: break-all;

    @include get-typography(small);
  }

  &:hover {
    &::after {
      transform: translate(-50%, -8px);
      opacity: 1;
      pointer-events: all;
    }
  }
}
