@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@include theme.scope($skeleton-root) {
  background-color: color-mix(in srgb, theme.get-color("neutral", "500"), transparent 90%);
  border-radius: theme.get-var("border-radius");
  animation: pulse 2s linear infinite;

  &--line,
  &--rectangle {
    width: 100%;
  }

  &--line,
  &--circle {
    height: theme.get-var("size");
  }

  &--rectangle {
    height: 100%;
    aspect-ratio: theme.get-var("size-ratio");
  }

  &--circle {
    min-width: theme.get-var("size");

    @include theme.define-var(
      (
        border-radius: theme.get-radius("full"),
      )
    );
  }

  @each $size-name, $size-value in $skeleton-sizes {
    &--#{$size-name} {
      @include theme.define-var(
        (
          size: $size-value,
        )
      );
    }
  }

  &--auto {
    @include theme.define-var(
      (
        size: auto,
      )
    );
  }

  // Rounded
  @each $size-name, $size-value in $skeleton-radius {
    &--radius-#{$size-name} {
      @include theme.define-var(
        (
          border-radius: $size-value,
        )
      );
    }
  }
}
