@function tint($color, $percentage) {
    @return mix(#fff, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

@function get-color($color, $tone: 500) {
    @if not map-has-key($colors, $color) {
        @error "Invalid color specified! #{$color} doesn't exist. Choose one of #{map-keys($colorss)}";
    }

    @if not map-has-key($tones, $tone) {
        @error "Invalid tone specified! #{$tone} doesn't exist. Choose one of #{map-keys($tones)}";
    }

    $hex: map-get($colors, $color);

    @if ($tone < 500) {
        $percentage: map-get($tones, $tone);

        @return tint($hex, $percentage);
    }

    @if ($tone > 500) {
        $percentage: map-get($tones, $tone);

        @return shade($hex, $percentage);
    }

    @return $hex;
}
