@use 'sass:math';
@use 'sass:map';

@function rem($size-in-pixel) {
  $size: math.div($size-in-pixel, 16);
  @return #{$size}rem;
}

@function merge($maps...) {
  $collection: ();
  @each $map in $maps {
    $collection: map.merge($collection, $map);
  }
  @return $collection;
}

@function deep-merge($maps...) {
  $collection: ();
  @each $map in $maps {
    $collection: map.deep-merge($collection, $map);
  }
  @return $collection;
}

@function tint($color, $percentage) {
    @return mix(#fff, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

@function set-color($color, $tone: 500) {
    @if not map-has-key($tones, $tone) {
        @error "Invalid tone specified! #{$tone} doesn't exist. Choose one of #{map-keys($tones)}";
    }

    @if ($tone < 500) {
        $percentage: map.get($tones, $tone);

        @return tint($color, $percentage);
    }

    @if ($tone > 500) {
        $percentage: map.get($tones, $tone);

        @return shade($color, $percentage);
    }

    @return $color;
}

@function get-color($color, $tone: 500) {
    @if not map-has-key($colors, "#{$color}-#{$tone}") {
        @error "Invalid color specified! #{$color} doesn't exist. Choose one of #{map-keys($colors)}";
    }

    @return map.get($colors, "#{$color}-#{$tone}");
}
