@use 'sass:map';
@use 'functions' as func;

$config: () !default;

$default-config: (
    scope: '.theme-scope',
    extend: (
        shadows: (),
        colors: (),
        screens: (),
        font-sizes: (),
        font-weights: (),
        radiuses: (),
        opacities: (),
    ),
    spacing: 8px,
    screens: (
        sm: 768px,
        md: 1024px,
        lg: 1280px,
        xl: 1440px,
    ),
    colors: (
        primary: (
            100: #e0e7ff,
            200: #c7d2fe,
            300: #a5b4fc,
            400: #818cf8,
            500: #6366f1,
            600: #4f46e5,
            700: #4338ca,
            800: #3730a3,
            900: #312e81,
        ),
        secondary: (
            100: #f5f5f5,
            200: #e5e5e5,
            300: #d4d4d4,
            400: #a3a3a3,
            500: #737373,
            600: #525252,
            700: #404040,
            800: #262626,
            900: #171717,
        ),
        green: (
            100: #dcfce7,
            200: #bbf7d0,
            300: #86efac,
            400: #4ade80,
            500: #22c55e,
            600: #16a34a,
            700: #15803d,
            800: #166534,
            900: #14532d,
        ),
        red: (
            100: #fee2e2,
            200: #fecaca,
            300: #fca5a5,
            400: #f87171,
            500: #ef4444,
            600: #dc2626,
            700: #b91c1c,
            800: #991b1b,
            900: #7f1d1d,
        ),
        yellow: (
            100: #fef9c3,
            200: #fef08a,
            300: #fde047,
            400: #facc15,
            500: #eab308,
            600: #ca8a04,
            700: #a16207,
            800: #854d0e,
            900: #713f12,
        ),
    ),
    font-sizes: (
        large: func.rem(18),
        base: func.rem(16),
        small: func.rem(14)
    ),
    font-weight: (
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700
    ),
    radius: (
        sm: func.rem(2),
        md: func.rem(4),
        lg: func.rem(8),
        rounded: 100%
    )
);

$all-config: map.deep-merge($default-config, $config);

$scope: map.get($all-config, scope);

$font-sizes: map.get($all-config, font-sizes);
$font-weight: map.get($all-config, font-weight);

$spacing: map.get($all-config, spacing);

$radius: map.get($all-config, radius);

$colors: map.get($all-config, colors);

$screens: map.get($all-config, screens);

$disabled: 0.3;

$container-width: map.get($screens, xl);
$container-padding: $spacing;

$extend-colors: map.get($all-config, extend, colors);

// Merged Colors
$merged-colors: ();
@if $colors != null {
  $merged-colors: map.deep-merge($merged-colors, $colors);
}
$merged-colors: map.deep-merge($merged-colors, $extend-colors);

@function get-color($color, $tone: 500) {
    @if not map.has-key($merged-colors, $color) {
        @error "Invalid color specified! #{$color} doesn't exist. Choose one of #{map.keys($merged-colors)}";
    }

    $colorKey: map.get($merged-colors, $color);

    @if not map.has-key($colorKey, $tone) {
        @error "Invalid tone specified! #{$tone} doesn't exist. Choose one of #{map.keys($colorKey)}";
    }

    @return map.get($colorKey, $tone);
}
