@use 'sass:map';
@use '../theme' as theme;
@use './variables' as *;

@mixin typography-base {
    font-size: var(--typography-font-size);
    font-weight: var(--typography-font-weight);
    line-height: var(--typography-line-height);
    color: var(--typography-color);
}

@mixin typography-init($key) {
    $style-props: map.get($typography-styles, $key);

    @if not map.has-key($typography-styles, $key) {
        @error "Invalid typography specified! #{$key} doesn't exist. Choose one of #{map.keys($typography-styles)}";
    }

    @each $key, $value in $style-props {
        #{$key}: $value;
    }
}

@mixin typography($key, $overrides: ()) {

    @if not map.has-key($typography-styles, $key) {
        @error "Invalid typography specified! #{$key} doesn't exist. Choose one of #{map.keys($typography-styles)}";
    }

    $style-props: map.get($typography-styles, $key);
    $merge-props: map.deep-merge($style-props, $overrides);


    @each $key, $value in $merge-props {
        #{$key}: $value;
    }

    @include typography-base;
}
