@use 'sass:map';
@use '../theme' as theme;

$typography-root: '.typography';

$typography-styles: (
    base: (
        --typography-font-size: map.get(theme.$font-size, sm),
        --typography-font-weight: map.get(theme.$font-weight, normal),
        --typography-line-height: map.get(theme.$line-height, sm),
        --typography-color: theme.get-color(gray, 900)
    ),
    link: (
        --typography-font-size: map.get(theme.$font-size, sm),
        --typography-font-weight: map.get(theme.$font-weight, normal),
        --typography-line-height: map.get(theme.$line-height, sm),
        --typography-color: theme.get-color(primary)
    ),
    display-1: (
        --typography-font-size: map.get(theme.$font-size, 5xl),
        --typography-font-weight: map.get(theme.$font-weight, bold),
        --typography-line-height: map.get(theme.$line-height, 4xl),
        --typography-color: theme.get-color(gray, 900)
    ),
    display-2: (
        --typography-font-size: map.get(theme.$font-size, 4xl),
        --typography-font-weight: map.get(theme.$font-weight, bold),
        --typography-line-height: map.get(theme.$line-height, 3xl),
        --typography-color: theme.get-color(gray, 900)
    ),
    display-3: (
        --typography-font-size: map.get(theme.$font-size, 3xl),
        --typography-font-weight: map.get(theme.$font-weight, bold),
        --typography-line-height: map.get(theme.$line-height, 2xl),
        --typography-color: theme.get-color(gray, 900)
    ),
    display-4: (
        --typography-font-size: map.get(theme.$font-size, 2xl),
        --typography-font-weight: map.get(theme.$font-weight, bold),
        --typography-line-height: map.get(theme.$line-height, xl),
        --typography-color: theme.get-color(gray, 900)
    ),
    display-5: (
        --typography-font-size: map.get(theme.$font-size, xl),
        --typography-font-weight: map.get(theme.$font-weight, bold),
        --typography-line-height: map.get(theme.$line-height, lg),
        --typography-color: theme.get-color(gray, 900)
    ),
    display-6: (
        --typography-font-size: map.get(theme.$font-size, lg),
        --typography-font-weight: map.get(theme.$font-weight, bold),
        --typography-line-height: map.get(theme.$line-height, md),
        --typography-color: theme.get-color(gray, 900)
    ),
);

$typography-sizes: theme.$font-size;

$typography-weights: theme.$font-weight;

$typography-skins: (
    'primary': theme.get-color(primary),
    'secondary': theme.get-color(secondary),
    'danger': theme.get-color(red)
);
