.label {
  display: inline-block;
  padding: .2em .6em .3em;
  line-height: normal;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #000;
  margin: 0.175em 0;
}

.label--success {
  background-color: map-get($global-color-green, 'base');;
}

.label--info {
  background-color: map-get($global-color-blue, 'base');;
}

.label--warning {
  background-color: map-get($global-color-grey, 'base');
}

.label--danger {
  background-color: map-get($global-color-red, 'base');
}
