/* stylelint-disable selector-max-universal, selector-max-type */

:root {
  --color--text: 18, 18, 26;
}

:root {
  --theme-font-family-serif: "Nunito", sans-serif;
  --theme-font-family-monospace: monospace;
  --theme-font-size: 16px;
}

// Colors
:root {
  @each $color, $keyColor  in $palette-colors {
    @each $tone, $keyTone in $palette-tones {
      --color-#{$color}-#{$tone}: #{build-color(#{$color}, #{$tone})};
    }
  }
}

$theme-color-primary: var(--color-primary-base);
$theme-color-accent: var(--color-accent-base);
$theme-color-greyscale: var(--color-grayscale-lighter);
$theme-color-base: var(--color-grayscale-base);

// Font Size
$theme-font-size: 16px;

// Font Weight
$theme-font-light: 300;
$theme-font-regular: 400;
$theme-font-medium: 600;
$theme-font-bold: 700;

// Typography
$theme-font-family-serif: var(--theme-font-family-serif);
$theme-font-family-monospace: var(--theme-font-family-monospace);

// Spaces
:root {
  --space-x-hg: #{calculate-rem(40px)};
  --space-hg: #{calculate-rem(32px)};
  --space-xl: #{calculate-rem(24px)};
  --space-lg: #{calculate-rem(16px)};
  --space-md: #{calculate-rem(12px)};
  --space-sm: #{calculate-rem(8px)};
  --space-x-sm: #{calculate-rem(6px)};
  --space-xs: #{calculate-rem(4px)};
  --space-x-xs: #{calculate-rem(2px)};
}

// Radius
:root {
  --radius-hg: #{calculate-rem(32px)};
  --radius-xl: #{calculate-rem(42px)};
  --radius-lg: #{calculate-rem(16px)};
  --radius-md: #{calculate-rem(8px)};
  --radius-sm: #{calculate-rem(4px)};
  --radius-xs: #{calculate-rem(2px)};
}

// Breakpoint
$theme-breakpoint-mobile: 280px;
$theme-breakpoint-tablet: 768px;
$theme-breakpoint-desktop: 1024px;
$theme-breakpoint-tv: 1440px;

:root {
  --breakpoint-sm: #{$theme-breakpoint-mobile};
  --breakpoint-md: #{$theme-breakpoint-tablet};
  --breakpoint-lg: #{$theme-breakpoint-desktop};
  --breakpoint-hg: #{$theme-breakpoint-tv};
}

* {
  box-sizing: border-box;
}

html {
  font-family: $theme-font-family-serif;
  font-size: var(--theme-font-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $theme-font-regular;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  padding: 0;
  color: $theme-color-base;
}
