:root {
  --theme-font-size: 14px;
  --theme-font-weight: 400;
  --theme-font-family-serif: "Roboto", sans-serif;
  --theme-font-family-monospace: "Roboto Mono", monospace;
}

// Font Size
$theme-font-size: var(--theme-font-size);
$theme-font-weight: var(--theme-font-weight);

// Typography
$theme-font-family-serif: var(--theme-font-family-serif);
$theme-font-family-monospace: var(--theme-font-family-monospace);

$theme-baseline: 8px;
