:root {
  --theme-font-family-serif: "Nunito", sans-serif;
  --theme-font-family-monospace: monospace;
  --theme-font-size: 16px;
  --theme-color-primary: #5c8df6;
  --theme-color-secondary: #f3628d;
  --theme-color-base: #454b57;
  --theme-border-radius: 4px;
}

// Colors
$theme-color-primary: var(--theme-color-primary);
$theme-color-secondary: var(--theme-color-secondary);
$theme-color-base: var(--theme-color-base);

// Font Size
$theme-font-size: 16px;

// Font Weight
$theme-font-light: 300;
$theme-font-regular: 400;
$theme-font-medium: 600;
$theme-font-bold: 700;

// Typography
$theme-font-family-serif: var(--theme-font-family-serif);
$theme-font-family-monospace: var(--theme-font-family-monospace);

$theme-baseline: 8px;
$theme-border-radius: var(--theme-border-radius);

$theme-breakpoint-mobile: 280px;
$theme-breakpoint-tablet: 768px;
$theme-breakpoint-desktop: 1024px;

* {
  box-sizing: border-box;
}

html {
  color: $theme-color-base;
  font-family: $theme-font-family-serif;
  font-size: var(--theme-font-size);
  font-weight: $theme-font-regular;
  line-height: 1.5;
}
