$baseline: $theme-baseline !default;

// defining breakpoints
$breakpoints: (
  small: $theme-breakpoint-mobile,
  medium: $theme-breakpoint-tablet,
  large: $theme-breakpoint-desktop
) !default;

$color-primary: $theme-color-primary !default;
$color-base: $theme-color-base !default;

// defining font family
$typography-font-family: $theme-font-family-serif !default;

// defining font sizes
$typography-font-size: (
  x-huge: calculate-rem(76px),
  huge: calculate-rem(52px),
  x-large: calculate-rem(34px),
  large: calculate-rem(28px),
  medium: calculate-rem(24px),
  regular: calculate-rem(16px),
  small: calculate-rem(14px),
  x-small: calculate-rem(12px)
) !default;

// defining font weight
$typography-font-weight: (
  light: $theme-font-light,
  regular: $theme-font-regular,
  medium: $theme-font-medium,
  bold: $theme-font-bold
) !default;

$border-radius: $theme-border-radius !default;

$transition-function-decelerate: cubic-bezier(0, 0, .2, 1) !default;
$transition-function-accelerate: cubic-bezier(.4, 0, 1, 1) !default;
$transition-function-quickly-accelerate-slowly-decelerate: cubic-bezier(.4, 0, .2, 1) !default;
$transition-function-quickly-accelerate-decelerate: cubic-bezier(.4, 0, .6, 1) !default;

$transition-duration-quickly: 100ms !default;
$transition-duration: 222ms !default;
$transition-duration-slowly: 333ms !default;
