$baseline: $theme-baseline !default;

// defining breakpoints
$breakpoints: (
  sm: $theme-breakpoint-mobile,
  md: $theme-breakpoint-tablet,
  lg: $theme-breakpoint-desktop
) !default;

$color-primary: $theme-color-primary !default;
$color-accent: $theme-color-accent !default;
$color-base: $theme-color-base !default;

$border-radius: $theme-border-radius !default;

$transition-function-decelerate: cubic-bezier(0, 0, .2, 1) !default;
$transition-function-accelerate: cubic-bezier(.4, 0, 1, 1) !default;
$transition-function-quickly-accelerate-slowly-decelerate: cubic-bezier(.4, 0, .2, 1) !default;
$transition-function-quickly-accelerate-decelerate: cubic-bezier(.4, 0, .6, 1) !default;

$transition-duration-quickly: 100ms !default;
$transition-duration: 222ms !default;
$transition-duration-slowly: 333ms !default;
