/* stylelint-disable selector-max-universal, selector-max-type */

@import "./packages/theme/index";

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system;
  font-size: #{map-get($theme-typography, "large")};
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.app {
  max-width: $theme-container-width;
  margin: auto;
  padding: 0 $theme-container-padding;
}

.demo {
  display: flex;
  gap: $theme-spacing;
  margin-bottom: $theme-spacing * 2;
}

@import "./packages/alert/index";
@import "./packages/button/index";
@import "./packages/input/index";
