@import '../../utilities/variables';
@import '../../utilities/mixins';

$c-grid-media-desktop: $u-width-media-desktop;
$c-grid-media-tablet-min: $u-width-media-tablet-min;
$c-grid-media-tablet-max: $u-width-media-tablet-max;
$c-grid-media-mobile-min: $u-width-media-mobile-min;
$c-grid-media-mobile-max: $u-width-media-mobile-max;

$grid: 100%;
$columns: 12;
$gutter: 15px;

$class-row: 'row';
$class-cell: 'col';
$class-off: 'offset';

// Breakpoints
$min-device: 280px;
$mobile: 767px;
$tablet: 992px;
$desktop: 1200px;

$breakpoints: (
  (small, $min-device),
  (medium, $tablet),
  (large, $desktop)
);

@import 'grid';
