@import "../../utilities/variables";
@import "../../utilities/mixins";

$grid-media-desktop: $global-width-media-desktop;
$grid-media-tablet-min: $global-width-media-tablet-min;
$grid-media-tablet-max: $global-width-media-tablet-max;
$grid-media-mobile-min: $global-width-media-mobile-min;
$grid-media-mobile-max: $global-width-media-mobile-max;

$grid: 100%;
$columns: 12;
$gutter: 15px;

$class-row: "row";
$class-cell: "col";
$class-off: "offset";

// Breakpoints
$min-device: 280px;
$mobile: 767px;
$tablet: 992px;
$desktop: 1200px;

$breakpoints: (
  (small, $min-device),
  (medium, $tablet),
  (large, $desktop)
);

@import "grid";
