@use "@stewed/react/src/theme/src/styles" as theme;
@use "@stewed/react/src/typography/src/styles" as text;
@use "./variables" as *;

@include theme.scope($list-root) {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-block: 0;

  &__item {
    @include text.typography(base);
  }

  // Type
  &--bullet {
    padding-left: theme.get-spacing("xl");
    list-style: disc none outside;
  }

  &--decimal {
    padding-left: theme.get-spacing("xl");
    list-style: decimal none outside;
  }

  &--none {
    list-style: none;
  }

  // Gap
  @each $key, $value in $list-gap {
    &--gap-#{$key} {
      gap: #{$value};
    }
  }
}
