@use 'sass:map';
@use '../theme' as theme;
@use './variables' as *;

@include theme.scope($progress-root) {
    --progress-radius: 0;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__control {
        width: 100%;
        height: var(--progress-size);
        border: 0;
        -webkit-appearance: none;
        appearance: none;

        &::-webkit-progress-bar {
            border-radius: var(--progress-radius);
            background: $progress-background;
            box-shadow: none;
        }

        &::-moz-progress-bar {
            border-radius: var(--progress-radius);
            background: $progress-background;
            box-shadow: none;
        }

        &::-webkit-progress-value {
            border-radius: var(--progress-radius);
            background: var(--progress-background);
            box-shadow: none;
        }
    }

    @each $key, $value in $progress-sizes {
        &--#{$key} {
            --progress-size: #{map.get($progress-sizes, $key)};
        }
    }

    @each $key, $value in $progress-skins {
        &--#{$key} {
            --progress-background: #{theme.get-color($value, 500)};
        }
    }

    &--rounded {
        --progress-radius: #{$progress-border-radius};
    }
}
