@use "sass:map";

/// Configuration for styles.
$config: (
  "prefix": null,
  "spacings": (
    "none": var(--spacings-none),
    "xxs": var(--spacings-xxs),
    "xs": var(--spacings-xs),
    "sm": var(--spacings-sm),
    "md": var(--spacings-md),
    "lg": var(--spacings-lg),
    "xl": var(--spacings-xl),
    "2xl": var(--spacings-2xl),
    "3xl": var(--spacings-3xl),
    "4xl": var(--spacings-4xl),
    "5xl": var(--spacings-5xl),
    "6xl": var(--spacings-6xl),
    "7xl": var(--spacings-7xl),
    "8xl": var(--spacings-8xl),
    "9xl": var(--spacings-9xl),
  ),
  "blur": (
    "none": var(--blur-none),
    "sm": var(--blur-sm),
    "md": var(--blur-md),
    "lg": var(--blur-lg),
  ),
  "breakpoints": (
    "sm": var(--breakpoints-sm),
    "md": var(--breakpoints-md),
    "lg": var(--breakpoints-lg),
    "xl": var(--breakpoints-xl),
  ),
  "screens": (
    "full": var(--screens-full),
    "sm": var(--screens-sm),
    "md": var(--screens-md),
    "lg": var(--screens-lg),
    "xl": var(--screens-xl),
    "2xl": var(--screens-2xl),
  ),
  "viewport": (
    "vw": var(--viewport-vw),
    "svw": var(--viewport-svw),
    "lvw": var(--viewport-lvw),
    "dvw": var(--viewport-dvw),
    "vh": var(--viewport-vh),
    "svh": var(--viewport-svh),
    "lvh": var(--viewport-lvh),
    "dvh": var(--viewport-dvh),
  ),
  "font-family": (
    "base": var(--font-family-base),
    "sans": var(--font-family-sans),
    "serif": var(--font-family-serif),
    "mono": var(--font-family-mono),
  ),
  "font-size": (
    "xxs": var(--font-size-xxs),
    "xs": var(--font-size-xs),
    "sm": var(--font-size-sm),
    "md": var(--font-size-md),
    "lg": var(--font-size-lg),
    "xl": var(--font-size-xl),
    "2xl": var(--font-size-2xl),
    "3xl": var(--font-size-3xl),
    "4xl": var(--font-size-4xl),
    "5xl": var(--font-size-5xl),
    "6xl": var(--font-size-6xl),
    "7xl": var(--font-size-7xl),
    "8xl": var(--font-size-8xl),
  ),
  "font-weight": (
    "thin": var(--font-weight-thin),
    "light": var(--font-weight-light),
    "normal": var(--font-weight-normal),
    "medium": var(--font-weight-medium),
    "semi-bold": var(--font-weight-semi-bold),
    "bold": var(--font-weight-bold),
    "extra-bold": var(--font-weight-extra-bold),
    "bolder": var(--font-weight-bolder),
  ),
  "line-height": (
    "xs": var(--line-height-xs),
    "sm": var(--line-height-sm),
    "md": var(--line-height-md),
    "lg": var(--line-height-lg),
    "xl": var(--line-height-xl),
    "2xl": var(--line-height-2xl),
    "3xl": var(--line-height-3xl),
    "4xl": var(--line-height-4xl),
    "5xl": var(--line-height-5xl),
    "6xl": var(--line-height-6xl),
  ),
  "radius": (
    "none": var(--radius-none),
    "sm": var(--radius-sm),
    "md": var(--radius-md),
    "lg": var(--radius-lg),
    "xl": var(--radius-xl),
    "2xl": var(--radius-2xl),
    "full": var(--radius-full),
  ),
  "shadow": (
    "none": var(--shadow-none),
    "sm": var(--shadow-sm),
    "md": var(--shadow-md),
    "lg": var(--shadow-lg),
    "xl": var(--shadow-xl),
    "2xl": var(--shadow-2xl),
    "3xl": var(--shadow-3xl),
  ),
  "elevation": (
    "base": var(--elevation-default),
    "navigation": var(--elevation-navigation),
    "popup": var(--elevation-popup),
    "notification": var(--elevation-notification),
    "hint": var(--elevation-hint),
  ),
  "colors": (
    "primary": (
      "background": var(--color-primary-background),
      "background-faded": var(--color-primary-background-faded),
      "background-hovered": var(--color-primary-background-hovered),
      "background-pressed": var(--color-primary-background-pressed),
      "border": var(--color-primary-border),
      "border-faded": var(--color-primary-border-faded),
      "border-hovered": var(--color-primary-border-hovered),
      "foreground": var(--color-primary-foreground),
      "foreground-on-background": var(--color-primary-foreground-on-background),
    ),
    "secondary": (
      "background": var(--color-secondary-background),
      "background-faded": var(--color-secondary-background-faded),
      "background-hovered": var(--color-secondary-background-hovered),
      "background-pressed": var(--color-secondary-background-pressed),
      "border": var(--color-secondary-border),
      "border-faded": var(--color-secondary-border-faded),
      "border-hovered": var(--color-secondary-border-hovered),
      "foreground": var(--color-secondary-foreground),
      "foreground-on-background": var(--color-secondary-foreground-on-background),
    ),
    "neutral": (
      "background": var(--color-neutral-background),
      "background-faded": var(--color-neutral-background-faded),
      "background-hovered": var(--color-neutral-background-hovered),
      "background-pressed": var(--color-neutral-background-pressed),
      "border": var(--color-neutral-border),
      "border-faded": var(--color-neutral-border-faded),
      "border-hovered": var(--color-neutral-border-hovered),
      "foreground": var(--color-neutral-foreground),
      "foreground-on-background": var(--color-neutral-foreground-on-background),
      "foreground-faded": var(--color-neutral-foreground-faded),
    ),
    "info": (
      "background": var(--color-info-background),
      "background-faded": var(--color-info-background-faded),
      "background-hovered": var(--color-info-background-hovered),
      "background-pressed": var(--color-info-background-pressed),
      "border": var(--color-info-border),
      "border-faded": var(--color-info-border-faded),
      "border-hovered": var(--color-info-border-hovered),
      "foreground": var(--color-info-foreground),
      "foreground-on-background": var(--color-info-foreground-on-background),
    ),
    "success": (
      "background": var(--color-success-background),
      "background-faded": var(--color-success-background-faded),
      "background-hovered": var(--color-success-background-hovered),
      "background-pressed": var(--color-success-background-pressed),
      "border": var(--color-success-border),
      "border-faded": var(--color-success-border-faded),
      "border-hovered": var(--color-success-border-hovered),
      "foreground": var(--color-success-foreground),
      "foreground-on-background": var(--color-success-foreground-on-background),
    ),
    "warning": (
      "background": var(--color-warning-background),
      "background-faded": var(--color-warning-background-faded),
      "background-hovered": var(--color-warning-background-hovered),
      "background-pressed": var(--color-warning-background-pressed),
      "border": var(--color-warning-border),
      "border-faded": var(--color-warning-border-faded),
      "border-hovered": var(--color-warning-border-hovered),
      "foreground": var(--color-warning-foreground),
      "foreground-on-background": var(--color-warning-foreground-on-background),
    ),
    "critical": (
      "background": var(--color-critical-background),
      "background-faded": var(--color-critical-background-faded),
      "background-hovered": var(--color-critical-background-hovered),
      "background-pressed": var(--color-critical-background-pressed),
      "border": var(--color-critical-border),
      "border-faded": var(--color-critical-border-faded),
      "border-hovered": var(--color-critical-border-hovered),
      "foreground": var(--color-critical-foreground),
      "foreground-on-background": var(--color-critical-foreground-on-background),
    ),
    "background-default": var(--color-background-default),
    "background-inverted": var(--color-background-inverted),
    "background-surface": var(--color-background-surface),
    "background-elevated": var(--color-background-elevated),
    "background-backdrop": var(--color-background-backdrop),
    "foreground-default": var(--color-foreground-default),
    "foreground-inverted": var(--color-foreground-inverted),
    "white": var(--color-white),
    "black": var(--color-black),
    "focus": var(--color-focus),
  ),
  "disabled": 0.5,
  "transition": (
    "duration": (
      "quickly": var(--duration-quickly),
      "normal": var(--duration-normal),
      "slowly": var(--duration-slowly),
    ),
    "timing-function": (
      "ease-in": var(--timing-ease-in),
      "ease-out": var(--timing-ease-out),
      "ease-in-out": var(--timing-ease-in-out),
    ),
  ),
);

/// Prefix value for CSS variables, allowing for customization and theming.
$prefix: map.get($config, prefix);

/// Defines font family for elements like headings, paragraphs, etc.
$font-family: map.get($config, font-family);

/// Defines font sizes for elements like headings, paragraphs, etc.
$font-size: map.get($config, font-size);

/// Specifies line heights corresponding to different font sizes.
$line-height: map.get($config, line-height);

/// Defines font weights (thin, light, normal, medium, semi-bold, bold extra-bold).
$font-weight: map.get($config, font-weight);

/// Defines spacing values for different sizes (xs, sm, md, lg, xl, 2xl).
$spacings: map.get($config, spacings);

/// Specifies border radius values for elements (sm, md, lg, xl, none, rounded).
$radius: map.get($config, radius);

/// Defines color palettes for primary, neutral, critical, success, info and warning
$colors: map.get($config, colors);

/// Defines responsive breakpoints (sm, md, lg, xl).
$breakpoints: map.get($config, breakpoints);

/// Defines screen sizes (sm, md, lg, xl).
$screens: map.get($config, screens);

/// Defines viewport sizes.
$viewport: map.get($config, viewport);

/// Defines elevation.
$elevation: map.get($config, elevation);

/// Defines shadows.
$shadow: map.get($config, shadow);

/// Opacity value for disabled elements.
$disabled: map.get($config, disabled);

/// Transition settings for animations.
$transition: map.get($config, transition);

/// Duration values for CSS transitions (quickly, normal, slowly).
$transition-duration: map.get($transition, duration);

/// Timing function values for CSS transitions.
$transition-timing-function: map.get($transition, timing-function);

/// Scope naming used inner components styles to prefix CSS vars.
$scope-naming: null;
