.button {
  --button: $c-button-height;
  background: none;
  border: 1px solid;
  border-radius: $c-button-border-radius;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: $u-font-family-serif;
  font-size: $c-button-font-size;
  font-weight: $c-button-font-weight;
  height: var(--button);
  line-height: var(--button);
  margin: 0;
  padding: 0 $c-button-horizontal-padding;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 0;

  &[disabled] {
    opacity: .7;
    pointer-events: none;
  }

  &--large {
    --button-large: $c-button-height + 8px;
    height: var(--button-large);
    line-height: var(--button-large);
    padding: 0 $c-button-horizontal-padding * 3;
  }

  &--medium {
    --button-medium: $c-button-height + 4px;
    height: var(--button-medium);
    line-height: var(--button-medium);
    padding: 0 $c-button-horizontal-padding * 2;
  }

  &--small {
    --button-small: $c-button-height - 4px;
    height: var(--button-small);
    line-height: var(--button-small);
    padding: 0 $c-button-horizontal-padding - 2;
  }

  &--icon {
    border-radius: 50%;
    font-weight: $c-button-font-weight;
    padding: 0;
    width: var(--button);

    .icon {
      pointer-events: none;
    }

    &.button--large {
      width: var(--button-large);
    }

    &.button--medium {
      width: var(--button-medium);
    }

    &.button--small {
      width: var(--button-small);
    }
  }

  @each $key, $values in $buttons {

    &--#{$key} {
      background-color: nth($values, 1);
      color: nth($values, 2);
      overflow: hidden;
      transition: border-color .3s, color .3s;

      &::before {
        background-color: nth($values, 3);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: rotate3d(0, 0, 1, -90deg);
        transform-origin: left bottom;
        transition: transform $c-button-transition-duration $c-button-transition-timing, background-color $c-button-transition-duration $c-button-transition-timing;
        width: 150%;
        will-change: transform;
        z-index: -1;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        color: nth($values, 4);

        &::before {
          background-color: nth($values, 3);
          opacity: 1;
          transform: rotate3d(0, 0, 1, 0deg);
          transition-timing-function: $c-button-transition-timing;
        }
      }
    }
  }
}
