@import '../../utilities/variables';
@import '../../utilities/mixins';

$c-button-font-size: $u-font-size; // 14px
$c-button-font-weight: $u-font-weight; // 400

// Button Size
$c-button-height: 40px;

// Button Horizontal Padding
$c-button-horizontal-padding: 16px;

// Border Radius
$c-button-border-radius: 2px;

// Button Danger
$c-button-color-danger: map-get($u-color-red, 'base');
$c-button-color-danger-hover: map-get($u-color-red, 'darken');

// Button Success
$c-button-color-success: map-get($u-color-green, 'base');
$c-button-color-success-hover: map-get($u-color-green, 'darken');

// Button Info
$c-button-color-info: map-get($u-color-blue, 'base');
$c-button-color-info-hover: map-get($u-color-blue, 'darken');

// Button Default
$c-button-color-default: map-get($u-color-grey, 'base');
$c-button-color-default-hover: map-get($u-color-grey, 'darken');

// Button Animation Transition
$c-button-transition-timing: cubic-bezier(.2, 1, .3, 1);
$c-button-transition-duration: .4s;

$buttons: (
  'danger': ($c-button-color-danger, $u-color-white, $c-button-color-danger-hover, $u-color-white),
  'success': ($c-button-color-success, $u-color-white, $c-button-color-success-hover, $u-color-white),
  'info': ($c-button-color-info, $u-color-white, $c-button-color-info-hover, $u-color-white),
  'default': ($c-button-color-default, $u-color-white, $c-button-color-default-hover, $u-color-white)
);

@import 'button';
