@use 'sass:map';
@use '../theme/scss' as theme;
@use './variables' as *;

@include theme.scope($textarea-root) {
    --textarea-border: #{map.get($textarea-skins-default, border)};
    --textarea-border-hover: #{map.get($textarea-skins-default, border-hover)};

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $textarea-sizes;
    padding: $textarea-spacings;
    border: 1px solid var(--textarea-border);
    border-radius: $textarea-border-radius;
    font-size: $textarea-font-size;
    font-family: inherit;
    font-weight: $textarea-font-weight;
    touch-action: manipulation;

    &:hover {
        border-color: var(--textarea-border-hover);
    }

    @include theme.focus-styles();
    @include theme.disabled-styles();

    @each $key, $value in $textarea-skins {
        &--#{$key} {
            --textarea-border: #{map.get($value, border)};
            --textarea-border-hover: #{map.get($value, border-hover)};
        }
    }
}
