.icon{
    width: $global-icon-size;
    height: $global-icon-size;
  & *{
    font-size: $global-icon-size;
  }
  &--rounded{
    background-color: red;
    border-radius: 50%;
  }
  &--square{
    background-color: red;
  }
  &--small{
    width: $global-icon-size / 2;
    height: $global-icon-size / 2;
    & *{
        font-size: $global-icon-size / 2;
      }
  }
  &--big{
    width: $global-icon-size * 2;
    height: $global-icon-size * 2;
    & *{
        font-size: $global-icon-size * 2;
      }
  }
}
