@use "@stewed/react/src/theme/src/styles" as theme;

$card-root: "card";

/// Styles
$card-background: #fff;
$card-border-radius: theme.get-radius("md");
$card-inner-spacing-x: theme.get-spacing("xl");
$card-inner-spacing-y: theme.get-spacing("xl");
