@use "@stewed/react/src/theme/src/styles" as theme;

$card-root: "card";

/// Space
$card-padding: theme.get-spacing();

/// Elevation
$card-elevation: theme.get-elevation();

/// Skins
$card-skins: (
  "neutral": theme.get-color("neutral"),
  "neutral-faded": theme.get-color("neutral", "faded"),
  "primary": theme.get-color("primary"),
  "primary-faded": theme.get-color("primary", "faded"),
);
