@use "@stewed/react/src/theme/src/styles" as theme;

$card-root: "card";

/// Space
$card-padding: theme.get-spacing();

/// Shadow
$card-shadow: theme.get-shadow();

/// Skins
$card-skins: (
  "neutral": theme.get-color("neutral"),
  "neutral-faded": theme.get-color("neutral", "100"),
  "primary": theme.get-color("primary"),
  "primary-faded": theme.get-color("primary", "100"),
);
