@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($card-root) {
  @include theme.define-var(
    (
      border-radius: theme.get-radius("md"),
      background: $card-background,
      border-color: theme.get-color("secondary", "200"),
    )
  );

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: theme.get-var(background);
  border: 1px solid theme.get-var(border-color);
  border-radius: theme.get-var(border-radius);

  &__body {
    flex: 1;
  }

  &__header {
    &--bordered {
      border-bottom: 1px solid theme.get-var(border-color);
    }
  }

  &__footer {
    &--bordered {
      border-top: 1px solid theme.get-var(border-color);
    }
  }

  &__header,
  &__body,
  &__footer {
    padding-block: theme.get-spacing("xl");
    padding-inline: theme.get-spacing("xl");
  }

  &--selected {
    @include theme.define-var(
      (
        card-border-color: transparent,
      )
    );

    box-shadow: 0 0 0 2px theme.get-color("primary", "500");
  }
}
