@use "@stewed/react/src/theme/src/styles" as theme;

$aspect-ratio-root: "aspect-ratio";

/// Ratios
$aspect-ratio-sizes: (
  "1-1": 1,
  "2-3": 0.6667,
  "3-2": 1.5,
  "4-3": 1.333,
  "16-9": 1.777,
);

/// Radius
$aspect-ratio-radius: theme.get-radius();
