@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($aspect-ratio-root) {
  position: relative;

  @include theme.define-var(
    (
      border-radius: inherit,
    )
  );

  @each $key, $value in $aspect-ratio-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          aspect-ratio: $value,
        )
      );
    }
  }

  // Radius
  @each $key, $value in $aspect-ratio-radius {
    &--radius-#{$key} {
      @include theme.define-var(
        (
          border-radius: $value,
        )
      );
    }
  }

  &:not(:empty) > * {
    display: block;
    aspect-ratio: theme.get-var(aspect-ratio);
    border-radius: theme.get-var(border-radius);
  }
}
