@use "sass:map";
@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($aspect-ratio-root) {
  position: relative;
  height: 100%;
  border-radius: inherit;

  @each $key, $value in $aspect-ratio-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          size: map.get($aspect-ratio-sizes, $key),
        )
      );
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: theme.get-var(size);
    border-radius: inherit;
  }
}
