@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($aspect-ratio-root) {
  position: relative;
  height: 100%;
  border-radius: theme.get-var(border-radius);

  @each $key, $value in $aspect-ratio-sizes {
    &--#{$key} {
      @include theme.define-var(
        (
          aspect-ratio: $value,
        )
      );
    }
  }

  @each $key, $value in $aspect-ratio-radius {
    &--#{$key} {
      @include theme.define-var(
        (
          border-radius: $value,
        )
      );
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: theme.get-var(aspect-ratio);
    border-radius: inherit;
  }
}
