@use "@stewed/react/src/theme/src/styles" as theme;
@use "./variables" as *;

@include theme.scope($scroll-area-root) {
  overflow: hidden scroll;

  &--top-shadow,
  &--bottom-shadow {
    position: sticky;
    display: block;
    width: 100%;
    content: "";
  }

  &--top-shadow {
    &::before {
      top: 0;
      box-shadow: 0 2px 6px 2px theme.get-color("shadow");
    }
  }

  &--bottom-shadow {
    &::after {
      bottom: 0;
      box-shadow: 0 2px 6px 2px theme.get-color("shadow");
    }
  }
}
