/* stylelint-disable order/order */
#{$textfield-root} {
  position: relative;
  display: flex;
  width: 100%;

  #{$textfield-control-root} {
    @include set($textfield-padding, $textfield-padding-base);
    @include set($textfield-radius, $textfield-radius-base);
    @include set($textfield-border-color, $textfield-border-color-base);
    @include set($textfield-color, $textfield-color-base);

    width: 100%;
    padding: get($textfield-padding);
    border: 1px solid get($textfield-border-color);
    border-radius: get($textfield-radius);
    outline: none;
    background-color: transparent;
    color: get($textfield-color);
    -webkit-appearance: none;
    box-shadow: none;

    @include get-typography(base);

    &:focus {
      @include set($textfield-border-color, $color-primary);
    }

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &--shaped {
    #{$textfield-control-root} {
      @include set($textfield-radius, $textfield-radius-large);
    }
  }

  &--sm {
    #{$textfield-control-root} {
      @include set($textfield-padding, $textfield-padding-small);
    }
  }

  &--lg {
    #{$textfield-control-root} {
      @include set($textfield-padding, $textfield-padding-large);
    }
  }

  &--textarea {
    #{$textfield-control-root} {
      height: $textfield-textarea-min-height * 2;
      resize: none;
    }
  }

  @each $key, $value in $textfield-states {
    &.has-#{$key} {
      .textfield__control {
        @include set($textfield-color, $value);
        @include set($textfield-border-color, $value);
      }
    }
  }
}
