<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stewed | Test</title>
    <link rel="stylesheet" href="../styles/demo.css">
    <link rel="stylesheet" href="../../dist/stewed.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
</head>
<body>
    <h1>Stewed</h1>
    <section>
        <h2>Radio</h2>
        <div class="stw-form-field demo-radio">
            <div class="stw-radio" tabindex="1">
                <input class="stw-radio__control" id="radio-1" type="radio" name="demo-radio" />
                <div class="stw-radio__background"></div>
            </div>
            <label for="radio-1">Yes</label>
        </div>
        <div class="stw-form-field demo-radio">
            <div class="stw-radio" tabindex="1">
                <input class="stw-radio__control" id="radio-2" type="radio" name="demo-radio" />
                <div class="stw-radio__background"></div>
            </div>
            <label for="radio-2">No</label>
        </div>
        <div class="stw-form-field demo-radio">
            <div class="stw-radio stw-radio--disabled" tabindex="-1">
                <input class="stw-radio__control" id="radio-3" type="radio" name="demo-radio" checked disabled="disabled" />
                <div class="stw-radio__background"></div>
            </div>
            <label for="radio-3">Maybe</label>
        </div>
    </section>

    <section>
        <h2>Checkbox</h2>
        <div class="stw-form-field">
            <div class="stw-checkbox" tabindex="1">
                <input class="stw-checkbox__control" id="checkbox-1" type="checkbox" />
                <div class="stw-checkbox__background"></div>
            </div>
            <label for="checkbox-1">Checkbox #01</label>
        </div>
        <div class="stw-form-field">
            <div class="stw-checkbox" tabindex="1">
                <input class="stw-checkbox__control" id="checkbox-2" type="checkbox" />
                <div class="stw-checkbox__background"></div>
            </div>
            <label for="checkbox-2">Checkbox #02</label>
        </div>
        <div class="stw-form-field">
            <div class="stw-checkbox stw-checkbox--disabled" tabindex="-1">
                <input class="stw-checkbox__control" id="checkbox-3" type="checkbox" checked disabled="disabled" />
                <div class="stw-checkbox__background"></div>
            </div>
            <label for="checkbox-3">Checkbox #03</label>
        </div>
    </section>
</body>
</html>
