<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stewed | Radio</title>
    <link rel="stylesheet" href="../../dist/stewed.css">
</head>
<body>
    <section>
        <h1>Radio</h1>
        <p>Radio buttons are most commonly used in groups, to allow a user to pick one of several grouped options. For example, selecting whether a template field is shared or private</p>

        <h2>Best practices</h2>
        <p>When changing a setting, radio buttons should always be accompanied with a label.</p>
        <p>Labels should be descriptive enough, that they can stand up on their own.</p>
    </section>
    <section>
        <h2>Radio</h2>
        <p>Default radio button</p>
        <div class="form-field">
            <div class="radio" tabindex="1">
                <input class="radio__control" id="example-1" type="radio" />
                <div class="radio__background"></div>
            </div>
            <label for="example-1" />
        </div>
    </section>

    <section>
        <p>Default radio button</p>
        <div class="form-field">
            <div class="radio" tabindex="1">
                <input class="radio__control" id="example-2" type="radio" name="demo-radio" />
                <div class="radio__background"></div>
            </div>
            <label for="example-2">Yes</label>
        </div>
        <div class="form-field">
            <div class="radio" tabindex="1">
                <input class="radio__control" id="example-3" type="radio" name="demo-radio" />
                <div class="radio__background"></div>
            </div>
            <label for="example-3">No</label>
        </div>
    </section>
</body>
</html>
