@use 'sass:map';
@use '../theme' as theme;
@use './variables' as *;

@include theme.scope($tag-root) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--tag-size);
    max-width: fit-content;
    line-height: 1;
    padding: 0 var(--tag-spacing);
    border-radius: $tag-border-radius;
    background-color: var(--tag-background);
    color: $tag-color;
    font-size: var(--tag-font-size);
    font-weight: $tag-title-font-weight;
    white-space: nowrap;
    text-decoration: none;

    &--sm {
        --tag-size: #{map.get($tag-sizes, 'sm')};
        --tag-spacing: #{map.get(theme.$spacings, 'md')};
        --tag-font-size: #{map.get($tag-font-sizes, 'xs')};
    }

    &--md {
        --tag-size: #{map.get($tag-sizes, 'md')};
        --tag-spacing: #{map.get(theme.$spacings, 'md')};
        --tag-font-size: #{map.get($tag-font-sizes, 'sm')};
    }

    &--lg {
        --tag-size: #{map.get($tag-sizes, 'lg')};
        --tag-spacing: #{map.get(theme.$spacings, 'md')};
        --tag-font-size: #{map.get($tag-font-sizes, 'md')};
    }

    @each $key, $value in $tag-skins {
        &--#{$key} {
            --tag-background: #{theme.get-color($value, 500)};

            &[href]:hover {
                --tag-background: #{theme.get-color($value, 600)};
            }
        }
    }
}
